<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if (error.hasError()) { %>
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            You need to fix the errors on this page before continuing.
          </h2>
          <div class="govuk-error-summary__body">
            <p>See highlighted errors below.</p>
            <ul class="govuk-list govuk-error-summary__list">
            <% error.getUniqueFields(['pupil-autocomplete-container', 'accessArrangementsList']).map(f => { %>
              <li><a href="#<%= f %>"><%= error.get(f) %></a></li>
            <% }) %>
            </ul>
          </div>
        </div>
      <% } %>

        <h1 class="govuk-heading-xl"><%= pageTitle %></h1>
        <%- partial('partials/_gds_session_expiry') %>
        <form id="submitAccessArrangements" method="post" action="/access-arrangements/submit" autocomplete="off">
            <input type="hidden" name="_csrf" value="<%= csrftoken %>"/>
            <h2 class="govuk-heading-l">1. Select access arrangements</h2>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        What do these access arrangements mean?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <dl class="govuk-panel-list">
                        <dt><strong>Audible time alert</strong></dt>
                        <dd> A beep that sounds two seconds before the end of
                            each question, then a different beep will sound to
                            signal  the end of each question.
                        </dd>

                        <dt><strong>Audio version</strong></dt>
                        <dd>The screen reader will read out all text displayed
                            on the screen, including instructions and questions
                            and the answer inputted after each key press. Please
                            note, the MTC does not support third-party screen
                            readers. All pupils requiring this functionality will
                            need to use the in-built screen reader due to
                            incompatibility with the timed function.
                        </dd>

                        <dt><strong>Colour contrast</strong></dt>
                        <dd>Change the text and background colours.</dd>

                        <dt><strong>Font size</strong></dt>
                        <dd>Increase or decrease the size of the text and
                            number pad on the screen.
                        </dd>

                        <dt><strong>Input assistance</strong></dt>
                        <dd>An input assistant is someone who enters answers
                            dictated by the pupil. An input assistant can be
                            used when a pupil is physically:
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>unable to enter their own answers</li>
                                    <li>able to input but inputting causes physical discomfort</li>
                                    <li>able to input but inputs very slowly</li>
                                    <li>able to input but finds inputting very difficult</li>
                                </ul>
                        </dd>

                        <dt><strong>Pause — 'next' button between questions</strong></dt>
                        <dd>
                              Instead of a 3–second pause between questions, the pupil can
                              press a ‘Next’ button when they are ready to start a new
                              question. There is a 30–minute time limit to complete the
                              check using this access arrangement.
                        </dd>


                        <dt><strong>Remove on–screen number pad</strong></dt>
                        <dd>Only the question–and–answer box will show on screen. The pupil will need a keyboard to enter their response.</dd>
                    </dl>
                </div>
            </details>
            <div class="govuk-form-group <%= error.isError('accessArrangementsList') ? 'govuk-form-group--error' : '' %>">
                <span class="govuk-error-message"><%= error.get('accessArrangementsList') %></span>
                <ul class="govuk-list checkbox-list govuk-!-margin-left-0 govuk-!-margin-bottom-4" id="accessArrangementsList" role="listbox" aria-label="Select access arrangement(s)">
                <% Array.isArray(accessArrangementsViewData) && accessArrangementsViewData.forEach( (accessArrangement, index) => { %>
                    <li>
                        <div class="govuk-!-font-size-16">
                            <label class="govuk-label" for="accessArrangements-<%= index %>">
                                <%= accessArrangement.description %>
                            </label>
                        </div>
                        <div class="multiple-choice-mtc">
                            <input id="accessArrangements-<%= index %>"
                                   name="accessArrangements[<%= index %>]"
                                   class="govuk-checkboxes__input"
                                   type="checkbox"
                                   value="<%= accessArrangement.code %>"
                                    <%= formData['accessArrangements'] && formData['accessArrangements'].includes(accessArrangement.code) && 'checked' %>
                            >
                            <div></div>
                        </div>
                        <% if (accessArrangement.code === 'ITA') { %>
                            <div class="hide-checkbox-content">
                                <div class="govuk-warning-text">
                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                    <strong class="govuk-warning-text__text">
                                        <span class="govuk-warning-text__assistive">Warning</span>
                                        Name of input assistant will need to be provided during the pupil's multiplication tables check
                                    </strong>
                                </div>
                            </div>
                        <% } %>
                    </li>
                    <% }) %>
                </ul>
            </div>
            <% if(!formData['isEditView']) { %>
                <div id="selectAccessArrangementsPupil"
                     class="govuk-form-group <%= error.isError('pupil-autocomplete-container') ? 'govuk-form-group--error' : '' %>">
                    <h2 class="govuk-heading-l">2. Search for pupil name</h2>
                    <div id="pupilFormControl" class="govuk-body govuk-!-width-one-half">
                        <span class="govuk-error-message"><%= error.get('pupil-autocomplete-container') %></span>
                        <select class="govuk-select" name="pupilUrlSlug" id="pupil-autocomplete-container">
                            <option value="">Select a pupil</option>
                            <% pupils.forEach(p => { %>
                                <option
                                        value="<%= p.urlSlug %>" <%= p.urlSlug === formData['pupilUrlSlug'] ? 'selected' : ''%>><%= p.fullName %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            <% } else { %>
                <div class="govuk-inset-text">
                    <p class="govuk-body">
                        For <%= formData['lastName'] %>, <%= formData['foreName'] %>
                    </p>
                </div>
            <% } %>
            <button type="submit" id="save-access-arrangement" class="govuk-button govuk-!-margin-right-2" data-module="govuk-button" data-prevent-double-click="true">Save</button>
            <a href="/access-arrangements/overview" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Cancel
            </a>
        <% if(formData['isEditView']) { %>
            <input type="hidden" id="isEditView" name="isEditView" value="true" />
            <input type="hidden" id="urlSlug" name="urlSlug" value="<%= formData['pupilUrlSlug'] ||
            formData['urlSlug'] %>" />
        <% } %>
        </form>
        <div class="govuk-back-to-top">
          <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
              <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                  <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
              </svg>Back to top
          </a>
        </div>
    </div>
  </div>
</main>
<% if(formData['isEditView']) { %>
    <%- partial('partials/_gds_modal_box', {
        modalTitle: 'Remove arrangements',
        modalText: 'Are you sure you want to remove all access arrangements for this pupil?',
        modalConfirmationLabel: 'Yes',
        modalConfirmationUrl: '#',
        modalCancelLabel: 'No',
        modalCancelUrl: '/access-arrangements/select-access-arrangements/' + formData['pupilUrlSlug']
    }) %>
<% } %>
<% const pupilUrlSlug = !!formData['pupilUrlSlug'] ? formData['pupilUrlSlug'] : '' %>
<script>
  document.addEventListener('DOMContentLoaded', function() {
      <% if(!formData['isEditView']) { %>
    var getPupilUrlSlug = '<%= pupilUrlSlug %>'
    window.MTCAdmin.autoComplete.createNameComponent('#pupil-autocomplete-container', 2, getPupilUrlSlug)
      <% } %>
    window.MTCAdmin.accessArrangements()
  })
</script>
