<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl"><%= title %></h1>
        <%- partial('partials/_gds_session_expiry') %>
        <div class="govuk-body govuk-info-message govuk-!-margin-top-9 govuk-!-margin-bottom-9">
            Currently unavailable as the multiplication tables check window <% if(availabilityData.checkWindowYear){ %>for <%= availabilityData.checkWindowYear %><% } %> has closed.
        </div>
    </div>
    <div class="govuk-grid-column-one-third" aria-label="sidebar">
        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
                Related
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Read the guidance and watch videos</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>
