<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
  <main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Confirm pupil move
        </h1>
        <h2 class="govuk-heading-m">
          <%= pupil.lastName %>, <%= pupil.firstName %>
        </h2>
        <%- partial('partials/_gds_session_expiry') %>
          <%- partial('partials/_flash-messages') %>
              <form action="" method="post">
                <input type="hidden" name="_csrf" value="<%= csrftoken %>" />

                <p>Moving <b><%= `${pupil.lastName}, ${pupil.firstName} ${pupil.middleNames}` %></b> (DOB: <%= pupil.dateOfBirth %>) %></p>
                <p>From school: <b><%= pupil.schoolName %></b> (DfE# <%= pupil.dfeNumber %>) %></p>
                <p>To school: <b><%= school.name %></b> URN: <%= school.urn %> DFE number: <%= school.dfeNumber %> </p>

                <button type="submit" id="searchh-btn" class="govuk-button">Move the pupil to <%= school.name %></button>
                <a class="govuk-button govuk-button--secondary" href="/service-manager/pupil-summary/<%= pupil.urlSlug.toLowerCase() %>">Cancel</a>

              </form>
      </div>
      <div class="govuk-grid-column-one-third" aria-label="sidebar">
        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Read the
                  guidance and watch videos</a>
              </li>
            </ul>
          </nav>
        </aside>
      </div>
    </div>
  </main>
