<%
let now = new Date();
let currentYear = now.getFullYear();
let createOrSave;
if (formData._id) {
    createOrSave = '/school/pupil/edit';
} else {
    createOrSave = '/school/pupil/add';
}
%>


<form action="<%= createOrSave %>" method="post" novalidate>
    <input type="hidden" name="school" value="<%= school.dfeNumber%>"/>
    <% if (formData._id) { %>
    <input type="hidden" name="_id" value="<%= formData._id %>">
    <% } %>

    <div class="form-group <%= err.isError('foreName') ? 'form-group-error' : '' %>">
        <label class="form-label-bold" for="foreName">First name
            <% if (err.isError('foreName')) { %>
            <span class="error-message"><%= err.get('foreName') %></span>
            <% } %>
        </label>
        <input type="text"
               id="foreName"
               class="form-control <%= err.isError('foreName') ? 'form-control-error' : '' %>"
               name="foreName"
               value="<%= formData['foreName'] %>"/>
    </div>

    <div class="form-group <%= err.isError('middleNames') ? 'form-group-error' : '' %>">
        <label class="form-label-bold" for="middleNames">Middle name(s)<span
                    class="label-optional">(optional)</span>
            <% if (err.isError('middleNames')) { %>
            <span class="error-message"><%= err.get('middleNames') %></span>
            <% } %>
        </label>
        <input type="text"
               id="middleNames"
               class="form-control <%= err.isError('middleNames') ? 'form-control-error' : '' %>"
               name="middleNames"
               value="<%= formData['middleNames'] %>"/>
    </div>

    <div class="form-group <%= err.isError('lastName') ? 'form-group-error' : '' %>">
        <label class="form-label-bold" for="lastName">Last name
            <% if (err.isError('lastName')) { %>
            <span class="error-message"><%= err.get('lastName') %></span>
            <% } %>
        </label>
        <input type="text"
               id="lastName"
               class="form-control <%= err.isError('lastName') ? 'form-control-error' : '' %>"
               name="lastName"
               value="<%= formData['lastName'] %>"/>
    </div>

    <div class="form-group <%= err.isError('upn') ? 'form-group-error' : '' %>">
        <label class="form-label-bold" for="upn">Unique pupil number (UPN)
            <% if (err.isError('upn')) { %>
            <span class="error-message"><%= err.get('upn') %></span>
            <% } %>
        </label>
        <input type="text"
               id="upn"
               class="form-control <%= err.isError('upn') ? 'form-control-error' : '' %>"
               name="upn"
               value="<%= formData['upn'] %>"/>

        <div class="master-detail text">
            <details>
                <summary><span class="summary"> What is the UPN? </span></summary>
                <div class="panel-no-border">
                    <p>
                        The unique pupil number (UPN) is a 13-character code that identifies each pupil in the
                        local authority maintained school system.
                    </p>
                    <p>
                        If your pupil does not have a UPN please follow the guidance on
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://www.gov.uk/government/publications/unique-pupil-numbers">how to generate UPNs (link opens in a new window)</a>.
                    </p>
                </div>
            </details>
        </div>
    </div>

    <div class="form-group <%= err.isError('dob-day') || err.isError('dob-month') || err.isError('dob-year') ? 'form-group-error' : '' %>"
         id="dob">
        <fieldset tabindex="0" aria-labelledby="date-of-birth">
            <legend>
                <span class="form-label-bold" id="date-of-birth">Date of birth</span>
                <span class="form-hint">For example, 30 6 2005</span>
                <% if (err.isError('dob-day') || err.isError('dob-month') || err.isError('dob-year')) { %>
                <span class="error-message">
                                    <%= ['dob-day', 'dob-month', 'dob-year'].filter(f => {
                                        return err.isError(f);
                                    })
                                            .map(f => {
                                                return err.get(f);
                                            }).shift() %>
                                 </span>
                <% } %>
            </legend>
            <div class="form-date">
                <div class="form-group form-group-day">
                    <label class="form-label" for="dob-day">Day</label>
                    <input class="form-control <%= err.isError('dob-day') ? 'form-control-error' : '' %>"
                           id="dob-day"
                           name="dob-day"
                           type="number"
                           min="0" max="31"
                           value="<%= formData['dob-day'] %>"/>
                </div>
                <div class="form-group form-group-month">
                    <label class="form-label" for="dob-month">Month</label>
                    <input class="form-control <%= err.isError('dob-month') ? 'form-control-error' : '' %>"
                           id="dob-month"
                           name="dob-month"
                           type="number"
                           min="0"
                           max="12"
                           value="<%= formData['dob-month'] %>"/>
                </div>
                <div class="form-group form-group-year">
                    <label class="form-label" for="dob-year">Year</label>
                    <input class="form-control <%= err.isError('dob-year') ? 'form-control-error' : '' %>"
                           id="dob-year" name="dob-year"
                           type="number"
                           min="0"
                           max="<%= currentYear %>"
                           value="<%= formData['dob-year'] %>">
                </div>
            </div>
        </fieldset>
    </div>

    <div class="form-group <%= err.isError('gender') ? 'form-group-error' : '' %>" id="gender">
        <fieldset tabindex="0" role="radiogroup">
            <legend class="form-label-bold">Gender
                <% if (err.isError('gender')) { %>
                <span class="error-message"><%= err.get('gender') %></span>
                <% } %>
            </legend>
            <div class="multiple-choice">
                <input id="gender-female"
                       type="radio"
                       role="radio"
                       aria-checked="false"
                       name="gender"
                       value="F"
                       <% if (formData['gender'] === 'F') { %>checked="checked"
                        <% } %>
                />
                <label for="gender-female">Female</label>
            </div>

            <div class="multiple-choice">
                <input id="gender-male"
                       type="radio"
                       role="radio"
                       aria-checked="false"
                       name="gender"
                       value="M"
                       <% if (formData['gender'] === 'M') { %>checked="checked"
                        <% } %>
                />
                <label for="gender-male">Male</label>
            </div>
        </fieldset>
    </div>

    <div class="form-buttons">
        <input type="submit" class="button" value="<%= submitLabel %>"/>
        <a href="/school/pupil-register/lastName/true" class="button button-secondary">Cancel</a>
    </div>
</form>
<div class="back-to-top-container">
    <a href="#top"> Back to top </a>
</div>
