<%
let now = new Date();
let currentYear = now.getFullYear();
let createOrSave;
if (formData.urlSlug) {
    createOrSave = '/pupil-register/pupil/edit';
} else {
    createOrSave = '/pupil-register/pupil/add';
}
%>

<form action="<%= createOrSave %>" method="post" novalidate>
    <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
    <% if (formData.urlSlug) { %>
    <input type="hidden" name="urlSlug" value="<%= formData.urlSlug %>">
    <% } %>

    <div class="form-group <%= err.isError('foreName') ? 'form-group-error' : '' %>">
        <label class="form-label-bold" for="foreName">First name
            <% if (err.isError('foreName')) { %>
            <span class="error-message"><%= err.get('foreName') %></span>
            <% } %>
        </label>
        <input type="text"
               id="foreName"
               class="form-control <%= err.isError('foreName') ? 'form-control-error' : '' %>"
               name="foreName"
               value="<%= formData['foreName'] %>"/>
    </div>

    <div class="form-group <%= err.isError('middleNames') ? 'form-group-error' : '' %>">
        <label class="form-label-bold" for="middleNames">Middle name(s)<span
                    class="label-optional">(optional)</span>
            <% if (err.isError('middleNames')) { %>
            <span class="error-message"><%= err.get('middleNames') %></span>
            <% } %>
        </label>
        <input type="text"
               id="middleNames"
               class="form-control <%= err.isError('middleNames') ? 'form-control-error' : '' %>"
               name="middleNames"
               value="<%= formData['middleNames'] %>"/>
    </div>

    <div class="form-group <%= err.isError('lastName') ? 'form-group-error' : '' %>">
        <label class="form-label-bold" for="lastName">Last name
            <% if (err.isError('lastName')) { %>
            <span class="error-message"><%= err.get('lastName') %></span>
            <% } %>
        </label>
        <input type="text"
               id="lastName"
               class="form-control <%= err.isError('lastName') ? 'form-control-error' : '' %>"
               name="lastName"
               value="<%= formData['lastName'] %>"/>
    </div>
    <% const upnErrors = err.get('upn') %>
    <div class="form-group <% if (upnErrors && upnErrors.length > 0) { %> form-group-error<% } %>">
        <label class="form-label-bold" for="upn">Unique pupil number (UPN)
            <% if (upnErrors) { %>
            <% upnErrors.map(e => { %>
            <label class="error-message"><%= e %></label>
            <% }) %>
            <% } %>
        </label>
        <input type="text"
               id="upn"
               class="form-control <%= err.isError('upn') ? 'form-control-error' : '' %>"
               name="upn"
               value="<%= formData['upn'] %>"/>

        <div class="master-detail text">
            <details>
                <summary><span class="summary"> What is the UPN? </span></summary>
                <div class="panel panel-border-narrow">
                    <p>
                        The unique pupil number (UPN) is a 13-character code that identifies each pupil in the
                        local authority maintained school system.
                    </p>
                    <p>
                        If your pupil does not have a UPN please follow the guidance on
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://www.gov.uk/government/publications/unique-pupil-numbers">how to generate UPNs (link opens in a new window)</a>.
                    </p>
                </div>
            </details>
        </div>
    </div>

    <div class="form-group <%= err.isError('dob-day') || err.isError('dob-month') || err.isError('dob-year') ? 'form-group-error' : '' %>"
         id="dob">
        <fieldset aria-labelledby="date-of-birth">
            <legend>
                <span class="form-label-bold" id="date-of-birth">Date of birth</span>
                <span class="form-hint">For example, 30 6 <%= pupilExampleYear %></span>
                <% const dobErrors = ['dob-day', 'dob-month', 'dob-year'].filter(f => err.isError(f)) %>
                <% if (dobErrors.every(e => (err.get(e) === err.get(dobErrors[0])))) { %>
                  <div class="error-message"><%= err.get(dobErrors[0]) %></div>
                <% } else { %>
                  <% dobErrors.map(f => { %>
                  <% if (typeof err.get(f) !== 'boolean') { %>
                    <div class="error-message"><%= err.get(f) %></div>
                  <% } %>
                  <% }) %>
                <% } %>
            </legend>
            <div class="form-date">
                <div class="form-group form-group-day">
                    <label class="form-label" for="dob-day">Day</label>
                    <input class="form-control <%= err.isError('dob-day') ? 'form-control-error' : '' %>"
                           id="dob-day"
                           name="dob-day"
                           type="number"
                           min="0" max="31"
                           value="<%= formData['dob-day'] %>"/>
                </div>
                <div class="form-group form-group-month">
                    <label class="form-label" for="dob-month">Month</label>
                    <input class="form-control <%= err.isError('dob-month') ? 'form-control-error' : '' %>"
                           id="dob-month"
                           name="dob-month"
                           type="number"
                           min="0"
                           max="12"
                           value="<%= formData['dob-month'] %>"/>
                </div>
                <div class="form-group form-group-year">
                    <label class="form-label" for="dob-year">Year</label>
                    <input class="form-control <%= err.isError('dob-year') ? 'form-control-error' : '' %>"
                           id="dob-year" name="dob-year"
                           type="number"
                           min="0"
                           max="<%= currentYear %>"
                           value="<%= formData['dob-year'] %>">
                </div>
            </div>
            <div class="<%= formData['ageReason'] || err.isError('ageReason') ? 'show-age-content' : 'hide-age-content' %>">
              <div class="panel panel-border-wide">
                <div class="<%= err.isError('ageReason') ? 'form-group-error' : '' %>">
                  <div class="form-label" for='ageReason'><div>The expected age range of pupils taking the check is 8 to 9 years old. Please provide a reason why this pupil's age is outside of this range.</div>
                    <% if (err.isError('ageReason')) { %>
                    <span class="error-message"> <%= err.get('ageReason') %></span>
                    <% } %>
                    <textarea
                      id="ageReason"
                      name="ageReason"
                      class="form-control form-control-3-4 age-reason-textarea <%= err.isError('ageReason') ? 'form-control-error' : '' %>"
                      rows="3"
                      maxlength="1000"><%= formData['ageReason'] && formData['ageReason'].trim() %></textarea>
                  </div>
                </div>
              </div>
            </div>
        </fieldset>
    </div>

    <div class="form-group <%= err.isError('gender') ? 'form-group-error' : '' %>" id="gender">
        <fieldset  role="radiogroup">
            <legend class="form-label-bold">Gender
                <% if (err.isError('gender')) { %>
                <span class="error-message"><%= err.get('gender') %></span>
                <% } %>
            </legend>
            <div class="multiple-choice">
                <input id="gender-female"
                       type="radio"
                       role="radio"
                       aria-checked="false"
                       name="gender"
                       value="F"
                       <% if (formData['gender'] && formData['gender'].toUpperCase() === 'F') { %>checked="checked"
                        <% } %>
                />
                <label for="gender-female">Female</label>
            </div>

            <div class="multiple-choice">
                <input id="gender-male"
                       type="radio"
                       role="radio"
                       aria-checked="false"
                       name="gender"
                       value="M"
                       <% if (formData['gender'] && formData['gender'].toUpperCase() === 'M') { %>checked="checked"
                        <% } %>
                />
                <label for="gender-male">Male</label>
            </div>
        </fieldset>
    </div>

    <div class="form-buttons">
        <input type="submit" class="button" value="<%= submitLabel %>"/>
        <a href="/pupil-register/pupils-list" class="button button-secondary">Cancel</a>
    </div>
</form>
<div class="back-to-top-container">
    <a href="#top"> Back to top </a>
</div>

<script>
  window.addEventListener('load', function() {
    window.GOVUK.pupilForm()
  })
</script>
