<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<% if (hasError) { %>
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-1">Errors in your uploaded file</h2>
            <% if (fileErrors && fileErrors.hasError()) { %>
            <p>You need to fix the errors on this page before continuing. See highlighted errors below.</p>
            <ul class="error-summary-list">
                <% fileErrors.getUniqueFields(['file-upload']).map(f => { %>
                <% const errors = fileErrors.get(f) %>
                <% if (Array.isArray(errors)) { %>
                <%  errors.map(e => { %>
                <li><a href="#<%= f %>"><%= e %></a></li>
                <% }) } else { %>
                <li><a href="#<%= f %>"><%= errors %></a></li>
                <% } %>
                <% }) %>
            </ul>
            <% } else { %>
            <p>Please download the file below which highlights the errors.<br>
                Correct the errors and upload the updated file.
            </p>
            <div class="icon-file-download pupils-template"></div>
            <b><a class="template-link" download='pupil-errors.csv' href="/pupil-register/pupil/download-error-csv">Pupil details file with errors</a></b> (CSV file)
            <% } %>
        </div>
    </div>
</div>
<% } %>

<header class="page-header">
    <h1 class="heading-xlarge">Add multiple pupils</h1>
</header>

<%- partial('partials/_session_expiry') %>

<div class="grid-row">
    <div class="column-two-thirds">
        <h3 class="heading-medium">Download template</h3>
        <ol class="list list-number">
            <li>Download the template
                <div class="panel panel-border-wide short">
                    <a href="/csv/mtc-pupil-details-template-sheet-1.csv" class="heading-small icon-download">Pupil details template</a> (CSV file)
                </div>
            </li>
            <li>Open file in a programme like Excel, OpenOffice or Google Sheets</li>
            <li>Add pupil details using the given format</li>
            <li>Save as a CSV file on your computer</li>
            <li>Select 'Choose file' button and navigate to the file on your computer</li>
            <li>Choose the file to upload</li>
            <li>Click 'Upload'</li>
        </ol>
    </div>
    <div class="column-two-thirds">
        <h3 class="heading-medium">Upload file</h3>
        <form action="/pupil-register/pupil/add-batch-pupils" enctype="multipart/form-data" method="post" name="upload-template" id="upload-form">
            <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
            <div class="form-group<% if (fileErrors && fileErrors.hasError()) { %> form-group-error<% } %>">
                <% if (fileErrors && fileErrors.hasError()) { %>
                <label class="error-message">There is a problem with the form content</label>
                <% } %>
                <div class="font-xsmall">
                    <input type="file" name="csvTemplateFile" id="file-upload" accept="text/csv" aria-label="Choose a file to upload" />
                </div>
                <input type="reset" class="link remove-file" id="removeUploadedFile" value="Remove file" aria-label="Remove uploaded file." />
            </div>
            <div class="form-buttons">
                <input type="submit" id="upload-form-submit" class="button" value="Upload" disabled="disabled" />
                <a href="/pupil-register/pupils-list" class="button button-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div class="back-to-top-container">
    <b><a href="#top">Back to top</a></b>
</div>
