<%
const err = error;
const input = (typeof formData !== 'undefined') ? formData : {};
const heading = 'Edit pupil details';
const submitLabel = 'Save';
const headingClass = 'heading-xlarge';
%>

<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<% if (err.hasError()) { %>
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-1">Check the pupil’s details</h2>
            <p>You need to fix the errors on this page before continuing. See highlighted errors below</p>
            <ul class="error-summary-list">
                <% err.getUniqueFields(['foreName', 'middleNames', 'lastName', 'upn', 'dob-day', 'dob-month', 'dob-year', 'gender']).map(f => { %>
                <li><a href="#<%= f %>"><%= err.get(f) %></a></li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>
<% } %>

<header class="page-header">
    <h1 class="heading-xlarge">Edit pupil details</h1>
</header>


<%- partial('school/_pupil-form', {
    input: input,
    err: err,
    school: school,
    formData: input,
    heading: heading,
    submitLabel: submitLabel,
    headingClass: headingClass,
    formHeader: 'Edit'
}) %>
