<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<% if (messages && messages.info && messages.info.length) { %>
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="info-message">
            <%= messages.info %>
        </div>
    </div>
</div>
<% } %>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 tabindex="0" class="heading-xlarge">Manage pupils</h1>
        <p tabindex="0" class="lede" id="lead-paragraph" aria-labelledby="lead-paragraph">Use this section to add and edit pupils and generate PINs for pupils</p>
        <p><a class="button button-secondary" href="/school/pupil/add">Add pupils</a></p>
    </div>
</div>

<% if (schoolPin.length > 0) { %>
<div class="grid-row">
    <div class="column-one-half">
        <div class="box-light-grey">
            <div class="left-padding" aria-describedby="school-password">
                <p class="font-small" id="school-password" tabindex="0">School password for <%= formatFullGdsDate(todayDate) %></p>
                <div class="font-xxlarge" tabindex="0"><strong><%= schoolPin %></strong></div>
            </div>
        </div>
    </div>
    <div class="column-one-half"></div>
</div>
<% } %>
<% if (typeof pupils !== 'object' || Object.keys(pupils).length < 1) { %>
  <p>No pupils found</p>
<% } else { %>
    <% const candidates = pupils.filter((p) => !p.hasScore)%>
    <div class="grid-row">
        <div class="column-one-half">
            <h2 class="heading-medium heading-border-top" tabindex="0">Pupils to take check</h2>

            <form method="post" action="/school/\-pins" autocomplete="off">
                <div class="form-group box-grey form-horizontal">
                    <input class="button width-60" type="submit" value="Generate PIN(s)">
                    <a href="/school/print-pupils" class="pupils-print-pins">Print PINs</a>
                </div>

                <table class="spacious" id="pupilsList" role="listbox" aria-label="List of pupils to take check.">
                    <thead>
                        <tr>
                            <th scope="col" class="multiple-choice">
                                <div class="tick-all-boxes">
                                    <% if (candidates.some((p) => !p.pin)) { %>
                                    <input id="tickAllCheckboxes" name="allPupils" type="checkbox" aria-label="Select all pupils.">
                                    <% } %>
                                    <label for="tickAllCheckboxes">Pupil</label>
                                </div>
                                <div class="tick-all-boxes-nojs">Pupil</div>
                            </th>
                            <th class="side-padding"><span class="hidden-and-readable">Edit Pupil</span></th>
                            <th scope="col" class="nowrap">Pupil PIN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% candidates.forEach( (candidate, index) => { %>
                        <tr>
                            <td>
                                <div class="multiple-choice pupils-list">
                                    <% if (candidate.pin === null) { %>
                                    <input id="pupil-<%= candidate._id %>"
                                           name="pupil[<%= index %>]"
                                           type="checkbox"
                                           value="<%= candidate._id %>"
                                           aria-label="Tick pupil <%= candidate.foreName %> <%= candidate.lastName %>."
                                           role="checkbox">
                                    <label for="pupil-<%= candidate._id %>">
                                        <strong><%= candidate.foreName %> <%= candidate.lastName %></strong><br />
                                        <span class="font-xsmall">Date of birth: <%= candidate.dob %></span>
                                    </label>
                                    <% } else { %>
                                    <div>
                                        <strong><%= candidate.foreName %> <%= candidate.lastName %></strong><br />
                                        <span class="font-xsmall">Date of birth: <%= candidate.dob %></span>
                                    </div>
                                    <% } %>
                                </div>
                            </td>
                            <td>
                                <a href="/school/pupil/edit/<%= candidate._id %>" class="font-xsmall" aria-label="Edit <%= candidate.foreName %> <%= candidate.lastName %>."><i>edit</i></a>
                            </td>
                            <td>
                                <% if (candidate.pin !== null) { %>
                                    <% if (candidate.pinExpired === true) { %>
                                    <span class="font-xsmall font-greyed-out italic">PIN expired</span>
                                    <% } else { %>
                                    <span tabindex="0" aria-label="Pin for pupil<%= candidate.foreName %> <%= candidate.lastName %> is <%= candidate.pin %>."><%= candidate.pin %></span>
                                    <% } %>
                                <% } else { %>
                                <span class="font-greyed-out" tabindex="0" aria-label="No PIN available.">n/a</span>
                                <% } %>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="column-one-half">
            <h2 class="heading-medium heading-border-top" tabindex="0">Checks completed</h2>
            <% const pupilsCompleted = pupils.filter((p) => p.hasScore)%>
            <% if (pupilsCompleted.length < 1) { %>
            <p>No pupils completed</p>
            <% } else { %>
            <table class="spacious" id="resultsList" role="list">
                <thead>
                    <tr>
                        <th scope="col" class="bottom-padding">Pupil</th>
                        <th scope="col" class="bottom-padding">Results</th>
                    </tr>
                </thead>
                <tbody>
                <% pupilsCompleted.forEach((pupil) => { %>
                <tr role="listitem">
                    <td>
                        <strong tabindex="0" aria-label="Pupil <%= pupil.foreName %> <%= pupil.lastName %>"><%= pupil.foreName %> <%= pupil.lastName %></strong><br />
                        <span class="font-xsmall">Date of birth: <%= pupil.dob %></span>
                    </td>
                    <td>
                        <span tabindex="0" aria-label="Score is <%= pupil.percentage %>"><%= pupil.percentage %></span>
                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
            <% } %>
        </div>
    </div>
<% } %>
