<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <% if (messages && messages.info && messages.info.length) { %>
            <div class="info-message">
                <%= messages.info %>
            </div>
        <% } %>
        <div>
            <h1 tabindex="0" class="heading-xlarge">Pupil register</h1>
            <a class="button button-secondary" href="/school/pupil/add"> Add pupil </a>
            <a class="button button-secondary" href="/school/pupil/add-batch-pupils"> Add multiple pupils </a>
        </div>
        <table id='register-pupils' class="spacious">
            <thead>
                <tr>
                    <th scope="col" class="two-thirds">
                        <a class="no-underline" href=<%= `/school/pupil-register/lastName/${sortOrder}` %> >
                            Pupil
                            <span class="<%= sortColumn === 'lastName' ? sortClass : '' %>" ></span>
                        </a>
                    </th>
                    <th class="numeric" scope="col">
                        <a class="no-underline">
                            Group
                        </a>
                    </th>
                    <th class="numeric" scope="col">
                        <a class="no-underline" href=<%= `/school/pupil-register/score/${sortOrder}` %> >
                        Status
                        <span class="<%= sortColumn === 'score' ? sortClass : '' %>" ></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
            <% pupils.forEach((p) => { %>
                <tr>
                    <td class="pupil-name-container">
                        <% if (highlight && highlight.has(p.urlSlug.toString())) { %>
                        <div class="highlight"></div>
                        <% } %>
                        <div class="pupil-name <% if (highlight && highlight.has(p.urlSlug.toString())) { %>indent<% } %>%>">
                            <div class="truncate">
                                <a class="bold-small" href="/school/pupil/edit/<%= p.urlSlug %>" >
                                    <%= `${p.lastName}, ${p.foreName}` %>
                                </a>
                            </div>

                            <% if (p.showDoB) { %>
                            <div class="font-greyed-out font-xsmall">
                                Date of birth: <%= p.dob %>
                            </div>
                            <% } %>
                        </div>
                    </td>
                    <td class="numeric table-cell"><%= p.group %></td>
                    <td class="numeric table-cell"><%= p.outcome %></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
        <div class="back-to-top-container">
            <a href="#top">Back to top</a>
        </div>
    </div>
    <div class="column-one-third add-title-margin" tabindex="0" aria-label="sidebar">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium" tabindex="0">Related</h3>
            <nav role="navigation">
                <ul class="list">
                    <li><a href="" >Guidance</a></li>
                    <li><a href="" >Pupils not taking the check</a></li>
                    <li><a href="" >Access arrangements</a></li>
                </ul>
            </nav>
        </aside>

    </div>
</div>



