<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <% if (messages && messages.info && messages.info.length) { %>
            <div class="info-message">
                <%= messages.info %>
            </div>
        <% } %>
        <div>
            <h1 class="heading-xlarge">Pupil register</h1>
            <p class="lede">
                This list uses anonymous pupil data in the format Pupil 1, Pupil 2, etc. If you need to add more pupils please follow this pattern. Do not use real pupil data. To withdraw pupils, go to <a href="/school/pupils-not-taking-check">Pupils not taking the check</a>.
            </p>
            <div class="button-wrapper">
                <% if (isFeatureEnabled('pupilAdd')) { %>
                <a class="button button-secondary" href="/school/pupil/add"> Add pupil </a>
                <% } else { %>
                <a class="button button-secondary disabled-link" href="#"> Add pupil </a>
                <% } %>

                <% if (isFeatureEnabled('pupilUpload')) { %>
                <a class="button button-secondary" href="/school/pupil/add-batch-pupils"> Add multiple pupils </a>
                <% } else { %>
                <a class="button button-secondary disabled-link" href="#"> Add multiple pupils </a>
                <% } %>
            </div>
        </div>
        <table id="register-pupils" class="spacious">
            <thead>
                <tr>
                    <th scope="col" class="two-thirds">
                        <a class="no-underline" id="sortingLink" href="/school/pupil-register/name/<%= htmlSortDirection.name %>">Pupil<span class="<%= arrowSortDirection.name %>"><span>Sort by pupil <%= htmlSortDirection.name %></span></span></a>
                    </th>
                    <th scope="col">
                        <a class="no-underline" id="sortingLink" href="/school/pupil-register/group/<%= htmlSortDirection.group %>">Group<span class="<%= arrowSortDirection.group %>"><span>Sort by group <%= htmlSortDirection.group %></span></span></a>
                    </th>
                    <th scope="col">
                        <a class="no-underline" id="sortingLink" href="/school/pupil-register/status/<%= htmlSortDirection.status %>">Status<span class="<%= arrowSortDirection.status %>"><span>Sort by status <%= htmlSortDirection.status %></span></span></a>
                    </th>
                </tr>
            </thead>
            <tbody>
            <% pupils.forEach((p) => { %>
                <tr>
                    <td<% if (highlight && highlight.has(p.urlSlug.toString())) { %> class="highlight-item"<% } %>>
                        <div class="highlight-wrapper">
                            <% if (isFeatureEnabled('pupilEdit')) { %>
                                <a class="bold-small truncate" href="/school/pupil/edit/<%= p.urlSlug %>" >
                                    <%= `${p.lastName}, ${p.foreName}` %>
                                </a>
                                <% } else { %>
                                <span class="bold-small truncate">
                                    <%= `${p.lastName}, ${p.foreName}` %>
                                </span>
                            <% } %>
                            <% if (p.showDoB) { %>
                                <div class="font-greyed-out font-xsmall">
                                    Date of birth: <%= p.dob %>
                                </div>
                            <% } %>
                        </div>
                    </td>
                    <td><%= p.group %></td>
                    <td class="nowrap column-narrow"><%= p.outcome %></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
        <div class="back-to-top-container">
            <a href="#top">Back to top</a>
        </div>
    </div>
    <div class="column-one-third sidebar" aria-label="sidebar">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium">Related</h3>
            <nav role="navigation">
                <ul class="list">
                    <li><a href="<%= assetPath %>PDFs/MTC_CAG_Feb_2018_Trial.pdf" target="_blank" rel="noopener noreferrer">Guidance</a></li>
                    <li><a href="/school/group-pupils">Group pupils</a></li>
                    <li><a href="/school/pupils-not-taking-check">Pupils not taking the check</a></li>
                    <li><a href="#">Access arrangements</a></li>
                </ul>
            </nav>
        </aside>

    </div>
</div>



