<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <% if (serviceMessage) { %>
                <div class="govuk-body govuk-warning-message govuk-!-margin-bottom-7 govuk-!-margin-top-0">
                    <h2 class="govuk-heading-l">
                        <%= serviceMessage.title %>
                    </h2>
                    <p class="govuk-body"><%= serviceMessage.message %></p>
                </div>
            <% } %>
            <h1 class="govuk-heading-xl">Manage the multiplication tables check for <%= schoolName %></h1>
            <%- partial('partials/_gds_session_expiry') %>
            <% if (user && user.role === roles.helpdesk) { %>
            <h3 class="govuk-heading-m">Support Tools</h3>
            <ol class="govuk-list">
                <li class="govuk-!-margin-bottom-4">
                    <h2 class="govuk-heading-s arrow-up"><a class="govuk-link" href="/helpdesk/school-summary">View PIN usage</a></h2>
                </li>
            </ol>
            <% } %>
            <h3 class="govuk-heading-m">Prepare for the check</h3>
            <ol class="govuk-list">
                <li class="govuk-!-margin-bottom-4">
                    <h2 class="govuk-heading-s arrow-up"><a class="govuk-link" href="<%- guidancePdf %>" target="_blank">Read guidance and watch videos</a></h2>
                </li>
                <li class="govuk-!-margin-bottom-4">
                    <h2 class="govuk-heading-s arrow-up"><a class="govuk-link" href="/pupil-register/pupils-list">View, add or edit pupils on your school's register</a></h2>
                </li>
                <li class="govuk-!-margin-bottom-4">
                    <% if (featureEligibilityData.isGroupsPageAccessible) { %>
                    <h2 class="govuk-heading-s arrow-up"><a class="govuk-link" href="/group/pupils-list">Organise pupils into groups</a></h2>
                    <% } else { %>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-0"><a class="govuk-font-greyed-out govuk-disabled-link">Organise pupils into groups</a></h2>
                    <strong class="disabled-banner">UNAVAILABLE</strong>
                    <% } %>
                </li>
                <li class="govuk-!-margin-bottom-4">
                    <h2 class="govuk-heading-s arrow-up"><a class="govuk-link" href="/pupils-not-taking-the-check/pupils-list">Give a reason why a pupil is not taking the check</a></h2>
                </li>
                <li class="govuk-!-margin-bottom-4">
                    <% if (isFeatureEnabled('accessArrangements')) { %>
                    <h2 class="govuk-heading-s arrow-up"><a class="govuk-link" href="/access-arrangements/overview">Enable access arrangements for pupils who need them</a></h2>
                    <% } else { %>
                    <h2 class="govuk-heading-s arrow-up"><a class="govuk-font-greyed-out govuk-disabled-link">Enable access arrangements for pupils who need them</a></h2>
                    <% } %>
                </li>
            </ol>
            <h3 class="govuk-heading-m govuk-!-margin-top-9">Preview the check</h3>
            <ol class="govuk-list">
                <li class="govuk-!-margin-bottom-4">
                    <% if (featureEligibilityData.isFamiliarisationPinGenerationAllowed) { %>
                    <h2 class="govuk-heading-s arrow-up"><a class="govuk-link" href="/pupil-pin/generate-familiarisation-pins-overview">Generate passwords and PINs for the try it out check</a></h2>
                    <% } else { %>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-0"><a class="govuk-font-greyed-out govuk-disabled-link">Generate passwords and PINs for the try it out check</a></h2>
                        <strong class="disabled-banner">UNAVAILABLE</strong>
                        <% if (featureEligibilityData.isWithinFamiliarisationUnavailableHours) { %>
                            <span class="govuk-!-font-size-14 govuk-font-greyed-out">Open 6am - 4pm</span>
                        <% } %>
                        <% if (featureEligibilityData.isFamiliarisationInTheFuture) { %>
                            <span class="govuk-!-font-size-14 govuk-font-greyed-out">Open 6am - 4pm on <%= featureEligibilityData.familiarisationCheckStartDate %> - <%= featureEligibilityData.familiarisationCheckEndDate %></span>
                        <% } %>
                    <% } %>
                </li>
            </ol>
            <h3 class="govuk-heading-m govuk-!-margin-top-9">Start the official check</h3>
            <ol class="govuk-list">
                <li class="govuk-!-margin-bottom-4">
                    <% if (featureEligibilityData.isLivePinGenerationAllowed) { %>
                    <h2 class="govuk-heading-s arrow-up"><a class="govuk-link" href="/pupil-pin/generate-live-pins-overview">Generate passwords and PINs for the official check</a></h2>
                    <% } else { %>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-0"><a class="govuk-font-greyed-out govuk-disabled-link">Generate passwords and PINs for the official check</a></h2>
                        <strong class="disabled-banner">UNAVAILABLE</strong>
                        <% if (featureEligibilityData.isWithinLiveUnavailableHours) { %>
                            <span class="govuk-!-font-size-14 govuk-font-greyed-out">Open 6am - 4pm</span>
                        <% } %>
                        <% if (featureEligibilityData.isLiveInTheFuture) { %>
                            <span class="govuk-!-font-size-14 govuk-font-greyed-out">Open 6am - 4pm on <%= featureEligibilityData.liveCheckStartDate %> - <%= featureEligibilityData.liveCheckEndDate %></span>
                        <% } %>
                    <% } %>
                </li>
            </ol>
            <h3 class="govuk-heading-m govuk-!-margin-top-9">Review the check</h3>
            <ol class="govuk-list">
                <li class="govuk-!-margin-bottom-4">
                    <% if (featureEligibilityData.isHdfPageAccessible) { %>
                    <h2 class="govuk-heading-s arrow-up"><a class="govuk-link" href="/pupil-status">See how many of your pupils have completed the official check</a></h2>
                    <% } else { %>
                        <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-0"><a class="govuk-font-greyed-out govuk-disabled-link">See how many of your pupils have completed the official check</a></h2>
                        <strong class="disabled-banner">UNAVAILABLE</strong>
                        <span class="govuk-!-font-size-14 govuk-font-greyed-out">Opens <%= featureEligibilityData.liveCheckStartDate %></span>
                    <% } %>
                </li>
                <li class="govuk-!-margin-bottom-4">
                    <% if (featureEligibilityData.isRestartsPageAccessible) { %>
                    <h2 class="govuk-heading-s arrow-up"><a class="govuk-link" href="/restart/overview">Select pupils to restart the check</a></h2>
                    <% } else { %>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-0"><a class="govuk-font-greyed-out govuk-disabled-link">Select pupils to restart the check</a></h2>
                    <strong class="disabled-banner">UNAVAILABLE</strong>
                    <% } %>
                </li>
            </ol>
            <h3 class="govuk-heading-m govuk-!-margin-top-9">After the check</h3>
            <ol class="govuk-list">
                <li class="govuk-!-margin-bottom-4">
                    <% if (featureEligibilityData.isHdfPageAccessible) { %>
                    <h2 class="govuk-heading-s arrow-up"><a class="govuk-link" href="/attendance/declaration-form">Complete the headteacher's declaration form</a></h2>
                    <p>All pupils must have a status 'Completed' or a reason for not taking the check.</p>
                    <% } else { %>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-0"><a class="govuk-font-greyed-out govuk-disabled-link">Complete the headteacher's declaration form</a></h2>
                    <strong class="disabled-banner">UNAVAILABLE</strong>
                    <span class="govuk-!-font-size-14 govuk-font-greyed-out">Opens <%= featureEligibilityData.liveCheckStartDate %></span>
                    <% } %>
                </li>
                <li class="govuk-!-margin-bottom-4">
                    <% if (isResultsFeatureAccessible) { %>
                    <h2 class="govuk-heading-s arrow-up"><a class="govuk-link" href="/results/view-results">View pupil results</a></h2>
                    <% } else { %>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-0"><a class="govuk-font-greyed-out govuk-disabled-link">View pupil results</a></h2>
                    <strong class="disabled-banner">UNAVAILABLE</strong>
                    <span class="govuk-!-font-size-14 govuk-font-greyed-out">Results available <%= featureEligibilityData.resultsPublishedDate %></span>
                    <% } %>
                </li>
            </ol>
        </div>
    </div>
</main>
