<div class="grid-row">
    <div class="column-full">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row" aria-describedby="lead-paragraph">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Multiplication tables check
            for <%= schoolName %></h1>

        <%- partial('partials/_session_expiry') %>

        <ol class="list">
            <li>
                <h2 class="heading-small arrow-up"><a href="/pupil-register/pupils-list">Pupil register</a></h2>
                <span>Add, edit and review pupils</span>
                <% if (hasIncompleteChecks) { %>
                <p>
                  <strong class="warning-banner">INCOMPLETE</strong>
                  <span class="font-xsmall font-greyed-out">There are pupils with an incomplete status in your register</span>
                </p>
              <% } %>
            </li>

            <li>
              <% if (featureEligibilityData.isGroupsPageAccessible) { %>
                <h2 class="heading-small"><a href="/group/pupils-list">Group pupils</a></h2>
                <p>Create groups</p>
              <% } else { %>
                <h2 class="heading-small"><a class="font-greyed-out disabled-link" href="#">Group pupils</a></h2>
                <span>Create groups</span>
                <p>
                  <strong class="disabled-banner">UNAVAILABLE</strong>
                </p>
              <% } %>
            </li>

            <li>
                <h2 class="heading-small"><a href="/pupils-not-taking-the-check/pupils-list">Pupils not taking the check</a></h2>
                <p>Enter a reason for pupils who are unable to take the check</p>
            </li>

            <li>
                <% if (isFeatureEnabled('accessArrangements')) { %>
                <h2 class="heading-small"><a href="/access-arrangements/overview">Access arrangements</a></h2>
                <p>Select arrangements for pupils with access needs</p>
                <% } else { %>
                <h2 class="heading-small"><a class="font-greyed-out disabled-link" href="#">Access arrangements</a></h2>
                <p>Select arrangements for pupils with access needs</p>
                <% }%>
            </li>

            <li>
                <% if (featureEligibilityData.isFamiliarisationPinGenerationAllowed) { %>
                <h2 class="heading-small"><a href="/pupil-pin/generate-familiarisation-pins-overview">Try it out - password and PINs</a></h2>
                <p>Generate school password and personal identification numbers (PINs) so pupils can familiarise themselves with the MTC</p>
                <% } else { %>
                <h2 class="heading-small"><a class="font-greyed-out disabled-link" href="#">Try it out - password and PINs</a></h2>
                <span>Generate school password and personal identification numbers (PINs) so pupils can familiarise themselves with the MTC</span>
                <p>
                    <strong class="disabled-banner">UNAVAILABLE</strong>
                    <% if (featureEligibilityData.isWithinFamiliarisationUnavailableHours) { %>
                    <span class="font-xsmall font-greyed-out">Open 8am - 4pm</span>
                    <% } %>
                    <% if (featureEligibilityData.isFamiliarisationInTheFuture) { %>
                    <span class="font-xsmall font-greyed-out">Open 8am - 4pm on <%= featureEligibilityData.familiarisationCheckStartDate %> - <%= featureEligibilityData.familiarisationCheckEndDate %></span>
                    <% } %>
                </p>
                <% } %>
            </li>

            <li>
                <% if (featureEligibilityData.isLivePinGenerationAllowed) { %>
                <h2 class="heading-small"><a href="/pupil-pin/generate-live-pins-overview">Start the multiplication tables check - password and PINs</a></h2>
                <p>Generate school password and personal identification numbers (PINs) so pupils can take the MTC</p>
                <% } else { %>
                <h2 class="heading-small"><a class="font-greyed-out disabled-link" href="#">Start the multiplication tables check - password and PINs</a></h2>
                <span>Generate school password and personal identification numbers (PINs) so pupils can take the MTC</span>
                <p>
                    <strong class="disabled-banner">UNAVAILABLE</strong>
                    <% if (featureEligibilityData.isWithinLiveUnavailableHours) { %>
                    <span class="font-xsmall font-greyed-out">Open 8am - 4pm</span>
                    <% } %>
                    <% if (featureEligibilityData.isLiveInTheFuture) { %>
                    <span class="font-xsmall font-greyed-out">Open 8am - 4pm on <%= featureEligibilityData.liveCheckStartDate %> - <%= featureEligibilityData.liveCheckEndDate %></span>
                    <% } %>
                </p>
                <% } %>
            </li>
            <li>
              <% if (featureEligibilityData.isRestartsPageAccessible) { %>
                <h2 class="heading-small"><a href="/restart/overview">Restarts</a></h2>
                <p>Select pupils to restart because of an interrupted check</p>
              <% } else { %>
                <h2 class="heading-small"><a class="font-greyed-out disabled-link" href="#">Restarts</a></h2>
                <span>Select pupils to restart because of an interrupted check</span>
                <p>
                    <strong class="disabled-banner">UNAVAILABLE</strong>
                    <% if (featureEligibilityData.isLiveInTheFuture) { %>
                    <span class="font-xsmall font-greyed-out">Open on <%= featureEligibilityData.liveCheckStartDate %> - <%= featureEligibilityData.liveCheckEndDate %></span>
                    <% } %>
                </p>
              <% } %>
            </li>
            <li>
              <% if (featureEligibilityData.isHdfPageAccessible) { %>
              <h2 class="heading-small"><a href="/attendance/declaration-form">Headteacher's declaration form</a></h2>
              <p>Complete headteacher's declaration form once all pupils have a status of 'Completed' or a reason for not taking the check</p>
              <% } else { %>
              <h2 class="heading-small"><a class="font-greyed-out disabled-link" href="#">Headteacher's declaration form</a></h2>
              <span>Complete headteacher's declaration form once all pupils have a status of 'Completed' or a reason for not taking the check</span>
              <p>
                <strong class="disabled-banner">UNAVAILABLE</strong>
                <br />
                <span class="font-xsmall font-greyed-out">All pupils must have a status 'Completed' or a reason for not taking the check.</p>
              </p>
              <% } %>
            </li>
            <li>
                <% if (featureEligibilityData.isResultFeatureAccessible) { %>
                <h2 class="heading-small"><a href="/results/view-results">Results</a></h2>
                <p>View pupil results</p>
                <% } else { %>
                <h2 class="heading-small"><a class="font-greyed-out disabled-link" href="">Results</a></h2>
                <span>View pupil results</span>
                <p>
                  <strong class="disabled-banner">UNAVAILABLE</strong>
                  <span class="font-xsmall font-greyed-out">Published on <%= featureEligibilityData.resultsPublishedDate %></span>
                </p>
                <% } %>
              </li>
        </ol>
    </div>

    <div class="column-one-third sidebar" role="group" aria-label="sidebar">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium">Related</h3>
            <nav role="navigation">
                <ul class="list">
                    <li>
                        <a href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Guidance (PDF)</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>
