<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <% if (serviceMessage) { %>
                <div class="govuk-body govuk-warning-message govuk-!-margin-bottom-7 govuk-!-margin-top-0">
                    <h2 class="govuk-heading-l">
                        <%= serviceMessage.title %>
                    </h2>
                    <p class="govuk-body"><%= serviceMessage.message %></p>
                </div>
            <% } %>
            <h1 class="govuk-heading-xl">Multiplication tables check for <%= schoolName %></h1>
            <%- partial('partials/_gds_session_expiry') %>
            <h3 class="govuk-heading-m">Prepare for the check</h3>
            <ol class="govuk-list">
                <li>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-2"><a class="govuk-link" href="<%- guidancePdf %>" target="_blank">Guidance documents</a></h2>
                    <p class="govuk-body-m">
                        Read the three guidance documents and watch the guidance videos to ensure best use and understanding of how to administer the MTC to pupils
                    </p>
                </li>
                <li>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-2"><a class="govuk-link" href="/pupil-register/pupils-list">Pupil register</a></h2>
                    <p class="govuk-body-m">
                        Add, edit and review pupils
                    </p>
                </li>
                <li>
                    <% if (featureEligibilityData.isGroupsPageAccessible) { %>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-2"><a class="govuk-link" href="/group/pupils-list">Group pupils</a></h2>
                    <p class="govuk-body-m">
                        Create groups e.g. by class or ability.
                        These can be used as a filter when generating and printing PINs for the 'Try it out' and official MTC check
                    </p>
                    <% } else { %>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-2"><a class="govuk-font-greyed-out govuk-disabled-link">Group pupils</a></h2>
                    <p class="govuk-body-m">
                        Create groups e.g. by class or ability.
                        These can be used as a filter when generating and printing PINs for the 'Try it out' and official MTC check<br/>
                        <strong class="disabled-banner">UNAVAILABLE</strong>
                    </p>
                    <% } %>
                </li>
                <li>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-2"><a class="govuk-link" href="/pupils-not-taking-the-check/pupils-list">Remove pupils from the MTC register</a></h2>
                    <p class="govuk-body-m">
                        Enter a reason for pupils who were unable to take the check.
                        This includes pupils who have left the school and those with circumstances that exempts them from taking the check
                    </p>
                </li>
                <li>
                    <% if (isFeatureEnabled('accessArrangements')) { %>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-2"><a class="govuk-link" href="/access-arrangements/overview">Access arrangements</a></h2>
                    <p class="govuk-body-m">
                        Select arrangements for pupils with special educational needs or disabilities
                    </p>
                    <% } else { %>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-2"><a class="govuk-font-greyed-out govuk-disabled-link">Access arrangements</a></h2>
                    <p class="govuk-body-m">
                        Select arrangements for pupils with special educational needs or disabilities
                    </p>
                    <% } %>
                </li>
            </ol>
            <h3 class="govuk-heading-m govuk-!-margin-top-9">Preview the check</h3>
            <ol class="govuk-list">
                <li>
                    <% if (featureEligibilityData.isFamiliarisationPinGenerationAllowed) { %>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-2"><a class="govuk-link" href="/pupil-pin/generate-familiarisation-pins-overview">Pupil 'try it out'</a></h2>
                    <p class="govuk-body-m">
                        Generate school password and personal identification numbers (PINs) so pupils can familiarise themselves with the MTC
                    </p>
                    <% } else { %>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-2"><a class="govuk-font-greyed-out govuk-disabled-link">Pupil 'try it out'</a></h2>
                    <span>
                        Generate school password and personal identification numbers (PINs) so pupils can familiarise themselves with the MTC
                    </span>
                    <p class="govuk-body-m">
                        <strong class="disabled-banner">UNAVAILABLE</strong>
                        <% if (featureEligibilityData.isWithinFamiliarisationUnavailableHours) { %>
                            <span class="govuk-!-font-size-14 govuk-font-greyed-out">Open 8am - 4pm</span>
                        <% } %>
                        <% if (featureEligibilityData.isFamiliarisationInTheFuture) { %>
                            <span class="govuk-!-font-size-14 govuk-font-greyed-out">Open 8am - 4pm on <%= featureEligibilityData.familiarisationCheckStartDate %> - <%= featureEligibilityData.familiarisationCheckEndDate %></span>
                        <% } %>
                    </p>
                    <% } %>
                </li>
            </ol>
            <h3 class="govuk-heading-m govuk-!-margin-top-9">Start the official check</h3>
            <ol class="govuk-list">
                <li>
                    <% if (featureEligibilityData.isLivePinGenerationAllowed) { %>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-2"><a class="govuk-link" href="/pupil-pin/generate-live-pins-overview">Start the Multiplication Tables Check - Generate passwords and PINs</a></h2>
                    <p class="govuk-body-m">
                        Generate school password and personal identification numbers (PINs) so pupils can take the MTC
                    </p>
                    <% } else { %>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-2"><a class="govuk-font-greyed-out govuk-disabled-link">Start the Multiplication Tables Check - Generate passwords and PINs</a></h2>
                    <span>Generate school password and personal identification numbers (PINs) so pupils can take the MTC</span>
                    <p>
                        <strong class="disabled-banner">UNAVAILABLE</strong>
                        <% if (featureEligibilityData.isWithinLiveUnavailableHours) { %>
                            <span class="govuk-!-font-size-14 govuk-font-greyed-out">Open 8am - 4pm</span>
                        <% } %>
                        <% if (featureEligibilityData.isLiveInTheFuture) { %>
                            <span class="govuk-!-font-size-14 govuk-font-greyed-out">Open 8am - 4pm on <%= featureEligibilityData.liveCheckStartDate %> - <%= featureEligibilityData.liveCheckEndDate %></span>
                        <% } %>
                    </p>
                    <% } %>
                </li>
            </ol>
            <h3 class="govuk-heading-m govuk-!-margin-top-9">Review the check</h3>
            <ol class="govuk-list">
                <li>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-2"><a class="govuk-link" href="">Pupil status</a></h2>
                    <p class="govuk-body-m">
                        View the pupil status after they have taken the check
                        <% if (hasIncompleteChecks) { %>
                        <p class="govuk-!-margin-bottom-6 govuk-!-margin-top-0">
                            <strong class="warning-banner">REVIEW PUPIL STATUS</strong>
                            <span class="govuk-!-font-size-14 govuk-font-greyed-out">Ensure all pupils have successfully completed the check</span>
                        </p>
                        <% } %>
                    </p>
                </li>
                <li>
                    <% if (featureEligibilityData.isRestartsPageAccessible) { %>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-2"><a class="govuk-link" href="/restart/overview">Restarts</a></h2>
                    <p class="govuk-body-m">
                        Select pupils to restart because of an interrupted check
                    </p>
                    <% } else { %>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-2"><a class="govuk-font-greyed-out govuk-disabled-link">Restarts</a></h2>
                    <p class="govuk-body-m">
                        Select pupils to restart because of an interrupted check<br/>
                        <strong class="disabled-banner">UNAVAILABLE</strong>
                    </p>
                    <% } %>
                </li>
            </ol>
            <h3 class="govuk-heading-m govuk-!-margin-top-9">After the check</h3>
            <ol class="govuk-list">
                <li>
                    <% if (featureEligibilityData.isHdfPageAccessible) { %>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-2"><a class="govuk-link" href="/attendance/declaration-form">Headteacher's declaration form</a></h2>
                    <p class="govuk-body-m">
                        Complete headteacher's declaration form once all pupils have completed or have a reason for not taking the check
                    </p>
                    <% } else { %>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-2"><a class="govuk-font-greyed-out govuk-disabled-link">Headteacher's declaration form</a></h2>
                    <span>Complete headteacher's declaration form once all pupils have completed or have a reason for not taking the check</span>
                    <p class="govuk-body-m">
                        <strong class="disabled-banner">UNAVAILABLE</strong>
                        <br />
                        <span class="govuk-!-font-size-14 govuk-font-greyed-out">All pupils must have a status 'Completed' or a reason for not taking the check.</span>
                    </p>
                    <% } %>
                </li>
                <li>
                    <% if (isResultsFeatureAccessible) { %>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-2"><a class="govuk-link" href="/results/view-results">Results</a></h2>
                    <p class="govuk-body-m">
                        View pupils' results
                    </p>
                    <% } else { %>
                    <h2 class="govuk-heading-s arrow-up govuk-!-margin-bottom-2"><a class="govuk-font-greyed-out govuk-disabled-link">Results</a></h2>
                    <span>View pupils' results</span>
                    <p>
                        <strong class="disabled-banner">UNAVAILABLE</strong>
                        <span class="govuk-!-font-size-14 govuk-font-greyed-out">Open 8am - 4pm starting from <%= featureEligibilityData.resultsPublishedDate %></span>
                    </p>
                    <% } %>
                </li>
            </ol>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="app-step-nav-related app-step-nav-related--singular-v2">
                <h2 class="app-step-nav-related__heading">
                    <span class="app-step-nav-related__pretitle">MTC Process</span>
                </h2>
            </div>
            <div id="step-by-step-navigation" data-module="gemstepnav" class="app-step-nav app-step-nav--active govuk-!-margin-top-0" data-id="e01e924b-9c7c-4c71-8241-66a575c2f61f" data-show-text="show" data-hide-text="hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
                <ol class="app-step-nav__steps">
                    <li class="app-step-nav__step js-step step-is-shown" id="prepare-for-the-check">
                        <div class="app-step-nav__header js-toggle-panel" data-position="1">
                            <h3 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                  <span class="app-step-nav__circle-background">
                                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 1
                                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                                  </span>
                                </span>
                              </span>
                                <span class="js-step-title">
                                <button
                                        class="app-step-nav__button app-step-nav__button--title js-step-title-button"
                                        aria-expanded="true"
                                        aria-controls="step-panel-1">
                                    <span class="js-step-title-text">
                                        Prepare for the check
                                    </span>
                                    <span class="app-step-nav__toggle-link js-toggle-link"
                                          aria-hidden="true">hide</span></button></span>
                            </h3>
                        </div>
                        <div class="app-step-nav__panel js-panel" id="step-panel-1">
                            <p class="app-step-nav__paragraph">
                                Prepare for the check by reading guidance documents, ensuring all pupils who will be taking the check are on the pupil register, grouping pupils and applying access arrangements
                            </p>
                        </div>
                    </li>
                    <li class="app-step-nav__step js-step step-is-shown" id="preview-the-check">
                        <div class="app-step-nav__header js-toggle-panel" data-position="2">
                            <h3 class="app-step-nav__title">
                              <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                  <span class="app-step-nav__circle-background">
                                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 2
                                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                                  </span>
                                </span>
                              </span>
                                <span class="js-step-title">
                                  <button class="app-step-nav__button app-step-nav__button--title js-step-title-button"
                                          aria-expanded="true" aria-controls="step-panel-2">
                                      <span class="js-step-title-text">
                                        Preview the check
                                       </span>
                                      <span class="app-step-nav__toggle-link js-toggle-link"
                                            aria-hidden="true">hide</span></button></span>
                            </h3>
                        </div>

                        <div class="app-step-nav__panel js-panel" id="step-panel-2">
                            <p class="app-step-nav__paragraph">
                                The MTC can be previewed to see what the pupils will see during the check in the 'try it out' area. This area can also be used to preview access arrangements and check that the browsers and devices in the school are compatible with the MTC
                            </p>
                        </div>
                    </li>
                    <li class="app-step-nav__step js-step step-is-shown" id="start-the-official-check">
                        <div class="app-step-nav__header js-toggle-panel" data-position="3">
                            <h3 class="app-step-nav__title">
                              <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                  <span class="app-step-nav__circle-background">
                                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 3
                                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                                  </span>
                                </span>
                              </span>
                                <span class="js-step-title">
                                  <button class="app-step-nav__button app-step-nav__button--title js-step-title-button"
                                          aria-expanded="true" aria-controls="step-panel-3">
                                      <span class="js-step-title-text">
                                        Start the official check
                                       </span>
                                      <span class="app-step-nav__toggle-link js-toggle-link"
                                            aria-hidden="true">hide</span></button></span>
                            </h3>
                        </div>

                        <div class="app-step-nav__panel js-panel" id="step-panel-3">
                            <p class="app-step-nav__paragraph">
                                This is the official Multiplication tables check.
                                Please generate passwords and PINs and hand them to pupils to use for the Official check.
                            </p>
                        </div>
                    </li>
                    <li class="app-step-nav__step js-step step-is-shown" id="review-the-check">
                        <div class="app-step-nav__header js-toggle-panel" data-position="4">
                            <h3 class="app-step-nav__title">
                              <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                  <span class="app-step-nav__circle-background">
                                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 4
                                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                                  </span>
                                </span>
                              </span>
                                <span class="js-step-title">
                                  <button class="app-step-nav__button app-step-nav__button--title js-step-title-button"
                                          aria-expanded="true" aria-controls="step-panel-4">
                                      <span class="js-step-title-text">
                                        Review the check
                                       </span>
                                      <span class="app-step-nav__toggle-link js-toggle-link"
                                            aria-hidden="true">hide</span></button></span>
                            </h3>
                        </div>

                        <div class="app-step-nav__panel js-panel" id="step-panel-4">
                            <p class="app-step-nav__paragraph">
                                Go through the pupil status to ensure all pupils have successfully taken the check
                                or have a reason for removing pupil from the MTC register
                            </p>
                        </div>
                    </li>
                    <li class="app-step-nav__step js-step step-is-shown" id="after-the-check">
                        <div class="app-step-nav__header js-toggle-panel" data-position="5">
                            <h3 class="app-step-nav__title">
                              <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                  <span class="app-step-nav__circle-background">
                                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 5
                                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                                  </span>
                                </span>
                              </span>
                                <span class="js-step-title">
                                  <button class="app-step-nav__button app-step-nav__button--title js-step-title-button"
                                          aria-expanded="true" aria-controls="step-panel-5">
                                      <span class="js-step-title-text">
                                        After the check
                                       </span>
                                      <span class="app-step-nav__toggle-link js-toggle-link"
                                            aria-hidden="true">hide</span></button></span>
                            </h3>
                        </div>
                        <div class="app-step-nav__panel js-panel" id="step-panel-5">
                            <p class="app-step-nav__paragraph">
                                Once the pupil status is reviewed and complete.
                                Go into the headteacher's declaration form to check through the pupil outcomes.
                                View the results once they have been released.
                            </p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var element = document.getElementById('step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.StepByStepNavigation()
    stepByStepNavigation.start(element)
  })
</script>
