<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<form method="post" action="/school/pupils-not-taking-check/save-pupils">

    <div class="grid-row" id="pupils-not-taking-checks" aria-describedby="heading-xlarge">

        <div class="column-two-thirds">
            <h1 class="heading-xlarge" id="heading-xlarge">Select pupils not taking the check</h1>

            <br />

            <% if (attendanceCodes && attendanceCodes.length > 1) { %>
            <h2>1. Select reason</h2>

            <ul class="list attendance-code-list">
            <% attendanceCodes.forEach( (aValues) => { %>
                <li>
                    <div class="multiple-choice">
                        <input id="attendance-code-<%= aValues.code %>"
                               type="radio"
                               role="radio"
                               aria-checked="false"
                               name="attendanceCode"
                               value="<%= aValues.code %>">
                        <label for="attendance-code-<%= aValues.code %>"><%= aValues.reason %></label>
                    </div>
                </li>
                <% }) %>
            </ul>
            <input type="hidden" name="sortField" value="<%= sortField %>">
            <input type="hidden" name="sortDirection" value="<%= sortDirection %>">
            <% } %>

            <div class="master-detail text">
                <details>
                    <summary><span class="summary"> What do these reasons mean? </span></summary>
                    <ul class="panel-no-border attendance-reasons">
                        <li>
                            <div><strong>Incorrect registration</strong></div>
                            <div>Pupil has been incorrectly added to the Pupil Register. They may have been added by the school, or incorrectly included in the pre-populated list.</div>
                        </li>
                        <li>
                            <div><strong>Absent</strong></div>
                            <div>Pupil has not taken the check due to absence.</div>
                        </li>
                        <li>
                            <div><strong>Left school</strong></div>
                            <div>Pupil has left the school.</div>
                        </li>
                        <li>
                            <div><strong>Unable to access</strong></div>
                            <div>Pupil is unable to access the check. This may be due to a physical disability or behavioural, emotional or social difficulties.</div>
                        </li>
                        <li>
                            <div><strong>Working below expectation</strong></div>
                            <div>Pupil is considered unable to answer the easiest questions or is working below year 2 in multiplication tables.</div>
                        </li>
                        <li>
                            <div><strong>Just arrived with EAL</strong></div>
                            <div>Pupil with English as an additional language (EAL) has just arrived in school from overseas during the check window and there isn't enough time to establish their abilities.</div>
                        </li>
                    </ul>
                </details>
            </div>

            <a name="pupil-list"></a>
            <h2 class="top-padding-30">2. Select pupil(s)</h2>

            <%- partial('partials/_groups_filter', { groups: groups }) %>

            <% if (pupilsList && pupilsList.length > 0) { %>
            <table class="spacious reduced-top-margin" id="pupilsList" role="listbox" aria-label="Select pupils.">
                <thead>
                <tr>
                    <th scope="col">
                        <a href="/school/pupils-not-taking-check/select-pupils/name/<%= htmlSortDirection.name %>">Pupil name <span class="<%= arrowSortDirection.name %>"><span>Sort by pupil name <%= htmlSortDirection.name %></span></span></a>
                    </th>
                    <th scope="col">
                        <a href="/school/pupils-not-taking-check/select-pupils/reason/<%= htmlSortDirection.reason %>">Reason <span class="<%= arrowSortDirection.reason %>"><span>Sort by reason <%= htmlSortDirection.reason %></span></span></a>
                    </th>
                    <th scope="col">
                        <div class="tick-all-checkboxes-wrapper">
                            <label class="tick-all-checkboxes" id="selectAll" for="tickAllCheckboxes">Select all</label>
                            <label class="tick-all-checkboxes all-hide" id="deselectAll" for="tickAllCheckboxes">Deselect all</label>
                            <div class="multiple-choice-mtc">
                                <input id="tickAllCheckboxes" name="allPupils" type="checkbox" aria-label="Select all pupils.">
                                <div></div>
                            </div>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <% pupilsList.forEach(pupil => { %>
                    <tr<% if (pupil.group_id) { %> id="group-id-<%= pupil.group_id %>"<% } %>>
                        <td>
                            <label for="pupil-<%= pupil.urlSlug %>">
                                <%= pupil.lastName %>, <%= pupil.foreName %>
                            </label>
                        </td>
                        <td>
                            <%= pupil.reason || 'N/A' %>
                        </td>
                        <td>
                            <div class="multiple-choice-mtc">
                                <input id="pupil-<%= pupil.urlSlug %>"
                                       name="pupil"
                                       type="checkbox"
                                       value="<%= pupil.urlSlug %>"
                                       aria-label="Tick pupil <%= pupil.foreName %> <%= pupil.lastName %>."
                                       aria-checked="false"
                                       role="checkbox">
                                <div></div>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } else { %>
            <br class="clearfix"/>
            <p>No pupils found.</p>
            <% } %>

            <br class="clearfix"/>

            <div class="back-to-top-container">
                <a href="#top">Back to top</a>
            </div>
        </div>

        <div class="column-one-third sidebar" aria-label="sidebar">

        </div>
    </div>
    <%- partial('partials/_sticky_confirmation_banner',
            {
                cancelLabel: 'Cancel',
                cancelLink: '/school/pupils-not-taking-check',
                submitLabel: 'Confirm',
                isSubmitDisabled: true
            }) %>
</form>

