<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row" aria-describedby="heading-xlarge">
    <div class="column-two-thirds" id="checkWindowsForm">
        <h1 class="heading-xlarge" id="heading-xlarge" tabindex="0">Select pupils not taking the check</h1>

        <br />

        <% if (attendanceCodes && attendanceCodes.length > 1) { %>
        <form method="post">
            <h2>1. Select reason</h2>

            <ul class="list attendance-code-list">
                <% attendanceCodes.forEach( (ac) => { %>
                <li>
                    <div class="multiple-choice">
                        <input id="attendance-code-<%= ac.code %>"
                               type="radio"
                               role="radio"
                               aria-checked="false"
                               name="attendanceCode"
                               value="<%= ac.code %>"
                               <% if (formData && formData['attendanceCode'] === ac.code) { %>checked="checked"<% } %>
                        />
                        <label for="attendance-code-<%= ac.code %>"><%= ac.reason %></label>
                    </div>
                </li>
                <% }) %>
            </ul>
            <% } %>
        </form>

        <br class="clearfix"/>

        <div class="back-to-top-container">
            <a href="#top">Back to top</a>
        </div>
    </div>

    <div class="column-one-third sidebar-top-border" tabindex="0" role="group" aria-label="sidebar">
        <h3 class="heading-medium" tabindex="0">Start check</h3>
        <ul class="list">
            <li>
                <a href="#">Generate PINs</a>
            </li>
        </ul>
    </div>
</div>
