<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <header class="page-header">
            <h1 class="heading-xlarge">Select pupils to generate pupil PINs</h1>
        </header>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <form method="post" action="/pupil-pin/generate-pins" method="post" autocomplete="off">
            <% if (pupils && pupils.length > 0) { %>
            <table class="spacious" id="generatePins" role="listbox" aria-label="Select pupils.">
                <thead>
                <tr>
                    <th scope="col">
                        <a href="/pupil-pin/generate-pins-list/lastName/<%= htmlSortDirection.lastName %>">
                            Pupil <span class="<%= arrowSortDirection.lastName %>"></span>
                        </a>
                    </th>
                    <th scope="col">
                        <div class="tick-all-checkboxes-wrapper">
                            <label class="tick-all-checkboxes" id="selectAll" for="tickAllCheckboxes">Select all</label>
                            <label class="tick-all-checkboxes all-hide" id="deselectAll" for="tickAllCheckboxes">Deselect all</label>
                            <div class="multiple-choice-mtc">
                                <input id="tickAllCheckboxes" name="allPupils" type="checkbox" aria-label="Select all pupils.">
                                <div></div>
                            </div>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <% pupils.forEach( (pupil, index) => { %>
                <tr>
                    <td>
                        <label for="pupil-<%= pupil.id %>">
                            <%= pupil.lastName %>, <%= pupil.foreName %> <%= pupil.showMiddleNames ? pupil.middleNames : '' %>
                        </label>
                        <% if (pupil.showDoB) { %>
                        <div class="font-greyed-out font-xsmall">
                            Date of birth: <%= pupil.dob %>
                        </div>
                        <% } %>
                    </td>
                    <td>
                        <div class="multiple-choice-mtc">
                            <input id="pupil-<%= pupil.id %>"
                                   name="pupil[<%= index %>]"
                                   type="checkbox"
                                   value="<%= pupil.id %>"
                                   aria-label="Tick pupil <%= pupil.foreName %> <%= pupil.lastName %>."
                                   aria-checked="false"
                                   role="checkbox">
                            <div></div>
                        </div>
                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
            <div class="back-to-top-container">
                <a href="#top">Back to top</a>
            </div>
            <% } else { %>
            <br class="clearfix"/>
            <p>No pupils found.</p>
            <% } %>

            <%- partial('partials/_sticky_confirmation_banner', {
                cancelLabel: 'Cancel',
                cancelLink: '/pupil-pin/generate-pins-overview',
                submitLabel: 'Confirm'
            }) %>

        </form>
    </div>
</div>










