<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <% if (error) { %>
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-1">
                <%= error %>
            </h2>
            <p>Multiplication tables check helpline:<br>
                0345 278 8080
            </p>
        </div>
        <% } %>
        <h1 class="heading-xlarge">Generate pupil PINs</h1>

        <div class="govuk-box-highlight">
            <div class="font-small">
                <strong class="bold-medium">
                    Pupil PINs and school password generated
                </strong>
                <br>
                Valid only until 4pm, <%= date %>
            </div>
        </div>

        <p class="lede">
            Please distribute pupil Personal Identification Numbers (PINs) and school password to your pupils.
        </p>

        <div class="link-icon-wrapper">
            <a href="/pupil-pin/print-pins" class="icon-download">Print pupil PINs and school password</a>
        </div>

        <div class="button-wrapper">
            <% if (error) { %>
            <a class="button button-secondary" disabled >Generate more PINs</a>
            <% } else { %>
            <a href="/pupil-pin/generate-pins-list/lastName/asc" class="button button-secondary">Generate more PINs</a>
            <% } %>
        </div>

        <br />

        <% if (!!school) { %>
        <div class="school-pin-wrapper">
            <b><%= school.name %>'s password for the day:</b>
            <div class="school-pin-pin" id="school-pin"><%= school.pin %></div>
        </div>
        <% } else { %>
        <p>No active password</p>
        <% } %>

        <% if (pupils && pupils.length > 0) { %>
        <table class="spacious" id="generatePins" role="listbox" aria-label="Select pupils.">
            <thead>
            <tr>
                <th scope="col">
                    Pupil
                </th>
                <th scope="col">
                    Pupil PIN
                </th>
            </tr>
            </thead>
            <tbody>
            <% pupils.forEach( (pupil) => { %>
            <tr>
                <td>
                    <label for="pupil-<%= pupil.id %>">
                        <%= pupil.lastName %>, <%= pupil.foreName %> <%= pupil.showMiddleNames ? pupil.middleNames : '' %>
                    </label>
                    <% if (pupil.showDoB) { %>
                    <div class="font-greyed-out font-xsmall">
                        Date of birth: <%= pupil.dateOfBirth %>
                    </div>
                    <% } %>
                </td>
                <td>
                    <label for="pupil-<%= pupil.id %>">
                        <%= pupil.pin %>
                    </label>
                </td>
            </tr>
            <% }) %>
            </tbody>
        </table>

        <div class="back-to-top-container">
            <a href="#top">Back to top</a>
        </div>

        <% } %>
    </div>

    <div class="column-one-third sidebar" aria-label="sidebar">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium">Related</h3>
            <nav role="navigation">
                <ul class="list">
                    <li>
                        <a href="<%= assetPath %>PDFs/MTC_CAG_Feb_2018_Trial.pdf" target="_blank" rel="noopener noreferrer">Guidance</a>
                    </li>
                    <li>
                        <a href="">Group pupils</a>
                    </li>
                    <li>
                        <a href="">Restarts</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>

