<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <% if (error) { %>
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-1">
                <%= error %>
            </h2>
            <p>Multiplication tables check helpline<br>
                <%= helplineNumber %>
            </p>
        </div>
        <% } %>
        <header class="page-header">
            <h1 class="heading-xlarge">Generate pupil PINs - live check</h1>
        </header>

        <%- partial('partials/_session_expiry') %>

        <p class="lede">
        Pupils will need a personal identification number (PIN) and school password in order to start the check in the live area. These expire at 4pm daily.
        </p>
    </div>
    <div class="column-one-third sidebar" aria-label="sidebar">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium">Related</h3>
            <nav role="navigation">
                <ul class="list">
                    <li>
                        <a href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Guidance</a>
                    </li>
                    <li>
                        <a href="/group/pupils-list" >Group pupils</a>
                    </li>
                    <li>
                        <a href="/restart/overview" >Restarts</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="panel panel-border-wide">
            <p>
                Select <a href="" >access arrangements</a> for pupils who need it before generating PINs
            </p>
        </div>

        <p>
        <details>
          <summary><span class="summary">Instructions</span></summary>

          <div class="panel panel-border-narrow">
            <ol class="list list-number">
              <li>Press 'Generate PINs' button.</li>
              <li>Select which pupils you are generating pins for.</li>
              <li>Distribute pupil PINs and school password to your pupils.</li>
            </ol>
          </div>
        </details>
        </p>

        <form action="/pupil-pin/generate-<%= pinEnv %>-pins-list/lastName/asc" name="generate-pins-list">
            <div class="form-group">
                <div class="form-buttons">
                    <% if (error) { %>
                    <input type="submit" class="button" disabled value="Generate PINs"/>
                    <% } else { %>
                    <input type="submit" class="button" value="Generate PINs"/>
                    <% } %>
                </div>
            </div>
        </form>
    </div>
</div>
