<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">

        <header class="page-header">
            <h1 class="heading-xlarge">Select pupils to generate PINs - <%= pinEnv %> check</h1>
        </header>

        <%- partial('partials/_session_expiry') %>

        <h3>Filter by name</h3>
        <div class="form-group filter-name">
            <label for="search-name">
                <img src="/images/icon-search.png"/>
            </label><input class="form-control" id="search-name" type="text" name="search-name">
        </div>

        <%- partial('partials/_groups_filter', { groups: groups }) %>

        <form method="post" action="/pupil-pin/generate-<%= pinEnv %>-pins" method="post" autocomplete="off">
            <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
            <% if (pupils && pupils.length > 0) { %>
            <table class="spacious reduced-top-margin" id="generatePins" role="listbox" aria-label="Select pupils.">
                <thead>
                <tr>
                    <th scope="col">
                        <a class="sortingLink" href="/pupil-pin/generate-<%= pinEnv %>-pins-list/lastName/<%= htmlSortDirection.lastName %>/<%= groupIds %>">
                            Pupil <span class="<%= arrowSortDirection.lastName %>"></span>
                        </a>
                    </th>
                    <th scope="col">
                        <div class="tick-all-checkboxes-wrapper">
                            <label class="tick-all-checkboxes" id="selectAll" for="tickAllCheckboxes">Select all</label>
                            <label class="tick-all-checkboxes all-hide" id="deselectAll" for="tickAllCheckboxes">Deselect all</label>
                            <div class="multiple-choice-mtc">
                                <input id="tickAllCheckboxes" name="allPupils" type="checkbox" aria-label="Select all pupils.">
                                <div></div>
                            </div>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <% pupils.forEach( (pupil, index) => { %>
                <tr<% if (pupil && pupil.group_id) { %> class="group-id-<%= pupil.group_id %>"<% } %>>
                    <td>
                        <label for="pupil-<%= pupil.id %>">
                            <%= pupil.fullName %>
                        </label>
                        <% if (pupil.showDoB) { %>
                        <div class="font-greyed-out font-xsmall">
                            Date of birth: <%= pupil.dateOfBirth %>
                        </div>
                        <% } %>
                    </td>
                    <td>
                        <div class="multiple-choice-mtc">
                            <input id="pupil-<%= pupil.id %>"
                                   name="pupil[<%= index %>]"
                                   type="checkbox"
                                   value="<%= pupil.id %>"
                                   aria-label="Tick pupil <%= pupil.fullName %>."
                                   aria-checked="false"
                                   role="checkbox">
                            <div></div>
                        </div>
                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
            <div class="back-to-top-container">
                <a href="#top">Back to top</a>
            </div>
            <% } else { %>
            <br class="clearfix"/>
            <p>No pupils found.</p>
            <% } %>

            <%- partial('partials/_sticky_confirmation_banner', {
                cancelLabel: 'Cancel',
                cancelLink: `/pupil-pin/generate-${pinEnv}-pins-overview`,
                submitLabel: 'Confirm'
            }) %>

        </form>
    </div>
</div>
