<div class="grid-row">
    <div class="column-two-thirds">
        <div class="back-button-wrapper">
            <div class="no-print">
                <a class="back-button no-print" href="/pupil-pin/generate-pins-overview">Back</a>
            </div>
        </div>
        <img class="sta-horizontal-logo" src="/images/sta-horizontal-logo.jpg" />
        <div class="heading-large">Multiplication Table Check</div>
        <ul class="list list-bullet font-xsmall" role="listbox">
            <li role="listitem">Please cut out and distribute to pupils</li>
            <li role="listitem">The school passwords and pupil PINs will expire 4pm on <%= date %></li>
            <li role="listitem">New PINs will need to be generated if not used by 4pm on <%= date %></li>
        </ul>
        <div class="pupil-print-table">
            <% if (typeof pupils !== 'object' || Object.keys(pupils).length < 1) { %>
            <p>No pupils found</p>
            <% } else { %>
            <table>
                <% for(let i = 0; i < pupils.length; i += 2) { %>
                <tr class="page">
                    <td>
                        <div class="pupil-content">
                            <span class="fullname"><%= `${pupils[i].foreName} ${pupils[i].showMiddleNames ? pupils[i].middleNames : ''} ${pupils[i].lastName}`%>
                            </span>
                            <% if (pupils[i].showDoB) { %>
                            <div class="dob">Date of birth: <%= pupils[i].dateOfBirth %></div>
                            <% } %>
                        </div>
                        <div class="pin-content"><span class="label">School Password:</span><br><span class="information"><%= school.pin %></span></div>
                        <div class="pin-content"><span class="label">Pupil PIN:</span><br><span class="information"><%= pupils[i].pin %></span></div>
                        <% if (qrDataURL) { %>
                        <div class="qr"><img src="<%= qrDataURL %>" /></div>
                        <% } %>
                        <div class="url"><%= url %></div>
                    </td>
                    <% if (pupils[i + 1]) { %>
                    <td>
                        <div class="pupil-content">
                            <span class="fullname"><%= `${pupils[i+1].foreName} ${pupils[i+1].showMiddleNames ? pupils[i+1].middleNames : ''} ${pupils[i+1].lastName}`%>
                            </span>
                            <% if (pupils[i+1].showDoB) { %>
                            <div class="dob">Date of birth: <%= pupils[i+1].dateOfBirth %></div>
                            <% } %>
                        </div>
                        <div class="pin-content"><span class="label">School Password:</span><br><span class="information"><%= school.pin %></span></div>
                        <div class="pin-content"><span class="label">Pupil PIN:</span><br><span class="information"><%= pupils[i + 1].pin %></span></div>
                        <% if (qrDataURL) { %>
                        <div class="qr"><img src="<%= qrDataURL %>" /></div>
                        <% } %>
                        <div class="url"><%= url %></div>
                    </td>
                    <% } else { %>
                    <td></td>
                    <% } %>
                </tr>
                <% }} %>
            </table>
        </div>
    </div>
</div>

<script>
  $(document).ready(function () {
    window.print();
  });
</script>
