<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
  <main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%- partial('partials/_service_message', { serviceMessages }) %>
        <%- partial('partials/_gds_session_expiry') %>
          <%- partial('partials/_flash-messages') %>
            <h1 class="govuk-heading-xl">
              <%= pageTitle %>
            </h1>
            <p>
              Pupils will sign in to the try it out and official check using an individual PIN and school password.
            </p>
            <p>
              Pupils will access the try it out and official check at: <a class="govuk-link" target="_blank" rel="noopener noreferrer" href="<%= pupilAppURL %>"><%= pupilAppURL %></a>
            </p>
            <p>
              Your school password and pupil PINs expire at 4pm each day.
            </p>
            <p>
              Enable <a href='/access-arrangements/overview' class="govuk-link">access arrangements</a> for pupils who need them before generating PINs.
            <p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-inset-text">
          <%- slots.tryItOutPinGenSlot %>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-inset-text">
          <%- slots.officialPinGenSlot %>
        </div>
      </div>
    </div
  </main>
