<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <% if (messages && messages.info && messages.info.length) { %>
          <div class="info-message">
            <%= messages.info %>
          </div>
        <% } %>

        <% if (error) { %>
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-1">
                <%= error %>
            </h2>
            <p>Multiplication tables check helpline<br>
                <%= helplineNumber %>
            </p>
        </div>
        <% } %>
        <h1 class="heading-xlarge">View and custom print PINs - <%= pinEnv %> check</h1>

        <%- partial('partials/_session_expiry') %>

        <p class="lede">
            Personal identification number (PIN) have been generated for pupils. This list contains all active PINs. These expire at 4pm daily.
        </p>

        <h3>Filter by name</h3>
        <div class="form-group filter-name">
          <label for="search-name">
            <img src="/images/icon-search.png"/>
          </label><input class="form-control" id="search-name" type="text" name="search-name">
        </div>

        <%- partial('partials/_groups_filter', { groups: groups }) %>

        <form method="post" action="/pupil-pin/print-<%= pinEnv %>-pins" method="post" autocomplete="off">
            <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
            <% if (pupils && pupils.length > 0) { %>
            <table class="spacious" id="generatePins" role="listbox" aria-label="Select pupils.">
                <thead>
                <tr>
                    <th scope="col">
                        Pupil
                    </th>
                    <th scope="col">
                      <div class="tick-all-checkboxes-wrapper">
                        <label class="tick-all-checkboxes" id="selectAll" for="tickAllCheckboxes">Select all</label>
                        <label class="tick-all-checkboxes all-hide" id="deselectAll" for="tickAllCheckboxes">Deselect all</label>
                        <div class="multiple-choice-mtc">
                          <input id="tickAllCheckboxes" name="allPupils" type="checkbox" aria-label="Select all pupils.">
                          <div></div>
                        </div>
                      </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <% pupils.forEach( (pupil, index) => { %>
                <tr<% if (pupil && pupil.group_id) { %> class="group-id-<%= pupil.group_id %>"<% } %>>
                    <td>
                        <label for="pupil-<%= pupil.id %>">
                            <strong><%= pupil.fullName %></strong>
                            <% if (pupil.group) { %>
                              (<%= pupil.group %>)
                            <% } %>
                        </label>
                        <% if (pupil.showDoB) { %>
                        <div class="font-greyed-out font-xsmall">
                            Date of birth: <%= pupil.dateOfBirth %>
                        </div>
                        <% } %>
                        <div>
                          <div class="pin-content">
                              <span class="label">School Password: </span>
                              <span class="information"><%= (!!school ? school.pin : 'No active password') %></span>
                              <span class="separator"></span>
                              <span class="label">PIN: </span>
                              <span class="information">
                                  <%= pupil.pin %>
                              </span>
                          </div>
                        </div>
                    </td>
                    <td>
                      <div class="multiple-choice-mtc">
                        <input id="pupil-<%= pupil.id %>"
                          name="pupil[<%= index %>]"
                          type="checkbox"
                          value="<%= pupil.id %>"
                          aria-label="Tick pupil <%= pupil.fullName %>."
                          aria-checked="false"
                          role="checkbox">
                        <div></div>
                      </div>
                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>

            <div class="back-to-top-container">
                <a href="#top">Back to top</a>
            </div>

            <% } %>

            <%- partial('partials/_sticky_confirmation_banner', {
                cancelLabel: 'Cancel',
                cancelLink: `/pupil-pin/generate-${pinEnv}-pins-overview`,
                submitLabel: 'Print selected'
              }) %>
        </form>
    </div>

    <div class="column-one-third sidebar" aria-label="sidebar">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium">Related</h3>
            <nav role="navigation">
                <ul class="list">
                    <li>
                        <a href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Guidance</a>
                    </li>
                    <li>
                        <a href="">Group pupils</a>
                    </li>
                    <li>
                        <a href="">Restarts</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>
