<% const checkTypeClass = pinEnv === 'live' ? 'live' : 'try-it-out' %>
<% const pinSlipsStartText = pinEnv === 'live' ? 'Official' : 'Try it out' %>
<% const pinSlipsEndText = pinEnv === 'live' ? 'Official' : 'Do not use in official MTC' %>

<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="print-only">
                <img class="sta-horizontal-logo govuk-!-margin-bottom-5" width="200" src="<%= assetPath %>images/sta-horizontal-logo.jpg" />
                <h3 class="govuk-heading-m">Multiplication Tables Check <%= pinEnv !== 'live' ? '- Try it out' : '- Official' %></h3>
                <ul class="govuk-list govuk-list--bullet" role="listbox">
                    <li class="govuk-!-font-size-14" role="listitem">Please cut out and distribute to pupils</li>
                    <li class="govuk-!-font-size-14" role="listitem">The school passwords and pupil PINs will expire by the end of <%= date %></li>
                    <li class="govuk-!-font-size-14" role="listitem">New PINs will need to be generated if not used by the end of the day</li>
                </ul>
            </div>
        <% if (messages && messages.info && messages.info.length) { %>
            <div class="no-print govuk-body govuk-info-message govuk-!-margin-bottom-7">
                <%= messages.info %>
            </div>
        <% } %>
        <% if (error) { %>
            <div class="no-print govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    <%= error %>
                </h2>
                <p>National curriculum assessments helpline<br>
                    <%= helplineNumber %>
                </p>
            </div>
        <% } %>
            <h1 class="no-print govuk-heading-xl">View and print <%= pinEnv === 'live' ? 'official' : 'try it out' %> check password and PINs</h1>
            <%- partial('partials/_gds_session_expiry') %>
            <p class="no-print govuk-body">
              Your school password and <%= pinEnv === 'live' ? 'official' : 'try it out' %> check PINs have been generated for selected pupils.
              You can print the PINs by selecting the pupils, or groups, then selecting ‘Print selected’.</p>
            <p class="no-print govuk-body">
              You will notice that the printed slips have '<%= pinEnv === 'live' ? 'Official' : 'Try it out' %>' on them.
            </p>
            <% if (pinEnv !== 'live') { %>
              <p>Pupils can use their PINs for the try it out check multiple times throughout the day.</p>
            <% } else { %>
              <p>This list contains all active PINs, once pupils have started the official check the PIN will no longer be active.</p>
            <% } %>
            <p>
              Your school password and pupil PINs will expire at 4pm each day.
            </p>
            <p>
              <% if (pupils && pupils.length > 0) { %>
                  You can <a class="govuk-link" href="/pupil-pin/generate-<%= pinEnv %>-pins-list">generate additional <%= pinEnv === 'live' ? 'official' : 'try it out' %> check PINs</a> for pupils you have missed.
              <% } %>
          </p>
            <p>
                Pupils will access the try it out and official check at: <a class="govuk-link" target="_blank" rel="noopener noreferrer" href="<%= pupilAppURL %>"><%= pupilAppURL %></a>
            </p>
            <div class="no-print">
                <h3 class="govuk-heading-m">Filter by name</h3>
                <div class="govuk-form-group filter-name">
                    <label for="search-name">
                        <img src="/images/icon-search.png"/>
                    </label>
                    <span>
                        <input class="govuk-input" id="search-name" type="text" name="search-name">
                    </span>
                </div>
            </div>
            <%- partial('partials/_gds_groups_filter', { groups: groups }) %>
            <% if (pupils && pupils.length > 0) { %>
            <form id="printPinsForm" autocomplete="off" name="stickyBannerForm">
                <table class="govuk-table govuk-spacious" id="generatePins" data-name="filterablePupilsList" role="listbox" aria-label="Select pupils.">
                    <thead class="no-print govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">
                                <a class="no-underline sortingLink">Pupil<span class="sort-icon"><span>Sort by pupil</span></span></a>
                            </th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
                                <a class="no-underline sortingLink">Group<span class="sort-icon asc"><span>Sort by group</span></span></a>
                            </th>
                            <td>
                                <div class="tick-all-checkboxes-wrapper">
                                    <label class="tick-all-checkboxes" id="selectAll" for="tickAllCheckboxes">Select all</label>
                                    <label class="tick-all-checkboxes all-hide" id="deselectAll" for="tickAllCheckboxes">Deselect all</label>
                                    <div class="multiple-choice-mtc">
                                        <input id="tickAllCheckboxes" class="govuk-checkboxes__input" name="allPupils" type="checkbox" aria-label="Select all pupils.">
                                        <div></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    <% pupils.forEach( (pupil, i) => { %>
                        <tr class="govuk-table__row <% if (pupil && pupil.group_id) { %> group-id-<%= pupil.group_id %><% } %> pupil-<%= pupils[i].id %>">
                            <td class="print-only line-checktype <%= checkTypeClass %>"><div><%= pinSlipsStartText %></div></td>
                            <td class="pupil-info">
                                <% if (pinEnv !== 'live') { %>
                                <div class="print-only watermark govuk-!-font-size-80">Try it out</div>
                                <% } %>
                                <label class="govuk-label" for="pupil-<%= pupil.id %>">
                                    <strong id="pupilName" class="no-print"><%= pupil.fullName %></strong>
                                    <span class="print-only">
                                        <strong><%= pupil.pupilViewFullName %></strong>
                                        <% if (pupil.group) { %>
                                            (<%= pupil.group %>)
                                        <% } %>
                                    </span>
                                </label>
                                <% if (pupil.showDoB) { %>
                                    <div class="govuk-font-greyed-out govuk-!-font-size-16">
                                        Date of birth: <%= pupil.formattedDateOfBirth %>
                                    </div>
                                <% } %>
                                <input type="hidden" id="pupilUpn-<%= i %>" name="pupilUpn" value="<%= pupil.upn %>"/>
                                <div>
                                  <div class="pin-content">
                                      <span class="label">School Password: </span>
                                      <span class="information" id="schoolPin">
                                        <%= (!!school ? school.pin : 'No active password') %>
                                      </span>
                                      <span class="separator"></span>
                                      <span class="label">PIN: </span>
                                      <span class="information" id="pupilPin">
                                        <%= pupil.pin %>
                                      </span>
                                  </div>
                              </div>
                                <% if (qrDataURL) { %>
                                    <div class="print-only qr"><img src="<%= qrDataURL %>" /></div>
                                <% } %>
                                <div class="print-only url"><%= url %></div><br>
                                <div class="print-only url">Expires at <%= formatPinExpiryTime(pupil.pinExpiresAt, tz) %> on <%= formatPinDate(pupil.pinExpiresAt, tz) %></div>
                            </td>
                            <td class="govuk-table__cell group-name no-print"><%= pupil.group %></td>
                            <td>
                                <div class="multiple-choice-mtc no-print">
                                    <input id="pupil-<%= pupil.id %>"
                                           name="pupil[]"
                                           type="checkbox"
                                           value="<%= pupil.id %>"
                                           aria-label="Tick pupil <%= pupil.fullName %>."
                                           aria-checked="false"
                                           role="checkbox">
                                    <div></div>
                                </div>
                            </td>
                            <td class="print-only line-checktype <%= checkTypeClass %> <%= pinEnv !== 'live' ? "try-it-out-end-line" : "live-end-line" %> "><div><%= pinSlipsEndText %></div></td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
                <%- partial('partials/_gds_sticky_confirmation_banner',
                        {
                            cancelLabel: 'Cancel',
                            cancelLink: `/pupil-pin/generate-${pinEnv}-pins-overview`,
                            submitLabel: 'Print selected',
                            submitPrint: true
                        })
                %>
            </form>
            <div class="no-print govuk-back-to-top">
                <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                    <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                    </svg>Back to top
                </a>
            </div>
            <% } %>
        </div>
        <div class="govuk-grid-column-one-third" aria-label="sidebar">
            <aside class="no-print app-related-items" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">
                    Related
                </h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a class="govuk-link" href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Read the guidance and watch videos</a>
                        </li>
                        <% if (pinEnv === 'live') { %>
                            <li>
                                <a class="govuk-link" href="/restart/overview" rel="noopener noreferrer">Select pupils to restart the check</a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>
<script src="<%= assetPath %>javascripts/pupil-pin.js?version=<%= assetsVersion %>"></script>
