<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
  <main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">PS Report Logs</h1>
        <%- partial('partials/_gds_session_expiry') %>
          <%- partial('partials/_flash-messages') %>
            <h3 class="govuk-heading-m">Logs</h3>
            <table class="govuk-table govuk-spacious govuk-!-font-size-16">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col">Log Folders</th>
                </tr>
              </thead>
              <tbody>
                <% logs.forEach((log)=> { %>
                  <tr class="govuk-table__row">
                    <td>
                      <a href="/tech-support/ps-report-log-folder/<%= log %>"><%= log %></a>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
      </div>

      <div class="govuk-grid-column-one-third" aria-label="sidebar">
        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
          </nav>
        </aside>
      </div>
    </div>
  </main>
