<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Select pupils not taking the check</h1>
            <%- partial('partials/_session_expiry') %>
            <form method="post" action="/pupils-not-taking-the-check/save-pupils">
                <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
                <% if (attendanceCodes && attendanceCodes.length > 1) { %>
                <h2 class="govuk-heading-m">1. Select reason</h2>
                <ul class="govuk-list attendance-code-list">
                    <div class="govuk-radios">
                        <% attendanceCodes.forEach( (aValues) => { %>
                            <li>
                                <div class="govuk-radios__item">
                                    <input
                                            id="attendance-code-<%= aValues.code %>"
                                            name="attendanceCode"
                                            class="govuk-radios__input"
                                            type="radio"
                                            role="radio"
                                            aria-checked="false"
                                            value="<%= aValues.code %>"
                                    >
                                    <label class="govuk-label govuk-radios__label" for="attendance-code-<%= aValues.code %>"><%= aValues.reason %></label>
                                </div>
                            </li>
                        <% }) %>
                    </div>
                </ul>
                <% } %>
                <%- partial('partials/_attendance_code_reasons') %>
                <h2 class="govuk-heading-m">2. Select pupils</h2>
                <%- partial('partials/_gds_groups_filter', { groups: groups }) %>
                <% if (pupilsList && pupilsList.length > 0) { %>
                <table id="pupilsList" class="govuk-table govuk-spacious">
                    <caption class="govuk-table__caption">Pupil register</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-full">
                                <a class="no-underline sortingLink">Pupil name <span class="sort-icon asc"><span>Sort by pupil name</span></span></a>
                            </th>
                            <th scope="col">
                                <div class="tick-all-checkboxes-wrapper">
                                    <label class="tick-all-checkboxes" id="selectAll" for="tickAllCheckboxes">Select all</label>
                                    <label class="tick-all-checkboxes all-hide" id="deselectAll" for="tickAllCheckboxes">Deselect all</label>
                                    <div class="multiple-choice-mtc">
                                        <input id="tickAllCheckboxes" name="allPupils" type="checkbox" aria-label="Select all pupils.">
                                        <div></div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <% pupilsList.forEach(pupil => { %>
                        <tr class="govuk-table__row <% if (pupil.group_id) { %>group-id-<%= pupil.group_id %><% } %>">
                            <td scope="row">
                                <label for="pupil-<%= pupil.urlSlug %>">
                                    <%= pupil.fullName %>
                                </label>
                                <% if (pupil.showDoB) { %>
                                    <div class="govuk-font-greyed-out govuk-!-font-size-16">
                                        Date of birth: <%= pupil.dateOfBirth %>
                                    </div>
                                <% } %>
                            </td>
                            <td>
                                <div class="multiple-choice-mtc">
                                    <input id="pupil-<%= pupil.urlSlug %>"
                                           name="pupil"
                                           type="checkbox"
                                           value="<%= pupil.urlSlug %>"
                                           aria-label="Tick pupil <%= pupil.foreName %> <%= pupil.lastName %>."
                                           aria-checked="false"
                                           role="checkbox">
                                    <div></div>
                                </div>

                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
                <% } else { %>
                <div class="govuk-inset-text">
                    No pupils found.
                </div>
                <% } %>
                <div class="govuk-back-to-top">
                    <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                        <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                        </svg>Back to top
                    </a>
                </div>
            <%- partial('partials/_sticky_confirmation_banner',
                    {
                        cancelLabel: 'Cancel',
                        cancelLink: '/pupils-not-taking-the-check',
                        submitLabel: 'Confirm',
                        isSubmitDisabled: true
                    })
            %>
            </form>
        </div>
    </div>
</main>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    window.MTCAdmin.tableSort.applySorting(window.document, 'pupilsList', {
      sortNullsLast: true,
      ignoredStrings: ['-']
    })
  })
</script>
