<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row" id="pupils-not-taking-checks">
        <div class="govuk-grid-column-two-thirds">
            <%- partial('partials/_service_message', { serviceMessages }) %>
            <% if (messages.info && messages.info.length > 0) { %>
                <div class="govuk-body govuk-info-message govuk-!-margin-bottom-7">
                    <%= messages.info.join('<br/>') %>
                </div>
            <% } %>
            <%- partial('partials/_readonly', { availabilityData: { hdfSubmitted } }) %>
            <h1 class="govuk-heading-xl" aria-describedby="heading-xlarge">Provide a reason why a pupil is not taking the check</h1>
            <%- partial('partials/_gds_session_expiry') %>
            <p class="govuk-body">
              The multiplication tables check is statutory for all year 4 pupils. If your school’s headteacher decides a pupil should not take the check, the reason must be recorded, this includes pupils who have left the school.
            </p>
            <% if (showSelectPupilButton) { %>
                <a href="/pupils-not-taking-the-check/select-pupils" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                    Select pupils and reason
                </a>

            <% } else { %>
                <button type="submit" disabled="disabled" aria-disabled="true" class="govuk-button govuk-button--disabled" data-module="govuk-button">
                    Select pupils and reason
                </button>
            <% } %>
            <% if (pupilsList && pupilsList.length > 0) { %>
                <table id="pupilsList" role="listbox" aria-label="Select pupils." class="govuk-table govuk-spacious govuk-!-margin-bottom-9">
                    <caption class="govuk-body govuk-table__caption">Pupil register</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Pupil</th>
                        <th scope="col" class="govuk-table__header">Reason</th>
                        <th scope="col" class="govuk-table__header govuk-visually-hidden">Action</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <% pupilsList.forEach(pupil => { %>
                        <tr class="govuk-table__row">
                            <td scope="row" <% if (highlight.indexOf(pupil.urlSlug) !== -1) { %> class="govuk-highlight-item"<% } %>>
                                <div class="govuk-highlight-wrapper">
                                    <label class="govuk-label" for="pupil-<%= pupil.urlSlug %>"><%= pupil.fullName %>
                                        <% if (pupil.showDoB) { %>
                                            <div class="govuk-font-greyed-out govuk-!-font-size-16">
                                                Date of birth: <%= pupil.formattedDateOfBirth %>
                                            </div>
                                        <% } %>
                                    </label>
                                </div>
                            </td>
                            <td><%= pupil.reason || '-' %></td>
                            <td class="">
                                <% if ((!isReadOnly && !hdfSubmitted) && pupil.attendanceCodeIsPrivileged === false) { %>
                                    <a href="/pupils-not-taking-the-check/remove/<%= pupil.urlSlug %>" class="govuk-link modal-link font-small">Remove reason</a>
                                <% } %>
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            <% } else { %>
                <p class="govuk-body govuk-!-margin-bottom-7">No pupils added</p>
            <% } %>
            <div class="govuk-back-to-top">
                <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                    <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                    </svg>Back to top
                </a>
            </div>
        </div>
        <div class="govuk-grid-column-one-third" aria-label="sidebar">
            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">
                    Related
                </h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a class="govuk-link" href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Read the guidance and watch videos</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="/access-arrangements/overview" rel="noopener noreferrer">Enable access arrangements for pupils who need them</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>
