<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row" id="pupils-not-taking-checks">
        <div class="govuk-grid-column-two-thirds">
            <% if (messages.info && messages.info.length > 0) { %>
                <div class="govuk-info-message">
                    <%= messages.info.join('<br/>') %>
                </div>
            <% } %>
            <%- partial('partials/_readonly', { availabilityData: { hdfSubmitted } }) %>
            <h1 class="govuk-heading-xl" aria-describedby="heading-xlarge">Pupils not taking the check</h1>
            <%- partial('partials/_session_expiry') %>
            <p class="govuk-body">
                All pupils must be considered for the multiplication tables check at the end of year 4.
                If a pupil is not going to take the check, a reason must be provided.
            </p>
        <% if (hdfSubmitted) { %>
            <button type="submit" disabled="disabled" aria-disabled="true" class="govuk-button govuk-button--disabled" data-module="govuk-button">
                Select pupil and reason
            </button>
        <% } else { %>
            <button type="button" onclick="window.location.replace('/pupils-not-taking-the-check/select-pupils')" class="govuk-button" data-module="govuk-button">
                Select pupil and reason
            </button>
        <% } %>
        <% if (pupilsList && pupilsList.length > 0) { %>
        <table id="pupilsList" role="listbox" aria-label="Select pupils." class="govuk-table govuk-spacious govuk-!-margin-bottom-9">
            <caption class="govuk-table__caption">Pupil register</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Pupil</th>
                <th scope="col" class="govuk-table__header">Reason</th>
                <th scope="col" class="govuk-table__header govuk-visually-hidden">Action</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <% pupilsList.forEach(pupil => { %>
                <tr class="govuk-table__row">
                    <td scope="row" <% if (highlight.indexOf(pupil.urlSlug) !== -1) { %> class="govuk-highlight-item"<% } %>>
                        <div class="govuk-highlight-wrapper">
                            <label class="govuk-label" for="pupil-<%= pupil.urlSlug %>"><%= pupil.fullName %>
                            <% if (pupil.showDoB) { %>
                                <div class="govuk-font-greyed-out govuk-!-font-size-16">
                                    Date of birth: <%= pupil.dateOfBirth %>
                                </div>
                            <% } %>
                            </label>
                        </div>
                    </td>
                    <td><%= pupil.reason || '-' %></td>
                    <td class="">
                    <% if (!hdfSubmitted) { %>
                        <a href="/pupils-not-taking-the-check/remove/<%= pupil.urlSlug %>" class="govuk-link modal-link font-small">Remove</a>
                    <% } %>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
        <% } else { %>
            <p class="govuk-body">No pupils added</p>
        <% } %>
        </div>
    </div>
</main>
