<%- partial('partials/_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<div class="grid-row">
    <div class="column-two-thirds">
        <% if (messages && messages.info && messages.info.length) { %>
            <div class="info-message">
                <%= messages.info %>
            </div>
        <% } %>
        <div>
        <% if (incompletePupils && incompletePupils.length > 0) { %>
            <div class="warning-message">
              <%= incompletePupils.length %> <%= incompletePupils.length > 1 ? 'pupils have' : 'pupil has'  %> an Incomplete status
            </div>
        <% } %>

            <%- partial('partials/_readonly', {availabilityData}) %>

            <h1 class="heading-xlarge">Pupil register</h1>

            <%- partial('partials/_session_expiry') %>

            <p class="lede">
              This list is taken from your school's census. Review your list and add pupils, if required. If a pupil is not going to participate, go to <a href="/pupils-not-taking-the-check">Pupils not taking the check</a>.
            </p>
            <div class="button-wrapper">
                <% if (isFeatureEnabled('pupilAdd') && !availabilityData.hdfSubmitted && !availabilityData.checkWindowClosed) { %>
                <a class="button button-secondary" href="/pupil-register/pupil/add"> Add pupil </a>
                <% } else { %>
                <a class="button button-secondary disabled-link" href="#"> Add pupil </a>
                <% } %>

                <% if (isFeatureEnabled('pupilUpload') && !availabilityData.hdfSubmitted && !availabilityData.checkWindowClosed) { %>
                <a class="button button-secondary" href="/pupil-register/pupil/add-batch-pupils"> Add multiple pupils </a>
                <% } else { %>
                <a class="button button-secondary disabled-link" href="#"> Add multiple pupils </a>
                <% } %>
            </div>
        </div>
        <table id="register-pupils" class="spacious">
            <thead>
                <tr>
                    <th scope="col" class="two-thirds">
                        <a class="no-underline sortingLink">Pupil<span class="sort-icon asc"><span>Sort by pupil</span></span></a>
                    </th>
                    <th scope="col">
                        <a class="no-underline sortingLink">Group<span class="sort-icon"><span>Sort by group</span></span></a>
                    </th>
                    <th scope="col">
                        <a class="no-underline sortingLink">Status<span class="sort-icon"><span>Sort by status</span></span></a>
                    </th>
                </tr>
            </thead>
            <tbody>
            <% pupils.forEach((p) => { %>
                <tr>
                    <td
                    <% if (highlight && highlight.has(p.urlSlug.toString())) { %> class="highlight-item"<% } %>
                    <% if (Array.isArray(incompletePupils) && incompletePupils.some(i => i.urlSlug === p.urlSlug.toString())) { %> class="warning-item"<% } %>
                    >
                        <div class="highlight-wrapper">
                            <% if (isFeatureEnabled('pupilEdit') && !availabilityData.hdfSubmitted && !availabilityData.checkWindowClosed) { %>
                                <a class="bold-small name-text-wrap" href="/pupil-register/pupil/edit/<%= p.urlSlug %>" ><%= `${p.fullName}` %></a>
                                <% } else { %>
                                <span class="bold-small name-text-wrap"><%= p.fullName %></span>
                            <% } %>
                            <% if (p.showDoB) { %>
                                <div class="font-greyed-out font-xsmall">Date of birth: <%= p.dateOfBirth %></div>
                            <% } %>
                        </div>
                    </td>
                    <td><%= p.group %></td>
                    <td class="nowrap column-narrow"><%= p.outcome %></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
        <div class="back-to-top-container">
            <a href="#top">Back to top</a>
        </div>
    </div>
    <div class="column-one-third sidebar" aria-label="sidebar">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium">Related</h3>
            <nav role="navigation">
                <ul class="list">
                    <li><a href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Guidance (PDF)</a></li>
                    <li><a href="/group/pupils-list">Group pupils</a></li>
                    <li><a href="/pupils-not-taking-the-check">Pupils not taking the check</a></li>
                    <% if (isFeatureEnabled('accessArrangements')) { %>
                    <li><a href="/access-arrangements/overview">Access arrangements</a></li>
                    <% } else { %>
                    <li><a class="disabled-link" href="#">Access arrangements</a></li>
                    <% } %>
                </ul>
            </nav>
        </aside>

    </div>
</div>
<script>
  $(function () {
    window.GOVUK.tableSort.applySorting(window.document, 'register-pupils', {
      sortNullsLast: true,
      ignoredStrings: ['-']
    })
  })
</script>


