<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Pupil history</h1>
            <%- partial('partials/_gds_session_expiry') %>

            <h2 class="govuk-heading-m"><%= pupilHistory.pupil.lastName %>, <%= pupilHistory.pupil.foreName.concat(' ', pupilHistory.pupil.middleNames) %></h2>

            <div class="group">
                <dl class="key-value-list">
                    <dt>Date of birth:</dt>
                    <dd><%= formatFullGdsDate(pupilHistory.pupil.dateOfBirth) %></dd>

                    <dt>UPN</dt>
                    <dd><%= pupilHistory.pupil.upn %></dd>

                    <dt>Gender</dt>
                    <dd><%= pupilHistory.pupil.gender %></dd>

                    <dt>Complete</dt>
                    <dd><%= pupilHistory.pupil.checkComplete ? 'Y' : 'N' %></dd>

                    <dt>Not taking check</dt>
                    <dd><%= pupilHistory.pupil.attendanceId ? 'Not taking the check' : 'n/a' %></dd>

                    <dt>Restart available</dt>
                    <dd><%= pupilHistory.pupil.restartAvailable ? 'Y' : 'N' %></dd>
                </dl>
            </div>

            <div class="govuk-back-to-top">
                <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                    <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                    </svg>Back to top
                </a>
            </div>
        </div>
    </div>
</main>
