<%
let url;
if (typeof nextQuestion === 'number') {
    url = '/check/question/' + nextQuestion;
} else {
    url = '/check/complete';
}
%>

<div class="hidden" id="js-content-div">

    <div class="remaining-time" id="js-page-time-settings" data-value="<%= questionTimeLimit %>">
        Remaining time: <span id="js-page-timer" class="bold timer"></span>
    </div>

    <br style="clear:both"/>

    <div class="question-container">

        <form id='js-question-form' action="/check/question/<%= num %>" method="POST" autocomplete="off">
            <input type="hidden" id="js-form-answer" name="answer" value="">
            <input type="hidden" id="js-form-registered-inputs" name="registered-inputs" value="">
            <input type="hidden" id="js-form-electron" name="electron" value="false">
            <input type="hidden" name="pageLoadDate" id="pageLoadDate" value="">
            <div class="question-and-answer"><span class="question"><%= factor1 %> &times; <%= factor2 %> = </span>
                <div class="answer-container"><span class="answer" id="js-answer"></span>
                    <div class="numpad-container">

                        <table class="numpad" id="js-numpad">
                            <tr>
                                <td class="key js-key" data-value="1"> 1</td>
                                <td class="key js-key" data-value="2"> 2</td>
                                <td class="key js-key" data-value="3"> 3</td>
                            </tr>
                            <tr>
                                <td class="key js-key" data-value="4"> 4</td>
                                <td class="key js-key" data-value="5"> 5</td>
                                <td class="key js-key" data-value="6"> 6</td>
                            </tr>
                            <tr>
                                <td class="key js-key" data-value="7"> 7</td>
                                <td class="key js-key" data-value="8"> 8</td>
                                <td class="key js-key" data-value="9"> 9</td>
                            </tr>
                            <tr>
                                <td class="key js-key" data-value="backspace"><img src="/images/backspace-35x24.png"
                                                                                   alt="Delete"
                                                                                   width="35" height="24"
                                                                                   data-value="backspace">
                                </td>
                                <td class="key js-key" data-value="0"> 0</td>
                                <td class="enter-key js-key" data-value="enter"> Enter</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="preload" id="js-preload-div" data-value="<%= loadingTime %>">
    <div>
        <p class="font-large text-center">
            Loading question <%= num %> out of <%= total %>
        </p>
    </div>
</div>

<script type="text/javascript">
  $(function() {
    $('#pageLoadDate').val($.now());
    // Detect electron
    if (window && window.process && window.process.type) {
      $('#js-form-electron').val('true');
    }
  });
</script>
<script src="/javascripts/mtc-check.js?version=<%= deployVersion %>"></script>