<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl"><%= pageTitle %></h1>
      <%- partial('partials/_gds_session_expiry') %>
      <p class="govuk-body govuk-!-font-size-24">
        These results are for pupils who participated in the 2019 pilot.
        Until verified, these results are subject to review.
      </p>
      <p class="govuk-body">
        Each score is out of <%= maxMark %>.
      </p>
      <%- partial('partials/_gds_groups_filter', { groups: groups }) %>
    </div>
  </div>
</main>
