<%- partial('partials/_breadcrumbs_and_sign_out', { breadcrumbs }) %>

<div class="grid-row">
  <div class="column-two-thirds">
  <h1 class="heading-xlarge"><%= pageTitle %></h1>

    <%- partial('partials/_session_expiry') %>

    <p class="lede" id="lead-paragraph">
    Until verified, results are subject to review. All results are out of 25.
  </p>
  <div class="master-detail text">
      <details>
        <summary><span class="summary">How are these averages calculated?</span></summary>
          <div class="panel-no-border">
            <ul class="panel-list">
              <li>
                <div><strong>School average</strong></div>
                <div>
                  <p>Is calculated by taking the mean average of pupils in your school who have taken the MTC.</p>
                </div>
              </li>
              <li>
                <div><strong>National average</strong></div>
                <div>
                  <p>Is calculated by taking the mean average of all pupils in England who have taken the MTC.</p>
                </div>
              </li>
            </ul>
          </div>
      </details>
    </div>

  <%- partial('partials/_groups_filter', { groups: groups }) %>

  <table class="spacious" id="resultsList" role="listbox" aria-label="Results list.">
    <thead>
      <tr>
        <th scope="col"><a class="sortingLink">Pupil<span class="sort-icon asc"></span></a></th>
        <th scope="col"><a class="sortingLink">Score<span class="sort-icon"></span></a></th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% pupilData.forEach((p, i) => { %>
      <tr<% if (p.group_id) { %> class="group-id-<%= p.group_id %>"<% } %>>
        <td>
          <span id="pupil-<%= i %>">
            <%= p.fullName %>
          </span>
          <% if (p.showDoB) { %>
          <div class="font-greyed-out font-xsmall">
            Date of birth: <%= p.dateOfBirth %>
          </div>
          <% } %>
        </td>
        <td><%= p.score %></td>
        <td><%= p.status %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  </div>
</div>
<div class="back-to-top-container">
  <a href="#top">Back to top</a>
</div>

<script>
  $(function () {
    window.GOVUK.tableSort.applySorting(window.document, 'resultsList', {
      sortNullsLast: false,
      ignoredStrings: []
    })
  })
</script>
