<div class="modal-overlay" id="js-modal-overlay"></div>
<div id="modal-wrapper">
    <dialog class="modal-box" id="js-modal-box" role="dialog" aria-labelledby="modal-title" tabindex="-1">
        <div role="document">
            <h1 id="modal-title" class="govuk-!-margin-top-0"><%= modalTitle %></h1>
            <div class="modal-content">
                <p class="govuk-body govuk-!-font-size-19"><%= modalText %></p>
                <button
                    id="js-modal-confirmation-button"
                    onclick=""
                    class="govuk-button govuk-button--secondary govuk-form-button govuk-!-margin-bottom-0"
                    title="<%= modalConfirmationLabel %>"
                ><%= modalConfirmationLabel %></button>
                <button
                    onclick="window.location.replace('<%= modalCancelUrl %>')"
                    id="js-modal-cancel-button"
                    data-focus-back="js-modal-link"
                    class="govuk-button govuk-button--secondary govuk-form-button govuk-!-margin-bottom-0"
                    title="<%= modalCancelLabel %>"
                ><%= modalCancelLabel %></button>
            </div>
        </div>
    </dialog>
</div>
