<div class="modal-overlay" id="js-modal-overlay"></div>
<dialog class="modal-box" id="js-modal-box" role="dialog" aria-labelledby="modal-title" tabindex="-1">
    <div role="document">
        <h1 id="modal-title"><%= modalTitle %></h1>
        <div class="modal-content">
            <p><%= modalText %>
            <div class="modal-buttons">
                <span class="modal-cancel">
                    <a href="<%= modalCancelUrl %>" class="button-secondary" id="js-modal-cancel-button" data-focus-back="js-modal-link" title="<%= modalCancelLabel %>"><%= modalCancelLabel %></a>
                </span>
                <span class="modal-confirm">
                    <a href="" class="button-secondary" id="js-modal-confirmation-button" title="<%= modalConfirmationLabel %>"><%= modalConfirmationLabel %></a>
                </span>
            </div>
        </div>
    </div>
</dialog>
