<% const checkTypeClass = pinEnv === 'live' ? 'live' : 'try-it-out' %>
<% const pinSlipsStartText = pinEnv === 'live' ? 'Official' : 'Try it out' %>
<% const pinSlipsEndText = pinEnv === 'live' ? 'Official' : 'Do not use in official MTC' %>
<main class="govuk-main-wrapper only-print" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <img class="sta-horizontal-logo govuk-!-margin-bottom-5" width="200" src="<%= assetPath %>images/sta-horizontal-logo.jpg" />
            <h3 class="govuk-heading-m">Multiplication Table Check <%= pinEnv !== 'live' ? '- Try it out' : '' %></h3>
            <ul class="govuk-list govuk-list--bullet" role="listbox">
                <li class="govuk-!-font-size-14" role="listitem">Please cut out and distribute to pupils</li>
                <li class="govuk-!-font-size-14" role="listitem">The school passwords and pupil PINs will expire by the end of <%= date %></li>
                <li class="govuk-!-font-size-14" role="listitem">New PINs will need to be generated if not used by the end of the day</li>
            </ul>
            <div class="pupil-print-table">
            <% if (typeof pupils !== 'object' || Object.keys(pupils).length < 1) { %>
                <p>No pupils found</p>
            <% } else { %>
                <table class="govuk-table">
                <% for (let i = 0; i < pupils.length; i++) { %>
                    <tr class="page pupil-<%= pupils[i].id %>">
                        <td class="line-empty"></td>
                        <td class="line-checktype <%= checkTypeClass %>"><div><%= pinSlipsStartText %></div></td>
                        <td class="line-content">
                            <% if (pinEnv !== 'live') { %>
                            <div class="watermark govuk-!-font-size-80">Try it out</div>
                            <% } %>
                            <div class="pupil-content">
                            <span class="fullname"><%=
                                    `${pupils[i].foreName} ${pupils[i].showMiddleNames
                                            ? pupils[i].middleNames
                                            : ''
                                    } ${pupils[i].lastName}` %>
                                <% if (pupils[i].group) { %>
                                    (<%= pupils[i].group %>)
                                <% } %>
                            </span>
                                <% if (pupils[i].showDoB) { %>
                                    <div class="dob">Date of birth: <%= pupils[i].dateOfBirth %></div>
                                <% } %>
                            </div>
                            <div class="pin-content">
                                <span class="pin-text">School Password:</span>
                                <span class="pin-information"><%= (
                                            !!school ? school.pin : 'No active password'
                                    ) %></span>
                                <span class="separator"></span>
                                <label class="pin-text">PIN:</label>
                                <span class="pin-information"><%= pupils[i].pin %></span>
                            </div>
                            <% if (qrDataURL) { %>
                                <div class="qr"><img src="<%= qrDataURL %>" /></div>
                            <% } %>
                            <div class="url"><%= url %></div>
                        </td>
                        <td class="line-checktype <%= checkTypeClass %>"><div <% if (pinEnv !== 'live') { %> class="try-it-out-end-line" <% } %> ><%= pinSlipsEndText %></div></td>
                        <td class="line-empty"></td>
                    </tr>
                <% } %>
                </table>
            <% } %>
            </div>
        </div>
    </div>
</main>
