<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row" aria-describedby="heading-xlarge">
    <div class="column-two-thirds" id="checkWindowsForm">

        <% if (error.hasError()) { %>
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-1">You need to fix the errors on this page before continuing.</h2>
            <p>See highlighted errors below.</p>
        </div>
        <% } %>

        <% if (typeof successfulPost !== 'undefined' && successfulPost === 'updated') { %>
        <div class="box-successful top-padding-30">
            <h2 class="heading-large">Changes have been saved</h2>
        </div>
        <% } %>

        <h1 class="heading-xlarge" id="heading-xlarge"><%= actionName %> check window</h1>

        <form action="/service-manager/check-windows/submit" method="post">
            <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
            <div class="form-group">
                <label for="checkWindowName" class="form-label-bold">
                    Name of check window
                    <% if (error.isError('checkWindowName')) { %>
                    <span class="error-message"><%= error.get('checkWindowName') %></span>
                    <% } %>
                </label>
                <input class="form-control <%= error.isError('checkWindowName') ? 'form-control-error' : '' %>"
                       id="checkWindowName"
                       name="checkWindowName"
                       type="text"
                       value="<%= checkWindowData.checkWindowName ? checkWindowData.checkWindowName : ''%>"
                       aria-required="true"
                       aria-label="Check window name.">
            </div>

            <hr />

            <div class="form-group">
                <label class="form-label-bold">
                    Administration start date
                    <span class="form-hint">For example, 28 4 <%= currentYear %></span>
                    <% if (error.isError('adminDateInvalid')) { %>
                    <span class="error-message"><%= errorMessage.adminDateInvalid %></span>
                    <% } %>
                    <% if (error.isError('adminDateInThePast')) { %>
                    <span class="error-message"><%= errorMessage.adminDateInThePast %></span>
                    <% } %>
                    <% if (error.isError('adminStartDay')) { %>
                    <span class="error-message"><%= error.get('adminStartDay') %></span>
                    <% } %>
                    <% if (error.isError('adminStartMonth')) { %>
                    <span class="error-message"><%= error.get('adminStartMonth') %></span>
                    <% } %>
                    <% if (error.isError('adminStartYear')) { %>
                    <span class="error-message"><%= error.get('adminStartYear') %></span>
                    <% } %>
                </label>
                <div class="form-date">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="adminStartDay">Day</label>
                        <input class="form-control <%= error.isError('adminStartDay') ? 'form-control-error' : ''%>"
                               id="adminStartDay"
                               name="adminStartDay"
                               type="number"
                               value="<%= checkWindowData.adminStartDay %>"
                               aria-required="true"
                               aria-label="Administration start day."
                                <% if (checkWindowData.adminIsDisabled) { %>
                               disabled="disabled"
                                <% } %>>
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="adminStartMonth">Month</label>
                        <input class="form-control <%= error.isError('adminStartMonth') ? 'form-control-error' : '' %>"
                               id="adminStartMonth"
                               name="adminStartMonth"
                               type="number"
                               value="<%= checkWindowData.adminStartMonth %>"
                               aria-required="true"
                               aria-label="Administration start month."
                                <% if (checkWindowData.adminIsDisabled) { %>
                               disabled="disabled"
                                <% } %>>
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="adminStartYear">Year</label>
                        <input class="form-control <%= error.isError('adminStartYear') ? 'form-control-error' : '' %>"
                               id="adminStartYear"
                               name="adminStartYear"
                               type="number"
                               value="<%= checkWindowData.adminStartYear %>"
                               aria-required="true"
                               aria-label="Administration start year."
                                <% if (checkWindowData.adminIsDisabled) { %>
                               disabled="disabled"
                                <% } %>>
                    </div>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <label class="form-label-bold">
                    Check start date
                    <span class="form-hint">For example, 28 4 <%= currentYear %></span>
                    <% if (error.isError('checkStartDateInvalid')) { %>
                    <span class="error-message"><%= errorMessage.checkStartDateInvalid %></span>
                    <% } %>
                    <% if (error.isError('checkDateBeforeAdminDate')) { %>
                    <span class="error-message"><%= errorMessage.checkDateBeforeAdminDate %></span>
                    <% } %>
                    <% if (error.isError('checkStartDateInThePast')) { %>
                    <span class="error-message"><%= errorMessage.checkStartDateInThePast %></span>
                    <% } %>
                    <% if (error.isError('checkStartDay')) { %>
                    <span class="error-message"><%= error.get('checkStartDay') %></span>
                    <% } %>
                    <% if (error.isError('checkStartMonth')) { %>
                    <span class="error-message"><%= error.get('checkStartMonth') %></span>
                    <% } %>
                    <% if (error.isError('checkStartYear')) { %>
                    <span class="error-message"><%= error.get('checkStartYear') %></span>
                    <% } %>
                </label>
                <div class="form-date">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="checkStartDay">Day</label>
                        <input class="form-control <%= error.isError('checkStartDay') ? 'form-control-error' : '' %>"
                               id="checkStartDay"
                               name="checkStartDay"
                               type="number"
                               value="<%= checkWindowData.checkStartDay %>"
                               aria-required="true"
                               aria-label="Check start day."
                                <% if (checkWindowData.checkStartIsDisabled) { %>
                               disabled="disabled"
                                <% } %>>
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="checkStartMonth">Month</label>
                        <input class="form-control <%= error.isError('checkStartMonth') ? 'form-control-error' : '' %>"
                               id="checkStartMonth"
                               name="checkStartMonth"
                               type="number"
                               value="<%= checkWindowData.checkStartMonth %>"
                               aria-required="true"
                               aria-label="Check start month."
                                <% if (checkWindowData.checkStartIsDisabled) { %>
                               disabled="disabled"
                                <% } %>>
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="checkStartYear">Year</label>
                        <input class="form-control <%= error.isError('checkStartYear') ? 'form-control-error' : '' %>"
                               id="checkStartYear"
                               name="checkStartYear"
                               type="number"
                               value="<%= checkWindowData.checkStartYear %>"
                               aria-required="true"
                               aria-label="Check start year."
                                <% if (checkWindowData.checkStartIsDisabled) { %>
                               disabled="disabled"
                                <% } %>>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label-bold">
                    Check end date
                    <span class="form-hint">For example, 28 4 <%= currentYear %></span>
                    <% if (error.isError('checkEndDateInvalid')) { %>
                    <span class="error-message"><%= errorMessage.checkEndDateInvalid %></span>
                    <% } %>
                    <% if (error.isError('checkEndDateBeforeStartDate')) { %>
                    <span class="error-message"><%= errorMessage.checkEndDateBeforeStartDate %></span>
                    <% } %>
                    <% if (error.isError('checkEndDateInThePast')) { %>
                    <span class="error-message"><%= errorMessage.checkEndDateInThePast %></span>
                    <% } %>
                    <% if (error.isError('checkEndDay')) { %>
                    <span class="error-message"><%= error.get('checkEndDay') %></span>
                    <% } %>
                    <% if (error.isError('checkEndMonth')) { %>
                    <span class="error-message"><%= error.get('checkEndMonth') %></span>
                    <% } %>
                    <% if (error.isError('checkEndYear')) { %>
                    <span class="error-message"><%= error.get('checkEndYear') %></span>
                    <% } %>
                </label>
                <div class="form-date">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="checkEndDay">Day</label>
                        <input class="form-control <%= error.isError('checkEndDay') ? 'form-control-error' : '' %>"
                               id="checkEndDay"
                               name="checkEndDay"
                               type="number"
                               value="<%= checkWindowData.checkEndDay %>"
                               aria-required="true"
                               aria-label="Check end day.">
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="checkEndMonth">Month</label>
                        <input class="form-control <%= error.isError('checkEndMonth') ? 'form-control-error' : '' %>"
                               id="checkEndMonth"
                               name="checkEndMonth"
                               type="number"
                               value="<%= checkWindowData.checkEndMonth %>"
                               aria-required="true"
                               aria-label="Check end month.">
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="checkEndYear">Year</label>
                        <input class="form-control <%= error.isError('checkEndYear') ? 'form-control-error' : '' %>"
                               id="checkEndYear"
                               name="checkEndYear"
                               type="number"
                               value="<%= checkWindowData.checkEndYear %>"
                               aria-required="true"
                               aria-label="Check end day.">
                    </div>
                </div>
                <input type="hidden" name="checkWindowId" value="<%= checkWindowData.checkWindowId ? checkWindowData.checkWindowId : '' %>">
            </div>

            <div class="form-buttons">
                <input class="button" type="submit" value="Save">
                <a href="/service-manager/check-windows" class="button button-secondary">Cancel</a>
            </div>
        </form>

        <div class="back-to-top-container">
            <a href="#top">Back to top</a>
        </div>
    </div>
</div>
