<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">

        <% if (messages && messages.error && messages.error.length) { %>
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading-1">
            <h2 class="error-summary-heading" id="error-summary-heading-1"><%= messages.error %></h2>
        </div>
        <% } %>

        <% if (messages && messages.info && messages.info.length) { %>
        <div class="info-message">
            <%= messages.info %>
        </div>
        <% } %>

        <h1 class="heading-xlarge">Manage check windows</h1>

        <p class="lede">Create, edit or remove check windows. Test development will be responsible for assigning check forms to the check windows created here.</p>

        <div class="panel panel-border-wide">Check will be available for schools on weekdays from 8am to 3:30pm</div>
        <br />

        <div class="button-wrapper">
            <a class="button button-primary" href="/service-manager/check-windows/add">Create new check window</a>
        </div>

        <% if (checkWindowList.length > 0) { %>
        <table class="spacious" id="checkWindowList" role="listbox" aria-label="Check windows list.">
            <thead>
                <tr>
                    <th scope="col"><a href="/service-manager/check-windows/checkWindowName/<%= htmlSortDirection.checkWindowName %>">Check window <span class="<%= arrowSortDirection.checkWindowName %>"><span>Sort by check window name <%= htmlSortDirection.checkWindowName %></span></span></a></th>
                    <th scope="col"><a href="/service-manager/check-windows/adminStartDate/<%= htmlSortDirection.adminStartDate %>">Administration<br>start date <span class="<%= arrowSortDirection.adminStartDate %>"><span>Sort by admin start date <%= htmlSortDirection.adminStartDate %></span></span></a></th>
                    <th scope="col"><a href="/service-manager/check-windows/checkStartDate/<%= htmlSortDirection.checkStartDate %>">Check period <span class="<%= arrowSortDirection.checkStartDate %>"><span>Sort by check date<%= htmlSortDirection.checkStartDate %></span></span></a></th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <% checkWindowList.forEach( (checkWindow) => { %>
                <tr<% if (checkWindow.isPast)  { %> class="font-greyed-out"<% } %>>
                    <td>
                        <% if (!checkWindow.isPast) { %>
                        <a href="/service-manager/check-windows/edit/<%= checkWindow.id %>" class="bold-small"><%= checkWindow.name %></a>
                        <% } else { %>
                        <span class="bold-small"><%= checkWindow.name %></span>
                        <% } %>
                    </td>
                    <td><%= checkWindow.adminStartDate %></td>
                    <td><%= checkWindow.checkDates %></td>
                    <td>
                        <% if (checkWindow.canRemove) { %>
                        <a href="/service-manager/check-windows/remove/<%= checkWindow.id %>" class="modal-link" id="js-modal-link">Remove</a>
                        <% } %>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <% } %>
    </div>

    <div class="column-one-third sidebar" aria-label="sidebar">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium">Related</h3>
            <nav role="navigation">
                <ul class="list">
                    <li>
                        <a href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Guidance</a>
                    </li>
                    <li>
                        <a href="/service-manager/check-settings">Settings on pupil check</a>
                    </li>
                    <li>
                        <a href="#" class="font-greyed-out disabled-link">View progress report</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>

<%- partial('partials/_modal_box', {
    modalTitle: 'Please confirm',
    modalText: 'Are you sure you want to remove this?',
    modalConfirmationLabel: 'Confirm',
    modalConfirmationUrl: '#',
    modalCancelLabel: 'Cancel',
    modalCancelUrl: '#'
}) %>
