<%- partial('partials/_breadcrumbs_and_sign_out', { breadcrumbs }) %>

<div class="grid-row" aria-describedby="lead-paragraph">
    <div class="column-two-thirds">

        <% if (typeof successfulPost !== 'undefined' && successfulPost === 'updated') { %>
        <div class="info-message">
            Settings updated
        </div>
        <% } %>

        <% if (error.hasError()) { %>
        <div class="error-summary top-padding-30" role="group" aria-labelledby="error-summary-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-1">You need to fix the errors on this page before continuing.</h2>
            <p>See highlighted errors below.</p>

            <% if (error.hasError()) { %>
            <ul class="error-summary-list">
            <% ['questionTimeLimit', 'loadingTimeLimit', 'checkTimeLimit'].map(errorKey => { %>
                <% if (error.isError(errorKey)) { %>
                <li><a href="#errorKey"><%= errorMessage[errorKey] %></a></li>
                <% } %>
            <% }) %>
            </ul>
            <% } %>
        </div>
        <% } %>

        <h1 class="heading-xlarge">Settings on pupil check</h1>

        <%- partial('partials/_session_expiry') %>

        <p class="lede" id="lead-paragraph">Adjust settings which apply to the pupil check only</p>

        <form action="/service-manager/check-settings" method="post">
            <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
            <div class="form-group">
                <label for="questionTimeLimit" class="form-label-bold">
                    Question time limit
                    <span class="form-hint">For example, 6  for 6 seconds. Possible to 2 decimal places.</span>
                    <% if (error.isError('questionTimeLimit')) { %>
                    <span class="error-message"><%= error.get('questionTimeLimit') %></span>
                    <% } %>
                </label>
                <label class="form-label" for="questionTimeLimit">Seconds</label>
                <input class="form-control narrow-width"
                       id="questionTimeLimit"
                       name="questionTimeLimit"
                       type="text"
                       value="<%= settings.questionTimeLimit %>"
                       aria-required="true"
                       aria-label="Question time limit.">
            </div>
            <div class="form-group">
                <label for="loadingTimeLimit" class="form-label-bold">
                    Time between questions
                    <span class="form-hint">For example, 3 for 3 seconds. Possible to 2 decimal places.</span>
                    <% if (error.isError('loadingTimeLimit')) { %>
                    <span class="error-message"><%= error.get('loadingTimeLimit') %></span>
                    <% } %>
                </label>
                <label class="form-label" for="loadingTimeLimit">Seconds</label>
                <input class="form-control narrow-width"
                       id="loadingTimeLimit"
                       name="loadingTimeLimit"
                       type="text"
                       value="<%= settings.loadingTimeLimit %>"
                       aria-required="true"
                       aria-label="Time between questions.">
            </div>
            <div class="form-group">
                <label for="loadingTimeLimit" class="form-label-bold">
                    Maximum length of check
                    <span class="form-hint">How long an individual has to complete the check before being signed out automatically. For example, 30 for 30 minutes.</span>
                    <% if (error.isError('checkTimeLimit')) { %>
                    <span class="error-message"><%= error.get('checkTimeLimit') %></span>
                    <% } %>
                </label>
                <label class="form-label" for="checkTimeLimit">Minutes</label>
                <input class="form-control narrow-width"
                       id="checkTimeLimit"
                       name="checkTimeLimit"
                       type="text"
                       value="<%= settings.checkTimeLimit %>"
                       aria-required="true"
                       aria-label="Maximum length of check.">
            </div>

            <div class="form-buttons">
                <input class="button" type="submit" value="Save">
                <a href="/service-manager/home" class="button button-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
