<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row" aria-describedby="lead-paragraph">
    <div class="column-two-thirds">

        <% if (typeof successfulPost !== 'undefined' && successfulPost === 'updated') { %>
        <div class="info-message">
            Changes have been saved
        </div>
        <% } %>

        <% if (error.hasError()) { %>
        <div class="error-summary top-padding-30" role="group" aria-labelledby="error-summary-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-1">Check the settings details</h2>
            <p>Question time and time between questions are measured in seconds.</p>

            <% if (error.hasError()) { %>
            <ul class="error-summary-list">
            <% ['questionTimeLimit', 'loadingTimeLimit'].map(errorKey => { %>
                <% if (error.isError(errorKey)) { %>
                <li><a href="#errorKey"><%= errorMessage[errorKey] %></a></li>
                <% } %>
            <% }) %>
            </ul>
            <% } %>
        </div>
        <% } %>

        <h1 class="heading-xlarge">Settings on pupil check</h1>

        <p class="lede" id="lead-paragraph">Adjust question timings.</p>

        <form action="/service-manager/check-settings" method="post">
            <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
            <div class="form-group">
                <label for="questionTimeLimit" class="form-label-bold">
                    Question time limit
                    <span class="form-hint">For example, 5 for 5 seconds</span>
                    <% if (error.isError('questionTimeLimit')) { %>
                    <span class="error-message"><%= error.get('questionTimeLimit') %></span>
                    <% } %>
                </label>
                <input class="form-control narrow-width"
                       id="questionTimeLimit"
                       name="questionTimeLimit"
                       type="text"
                       value="<%= settings.questionTimeLimit %>"
                       aria-required="true"
                       aria-label="Question time limit.">
            </div>
            <div class="form-group">
                <label for="loadingTimeLimit" class="form-label-bold">
                    Time between questions
                    <span class="form-hint">For example, 2 for 2 seconds</span>
                    <% if (error.isError('loadingTimeLimit')) { %>
                    <span class="error-message"><%= error.get('loadingTimeLimit') %></span>
                    <% } %>
                </label>
                <input class="form-control narrow-width"
                       id="loadingTimeLimit"
                       name="loadingTimeLimit"
                       type="text"
                       value="<%= settings.loadingTimeLimit %>"
                       aria-required="true"
                       aria-label="Time between questions.">
            </div>

            <div class="form-buttons">
                <input class="button" type="submit" value="Save">
                <a href="/service-manager/home" class="button button-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
