<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <% if (typeof successfulPost !== 'undefined' && successfulPost === 'updated') { %>
            <div class="govuk-body govuk-info-message govuk-!-margin-bottom-7">
                Settings updated
            </div>
        <% } %>

        <h1 class="govuk-heading-xl">Settings on pupil check</h1>
        <%- partial('partials/_gds_session_expiry') %>
        <%- partial('partials/_flash-messages') %>
        <%- partial('partials/_form-error', {
            pageFields: ['questionTimeLimit', 'loadingTimeLimit', 'checkTimeLimit', 'isPostAdminEndDateUnavailable'],
            error
        }) %>

        <p class="govuk-body">Adjust settings which apply to the pupil check only</p>
        <form action="/service-manager/check-settings" method="post" autocomplete="off">
            <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
            <div class="govuk-form-group">
                <label for="questionTimeLimit" class="govuk-label govuk-!-font-weight-bold">Question time limit</label>
                <span class="govuk-hint">For example, 6  for 6 seconds. Possible to 2 decimal places.</span>
                <% if (error.isError('questionTimeLimit')) { %>
                    <span class="govuk-error-message"><%= error.get('questionTimeLimit') %></span>
                <% } %>
                <label class="govuk-label" for="questionTimeLimit">Seconds</label>
                <input class="govuk-input govuk-input--width-4"
                       id="questionTimeLimit"
                       name="questionTimeLimit"
                       type="text"
                       value="<%= settings.questionTimeLimit %>"
                       aria-required="true"
                       aria-label="Question time limit.">

            </div>
            <div class="govuk-form-group">
                <label for="loadingTimeLimit" class="govuk-label govuk-!-font-weight-bold">Time between questions</label>
                <span class="govuk-hint">For example, 3 for 3 seconds. Possible to 2 decimal places.</span>
                <% if (error.isError('loadingTimeLimit')) { %>
                    <span class="govuk-error-message"><%= error.get('loadingTimeLimit') %></span>
                <% } %>
                <label class="govuk-label" for="loadingTimeLimit">Seconds</label>
                <input class="govuk-input govuk-input--width-4"
                       id="loadingTimeLimit"
                       name="loadingTimeLimit"
                       type="text"
                       value="<%= settings.loadingTimeLimit %>"
                       aria-required="true"
                       aria-label="Time between questions.">
            </div>
            <div class="govuk-form-group">
                <label for="loadingTimeLimit" class="govuk-label govuk-!-font-weight-bold">
                    Maximum length of check
                    <span class="govuk-hint">How long an individual has to complete the check before being signed out automatically. For example, 30 for 30 minutes.</span>
                    <% if (error.isError('checkTimeLimit')) { %>
                        <span class="govuk-error-message"><%= error.get('checkTimeLimit') %></span>
                    <% } %>
                </label>
                <label class="govuk-label" for="checkTimeLimit">Minutes</label>
                <input class="govuk-input govuk-input--width-4"
                       id="checkTimeLimit"
                       name="checkTimeLimit"
                       type="text"
                       value="<%= settings.checkTimeLimit %>"
                       aria-required="true"
                       aria-label="Maximum length of check.">
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h2 class="govuk-fieldset__heading">
                        Choose a mode for the site after the admin period ends (post-admin period)
                        </h2>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="read-only" name="isPostAdminEndDateUnavailable" type="radio" value="0"
                                <%- settings.isPostAdminEndDateUnavailable === false ? 'checked' : '' %>>
                            <label class="govuk-label govuk-radios__label" for="read-only">
                                Read-only (teachers will be able to see the register and download the CTF file)
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="unavailable" name="isPostAdminEndDateUnavailable" type="radio" value="1"
                                <%- settings.isPostAdminEndDateUnavailable === true ? 'checked' : '' %>>
                            <label class="govuk-label govuk-radios__label" for="unavailable">
                                Unavailable (teachers will only see the <em>Service Unavailable</em> page)
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <input class="govuk-button" type="submit" value="Save">
            <a class="govuk-button govuk-button--secondary" href="/service-manager/home">Cancel</a>
        </form>
        </div>
    </div>
</main>
