<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row" aria-describedby="heading-xlarge">
    <div class="column-two-thirds" id="checkWindowsForm">

        <% if (typeof error === 'object' && error) { %>
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-1">You need to fix the errors on this page before continuing.</h2>
            <p>See highlighted errors below.</p>
        </div>
        <% } %>

        <% if (typeof successfulPost !== 'undefined' && successfulPost === 'updated') { %>
        <div class="box-successful top-padding-30">
            <h2 class="heading-large">Changes have been saved</h2>
        </div>
        <% } %>

        <h1 class="heading-xlarge" id="heading-xlarge"><%= actionName %> check window</h1>

        <form action="/service-manager/check-windows/<%= urlActionName %>/<%= %>" method="post">
            <div class="form-group">
                <label for="checkWindowName" class="form-label-bold">
                    Name of check window
                    <% if (typeof error !== 'undefined' && error.checkWindowName) { %>
                    <span class="error-message"><%= error.checkWindowName %></span>
                    <% } %>
                </label>
                <input class="form-control <%= typeof error !== 'undefined' && error.checkWindowName ? 'form-control-error' : '' %>"
                       id="checkWindowName"
                       name="checkWindowName"
                       type="text"
                       value="<%= typeof checkWindowData !== 'undefined' && checkWindowData.checkWindowName ? checkWindowData.checkWindowName : ''%>"
                       aria-required="true"
                       aria-label="Check window name.">
            </div>

            <hr />

            <div class="form-group">
                <label class="form-label-bold">
                    Administration start date
                    <span class="form-hint">For example, 28 4 <%= currentYear %></span>
                    <% if (typeof error !== 'undefined' && error.adminDateInvalid) { %>
                    <span class="error-message"><%= errorMessage.adminDateInvalid %></span>
                    <% } %>
                    <% if (typeof error !== 'undefined' && error.adminDateInThePast) { %>
                    <span class="error-message"><%= errorMessage.adminDateInThePast %></span>
                    <% } %>
                    <% if (typeof error !== 'undefined' && error.adminStartDay) { %>
                    <span class="error-message"><%= error.adminStartDay %></span>
                    <% } %>
                    <% if (typeof error !== 'undefined' && error.adminStartMonth) { %>
                    <span class="error-message"><%= error.adminStartMonth %></span>
                    <% } %>
                    <% if (typeof error !== 'undefined' && error.adminStartYear) { %>
                    <span class="error-message"><%= error.adminStartYear %></span>
                    <% } %>
                </label>
                <div class="form-date">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="adminStartDay">Day</label>
                        <input class="form-control <%= typeof error !== 'undefined' && error.adminStartDay ? 'form-control-error' : '' %>"
                               id="adminStartDay"
                               name="adminStartDay"
                               type="number"
                               value="<%= typeof checkWindowData !== 'undefined' && checkWindowData.adminStartDay %>"
                               aria-required="true"
                               aria-label="Administration start day."
                               <% if (adminIsDisabled) { %>
                               disabled="disabled"
                               <% } %>>
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="adminStartMonth">Month</label>
                        <input class="form-control <%= typeof error !== 'undefined' && error.adminStartMonth ? 'form-control-error' : '' %>"
                               id="adminStartMonth"
                               name="adminStartMonth"
                               type="number"
                               value="<%= typeof checkWindowData !== 'undefined' && checkWindowData.adminStartMonth %>"
                               aria-required="true"
                               aria-label="Administration start month."
                               <% if (adminIsDisabled) { %>
                               disabled="disabled"
                               <% } %>>
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="adminStartYear">Year</label>
                        <input class="form-control <%= typeof error !== 'undefined' && error.adminStartYear ? 'form-control-error' : '' %>"
                               id="adminStartYear"
                               name="adminStartYear"
                               type="number"
                               value="<%= typeof checkWindowData !== 'undefined' && checkWindowData.adminStartYear %>"
                               aria-required="true"
                               aria-label="Administration start year."
                               <% if (adminIsDisabled) { %>
                               disabled="disabled"
                               <% } %>>
                    </div>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <label class="form-label-bold">
                    Check start date
                    <span class="form-hint">For example, 28 4 <%= currentYear %></span>
                    <% if (typeof error !== 'undefined' && error.checkStartDateInvalid) { %>
                    <span class="error-message"><%= errorMessage.checkStartDateInvalid %></span>
                    <% } %>
                    <% if (typeof error !== 'undefined' &&  error.checkDateBeforeAdminDate) { %>
                    <span class="error-message"><%= errorMessage.checkDateBeforeAdminDate %></span>
                    <% } %>
                    <% if (typeof error !== 'undefined' &&  error.checkStartDateInThePast) { %>
                    <span class="error-message"><%= errorMessage.checkStartDateInThePast %></span>
                    <% } %>
                    <% if (typeof error !== 'undefined' &&  error.checkStartDay) { %>
                    <span class="error-message"><%= error.checkStartDay %></span>
                    <% } %>
                    <% if (typeof error !== 'undefined' &&  error.checkStartMonth) { %>
                    <span class="error-message"><%= error.checkStartMonth %></span>
                    <% } %>
                    <% if (typeof error !== 'undefined' &&  error.checkStartYear) { %>
                    <span class="error-message"><%= error.checkStartYear %></span>
                    <% } %>
                </label>
                <div class="form-date">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="checkStartDay">Day</label>
                        <input class="form-control <%= typeof error !== 'undefined' && error.checkStartDay ? 'form-control-error' : '' %>"
                               id="checkStartDay"
                               name="checkStartDay"
                               type="number"
                               value="<%= typeof checkWindowData !== 'undefined' && checkWindowData.checkStartDay %>"
                               aria-required="true"
                               aria-label="Check start day."
                               <% if (checkStartIsDisabled) { %>
                               disabled="disabled"
                               <% } %>>
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="checkStartMonth">Month</label>
                        <input class="form-control <%= typeof error !== 'undefined' && error.checkStartMonth ? 'form-control-error' : '' %>"
                               id="checkStartMonth"
                               name="checkStartMonth"
                               type="number"
                               value="<%= typeof checkWindowData !== 'undefined' && checkWindowData.checkStartMonth %>"
                               aria-required="true"
                               aria-label="Check start month."
                               <% if (checkStartIsDisabled) { %>
                               disabled="disabled"
                               <% } %>>
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="checkStartYear">Year</label>
                        <input class="form-control <%= typeof error !== 'undefined' && error.checkStartYear ? 'form-control-error' : '' %>"
                               id="checkStartYear"
                               name="checkStartYear"
                               type="number"
                               value="<%= typeof checkWindowData !== 'undefined' && checkWindowData.checkStartYear %>"
                               aria-required="true"
                               aria-label="Check start year."
                               <% if (checkStartIsDisabled) { %>
                               disabled="disabled"
                               <% } %>>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label-bold">
                    Check end date
                    <span class="form-hint">For example, 28 4 <%= currentYear %></span>
                    <% if (typeof error !== 'undefined' && error.checkEndDateInvalid) { %>
                    <span class="error-message"><%= errorMessage.checkEndDateInvalid %></span>
                    <% } %>
                    <% if (typeof error !== 'undefined' &&  error.checkEndDateBeforeStartDate) { %>
                    <span class="error-message"><%= errorMessage.checkEndDateBeforeStartDate %></span>
                    <% } %>
                    <% if (typeof error !== 'undefined' &&  error.checkEndDateInThePast) { %>
                    <span class="error-message"><%= errorMessage.checkEndDateInThePast %></span>
                    <% } %>
                    <% if (typeof error !== 'undefined' &&  error.checkEndDay) { %>
                    <span class="error-message"><%= error.checkEndDay %></span>
                    <% } %>
                    <% if (typeof error !== 'undefined' &&  error.checkEndMonth) { %>
                    <span class="error-message"><%= error.checkEndMonth %></span>
                    <% } %>
                    <% if (typeof error !== 'undefined' &&  error.checkEndYear) { %>
                    <span class="error-message"><%= error.checkEndYear %></span>
                    <% } %>
                </label>
                <div class="form-date">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="checkEndDay">Day</label>
                        <input class="form-control <%= typeof error !== 'undefined' && error.checkEndDay ? 'form-control-error' : '' %>"
                               id="checkEndDay"
                               name="checkEndDay"
                               type="number"
                               value="<%= typeof checkWindowData !== 'undefined' && checkWindowData.checkEndDay %>"
                               aria-required="true"
                               aria-label="Check end day.">
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="checkEndMonth">Month</label>
                        <input class="form-control <%= typeof error !== 'undefined' && error.checkEndMonth ? 'form-control-error' : '' %>"
                               id="checkEndMonth"
                               name="checkEndMonth"
                               type="number"
                               value="<%= typeof checkWindowData !== 'undefined' && checkWindowData.checkEndMonth %>"
                               aria-required="true"
                               aria-label="Check end month.">
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="checkEndYear">Year</label>
                        <input class="form-control <%= typeof error !== 'undefined' && error.checkEndYear ? 'form-control-error' : '' %>"
                               id="checkEndYear"
                               name="checkEndYear"
                               type="number"
                               value="<%= typeof checkWindowData !== 'undefined' && checkWindowData.checkEndYear %>"
                               aria-required="true"
                               aria-label="Check end day.">
                    </div>
                </div>
                <input type="hidden" name="adminIsDisabled" value="<%= adminIsDisabled %>">
                <input type="hidden" name="checkStartIsDisabled" value="<%= checkStartIsDisabled %>">
                <input type="hidden" name="checkWindowId" value="<%= typeof checkWindowData !== 'undefined' && checkWindowData.checkWindowId ? checkWindowData.checkWindowId : '' %>">
                <input type="hidden" name="existingAdminStartDate" value="<%= typeof checkWindowData !== 'undefined' && checkWindowData.existingAdminStartDate %>">
                <input type="hidden" name="existingCheckStartDate" value="<%= typeof checkWindowData !== 'undefined' && checkWindowData.existingCheckStartDate %>">
            </div>

            <div class="form-buttons">
                <input class="button" type="submit" value="Save">
                <a href="/service-manager/check-windows" class="button button-secondary">Cancel</a>
            </div>
        </form>

        <div class="back-to-top-container">
            <a href="#top">Back to top</a>
        </div>
    </div>
</div>
