<% let err = (typeof error !== 'undefined') ? error : false; %>

<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">Choose check window </h1>

        <%- partial('partials/_session_expiry') %>

        <div class="information">
            <p>Check form(s): <%= forms.map( f => { return f.name ;} ).join(', ') %></p>
        </div>

        <p class="lede">Use this page to choose which check window you want to assign forms to.</p>

        <form method="post" action="assign-forms-to-check-windows">
            <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
            <% forms.forEach( f => { %>
            <input type="hidden" name="check-form" value="<%= f._id %>" />
            <% }) %>
            <table class="spacious">
                <thead>
                <tr>
                    <th> Check window</th>
                    <th> Start date</th>
                    <th> End date</th>
                </tr>
                </thead>
                <tbody>
                <% checkWindows.forEach( c => { %>
                <tr>
                    <td>
                        <div class="multiple-choice">
                            <input id="check-window-<%= c._id %>" type="checkbox" name="check-window" value="<%= c._id %>"/>
                            <label for="check-window-<%= c._id %>"><%= c.name %></label>
                        </div>
                    </td>
                    <td> <%= formatGdsDate(c.startDate) %></td>
                    <td> <%= formatGdsDate(c.endDate) %></td>
                </tr>
                <% }); %>
                </tbody>
            </table>

            <div class="form-group">
                <input type="submit" class="button" value="Continue"/>
                <a href="manage-check-forms" class="button button-secondary">Back</a>
            </div>
        </form>

    </div>
</div>
