<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
  <main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          <%=pupil.lastName %>, <%=pupil.firstName %>
        </h1>
        <%- partial('partials/_gds_session_expiry') %>
          <%- partial('partials/_flash-messages') %>
          <%- partial('partials/service-manager/pupil/_pupil-summary', { pupil }) %>
      </div>
      <div class="govuk-grid-column-one-third" aria-label="sidebar">
        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Read the
                  guidance and watch videos</a>
              </li>
              <li>
              <% if (pupil.isAnnulled) { %>
                <a class="govuk-link" href="/service-manager/annul-pupil-undo/<%=pupil.urlSlug %>" >Undo Annulment</a>
                <% } else if (!pupil.isFrozen) { %>
                  <a class="govuk-link" href="/service-manager/annul-pupil/<%=pupil.urlSlug %>" >Annul this pupils results</a>
              <% } %>
              </li>
              <li>
                <% if (!pupil.isFrozen && !pupil.isAnnulled) { %>
                  <a class="govuk-link" href="/service-manager/pupil/freeze/<%=pupil.urlSlug %>" >Freeze this pupil</a>
                <% } else if (pupil.isFrozen && !pupil.isAnnulled) { %>
                  <a class="govuk-link" href="/service-manager/pupil/thaw/<%=pupil.urlSlug %>" >Thaw this pupil</a>
                <% } %>
              </li>
              <li>
                <a class="govuk-link" href="/service-manager/pupil/move/<%=pupil.urlSlug.toLowerCase() %>" >Move pupil to different school</a>
              </li>
            </ul>
          </nav>
        </aside>
      </div>
    </div>
  </main>
