<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
  <main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          <%=pupil.lastName %>, <%=pupil.firstName %>
        </h1>
        <%- partial('partials/_gds_session_expiry') %>
          <%- partial('partials/_flash-messages') %>
            <dl class="govuk-summary-list">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of Birth
                </dt>
                <dd class="govuk-summary-list__value">
                  <%=pupil.dateOfBirth %>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  UPN
                </dt>
                <dd class="govuk-summary-list__value">
                  <%=pupil.upn %>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Pupil ID
                </dt>
                <dd class="govuk-summary-list__value">
                  <%= pupil.id %>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  School
                </dt>
                <dd class="govuk-summary-list__value">
                  <%= pupil.schoolName %>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  DFE Number
                </dt>
                <dd class="govuk-summary-list__value">
                  <%= pupil.dfeNumber%>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  URN
                </dt>
                <dd class="govuk-summary-list__value">
                  <%=pupil.schoolUrn %>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <%=pupil.status %>
                </dd>
              </div>
            </dl>
      </div>
      <div class="govuk-grid-column-one-third" aria-label="sidebar">
        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Read the
                  guidance and watch videos</a>
              </li>
              <li>
              <% if (pupil.isAnnulled) { %>
                <a class="govuk-link" href="/service-manager/annul-pupil-undo/<%=pupil.urlSlug %>" >Undo Annulment</a>
                <% } else { %>
                  <a class="govuk-link" href="/service-manager/annul-pupil/<%=pupil.urlSlug %>" >Annul this pupils results</a>
              <% } %>
              </li>
              <li>
                <a class="govuk-link" href="/service-manager/pupil/move/<%=pupil.urlSlug.toLowerCase() %>" >Move pupil to another school</a>
              </li>
            </ul>
          </nav>
        </aside>
      </div>
    </div>
  </main>
