<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <% if (err.hasError()) { %>
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        You need to fix the errors on this page before continuing.
                    </h2>
                    <div class="govuk-error-summary__body">
                        <p>See highlighted errors below.</p>
                        <ul class="govuk-list govuk-error-summary__list">
                            <% err.getUniqueFields(['timezone', 'schoolName', 'urn']).map(f => { %>
                                <li><a href="#<%= f %>"><%= err.get(f) %></a></li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            <% } %>
            <h1 class="govuk-heading-xl">Convert school to Ministry of Defence schools (MOD)</h1>
            <%- partial('partials/_gds_session_expiry') %>
            <form action="/service-manager/mod-settings/add-school" method="post" novalidate>
                <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
                <div class="govuk-form-group <%= err.isError('schoolName') ? 'govuk-form-group--error' : '' %>">
                    <label class="govuk-label govuk-!-font-weight-bold" for="schoolName">School name
                        <% if (err.isError('schoolName')) { %>
                            <span class="govuk-error-message"><%= err.get('schoolName') %></span>
                        <% } %>
                    </label>
                    <div id="schoolNameContainer" class="govuk-body govuk-!-width-one-half"></div>
                </div>
                <div class="govuk-form-group <%= err.isError('urn') ? 'govuk-form-group--error' : '' %>">
                    <label class="govuk-label govuk-!-font-weight-bold" for="urn">Unique reference number (URN)
                        <span class="govuk-hint hint-spacious">For example, 3424352342343</span>
                        <% if (err.isError('urn')) { %>
                            <span class="govuk-error-message"><%= err.get('urn') %></span>
                        <% } %>
                    </label>
                    <div class='govuk-!-width-one-half'>
                        <div id="urnContainer"></div>
                    </div>
                </div>
                <div class="govuk-form-group <%= err.isError('timezone') ? 'govuk-form-group--error' : '' %>">
                    <label class="govuk-label govuk-!-font-weight-bold" for="timezone">Country
                        <% if (err.isError('timezone')) { %>
                            <span class="govuk-error-message"><%= err.get('timezone') %></span>
                        <% } %>
                    </label>
                    <div class="govuk-body govuk-!-width-one-half">
                        <select class="govuk-select"
                                id="timezone"
                                name="timezone">
                            <option value=""></option>
                            <% countriesTzData.map(t => { %>
                                <option value="<%= t.countryCode %>|<%= t.zone %>"><%= t.name %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <input type="submit" class="govuk-button" value="Save"/>
                <a href="/service-manager/mod-settings" class="govuk-button govuk-button--secondary">Cancel</a>
            </form>
        </div>
    </div>
</main>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const schoolNames = <%- schoolNames %>
    const schoolUrns = <%- schoolUrns %>
    window.MTCAdmin.autoComplete.createComponent('#timezone', 2, '')
    window.MTCAdmin.autoComplete.createLinkedComponent('#schoolNameContainer', 'schoolName', schoolNames, 3, '#urnContainer', function(value) { return schoolUrns[schoolNames.indexOf(value)] })
    window.MTCAdmin.autoComplete.createLinkedComponent('#urnContainer', 'urn', schoolUrns, 3, '#schoolNameContainer', function(value) { return schoolNames[schoolUrns.indexOf(value)] })
  })
</script>
