<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <% if (messages && messages.info && messages.info.length) { %>
            <div class="govuk-info-message govuk-!-margin-bottom-7">
                <%= messages.info %>
            </div>
        <% } %>
            <h1 class="govuk-heading-xl">Settings for Ministry of Defence schools (MOD)</h1>
            <%- partial('partials/_gds_session_expiry') %>
            <p class="govuk-body" id="lead-paragraph">Set timezones for schools listed as Ministry of Defence schools (MOD). Add or remove schools listed as MOD.</p>
            <form action="/service-manager/mod-settings" method="post" novalidate>
                <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
                <a class="govuk-button govuk-button--secondary" href="/service-manager/mod-settings/add-school">Convert school to MOD</a>
                <table id="sce-schools" class="govuk-spacious">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">
                                <a class="sortingLink">School name<span class="sort-icon asc"><span>Sort by school name</span></span></a>
                            </th>
                            <th scope="col" class="govuk-table__header">
                                <a class="sortingLink">Country<span class="sort-icon"><span>Sort by country</span></span></a>
                            </th>
                            <th scope="col" class="govuk-table__header">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <% sceSchools.forEach((s) => { %>
                        <tr class="govuk-table__row">
                            <td class="allow-wrap <% if (highlight === s.urlSlug) { %>govuk-highlight-item<% } %>">
                                <div class="govuk-highlight-wrapper">
                                    <%= s.name %>
                                    <div class="govuk-font-greyed-out govuk-!-font-size-16">
                                        URN: <%= s.urn %>
                                    </div>
                                </div>
                            </td>
                            <td class="govuk-column-wide">
                                <!-- hidden text used for column sorting -->
                                <div style="width: 0; height: 0; overflow: hidden;"><%=s.timezone %></div>
                                <input type="hidden" name="urn[]" value="<%= s.urn %>" />
                                <select class="govuk-input timezone"
                                        id="timezone"
                                        name="timezone[<%= s.urn %>]">
                                    <option value="" <% if (s.timezone === '') { %>selected="selected"<% } %>></option>
                                    <% countriesTzData.map(t => { %>
                                        <option value="<%= t.countryCode %>|<%= t.zone %>" <% if (t.zone === s.timezone && t.countryCode === s.countryCode) { %>selected="selected"<% } %>><%= t.name %></option>
                                    <% }) %>
                                </select>
                            </td>
                            <td class="govuk-no-white-space-wrap nowrap govuk-column-narrow">
                                <a href="/service-manager/mod-settings/remove-school/<%= s.urn %>" class="govuk-link modal-link" id="js-modal-link">Remove school</a>
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
                <input type="submit" class="govuk-button" value="Save"/>
                <a href="/service-manager/mod-settings/cancel" class="govuk-button govuk-button--secondary">Cancel</a>
            </form>
            <div class="govuk-back-to-top govuk-!-margin-top-9">
                <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                    <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                    </svg>Back to top
                </a>
            </div>
        </div>
        <div class="govuk-grid-column-one-third" aria-label="sidebar">
            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">
                    Related
                </h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a class="govuk-link" href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Guidance</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="/service-manager/check-settings">Settings on pupil check</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="/service-manager/home">Settings on school pages</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>
<%- partial('partials/_gds_modal_box', {
    modalTitle: 'Remove SCE school',
    modalText: 'Are you sure you want to remove this?',
    modalConfirmationLabel: 'Confirm',
    modalConfirmationUrl: '#',
    modalCancelLabel: 'Cancel',
    modalCancelUrl: '#'
}) %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const timezoneEl = document.getElementById('timezone')
    window.accessibleAutocomplete.enhanceSelectElement({
      selectElement: timezoneEl,
      minLength: 2,
      preserveNullOptions: true,
      defaultValue: '',
      showAllValues: true
    })
    window.MTCAdmin.tableSort.applySorting(window.document, 'sce-schools', {
      sortNullsLast: true,
      ignoredStrings: ['-']
    })
  })
</script>
