<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Add school as Service children's education (SCE)</h1>
        <%- partial('partials/_session_expiry') %>
        <form action="/service-manager/sce-settings/add-school" method="post" novalidate>
            <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
            <div class="form-group <%= err.isError('schoolName') ? 'form-group-error' : '' %>">
                <label class="form-label-bold" for="schoolName">School name
                    <% if (err.isError('schoolName')) { %>
                    <span class="error-message"><%= err.get('schoolName') %></span>
                    <% } %>
                </label>
                <div class='form-control-1-2'>
                    <select
                        class="form-control <%= err.isError('schoolName') ? 'form-control-error' : '' %>"
                        id="schoolName"
                        name="urn">
                        <option value=""></option>
                        <% schools.map(t => { %>
                            <option value="<%= t.urn %>"><%= t.name %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="form-group <%= err.isError('urn') ? 'form-group-error' : '' %>">
                <label class="form-label-bold" for="urn">Unique reference number (URN)
                    <span class="form-hint hint-spacious">For example, 3424352342343</span>
                    <% if (err.isError('urn')) { %>
                    <span class="error-message"><%= err.get('urn') %></span>
                    <% } %>
                </label>
                <div class='form-control-1-2'>
                    <select
                        class="form-control <%= err.isError('urn') ? 'form-control-error' : '' %>"
                        id="urn"
                        name="schoolName">
                        <option value=""></option>
                        <% schools.map(t => { %>
                            <option value="<%= t.name %>"><%= t.urn %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="form-group <%= err.isError('timezone') ? 'form-group-error' : '' %>">
                <label class="form-label-bold" for="timezone">Country
                    <% if (err.isError('timezone')) { %>
                    <span class="error-message"><%= err.get('timezone') %></span>
                    <% } %>
                </label>
                <div class='form-control-1-2'>
                    <select class="form-control"
                        id="timezone"
                        name="timezone">
                        <option value=""></option>
                        <% countriesTzData.map(t => { %>
                        <option value="<%= t.zone %>"><%= t.name %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="form-buttons">
                <input type="submit" class="button" value="Save"/>
                <a href="/service-manager/sce-settings" class="button button-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
<script>
  $(function () {
    window.GOVUK.autoComplete.createComponent('#timezone', 2, '')
    window.GOVUK.autoComplete.createLinkedComponent('#schoolName', 3, '#urn')
    window.GOVUK.autoComplete.createLinkedComponent('#urn', 3, '#schoolName')
  })
</script>
