<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <%- partial('partials/_service_message', { serviceMessages }) %>
            <h1 class="govuk-heading-xl">Multiplication tables check for service managers</h1>
            <%- partial('partials/_gds_session_expiry') %>
            <ol class="govuk-list">
                <% const hrefValue = isNewCheckWindow ? '/check-window/manage-check-windows' : '/service-manager/check-windows' %>
                <li>
                    <h2 class="govuk-heading-s"><a class="govuk-link" href="<%= hrefValue %>">Manage check windows</a></h2>
                    <p>Create, edit or remove check windows</p>
                </li>
                <li>
                    <h2 class="govuk-heading-s"><a class="govuk-link" href="/service-manager/upload-pupil-census">Upload pupil census</a></h2>
                    <p>Enter pupil data into the check</p>
                </li>
                <li>
                    <h2 class="govuk-heading-s"><a class="govuk-link" href="/service-manager/check-settings">Settings on pupil check</a></h2>
                    <p>Change the settings within the pupil check</p>
                </li>
                <li>
                    <h2 class="govuk-heading-s"><a class="govuk-link" href="/service-manager/mod-settings">Settings for Ministry of Defence schools (MOD)</a></h2>
                    <p>Set timezones, convert and remove school listed as MOD</p>
                </li>
                <li>
                    <h2 class="govuk-heading-s"><a class="govuk-link" href="/service-message">Manage service message</a></h2>
                    <p>Add or delete a global service message for the school homepage</p>
                </li>
                <li>
                    <h2 class="govuk-heading-s"><a class="govuk-link" href="/service-manager/organisations">Manage
                            organisations</a></h2>
                    <p>Upload, add or edit schools</p>
                </li>
                <li>
                  <h2 class="govuk-heading-s"><a class="govuk-link" href="/service-manager/pupil-search">Pupil Search</a></h2>
                  <p>Administer Pupils</p>
              </li>
                <li>
                  <h2 class="govuk-heading-s"><a class="govuk-link" href="/service-manager/jobs">View Jobs</a></h2>
                  <p>View Jobs</p>
              </li>
              <li>
                <h2 class="govuk-heading-s"><a class="govuk-link" href="/service-manager/attendance-codes">Manage attendance codes</a></h2>
                <p>Toggle availabilty of attendance codes</p>
            </li>
            </ol>
        </div>
        <div class="govuk-grid-column-one-third" aria-label="sidebar">
            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">
                    Related
                </h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a class="govuk-link" href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Read the guidance and watch videos</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>
