<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <% if (messages && messages.info) { %>
        <div class="info-message">
            <%= messages.info[0] %>
        </div>
        <% } %>
        <header class="page-header">
            <h1 class="heading-xlarge">Restarts</h1>
        </header>
        <br />
        <span class="font-medium">
            If a pupil was significantly interrupted while taking the check,
            use this page to notify the STA that they will restart the check.
            The pupil will take a different check form from their previous attempt
            and the last completed attempt will be reported.
        </span>
    </div>
    <div class="column-one-third sidebar"  aria-label="sidebar">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium">Related</h3>
            <nav role="navigation">
                <ul class="list">
                    <li>
                        <a href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Guidance</a>
                    </li>
                    <li>
                        <a href="/pupil-pin/generate-pins-overview">Generate pupil PINs</a>
                    </li>
                    <li>
                        <a href="/school/pupil-register/name/asc" >Pupil Register</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>

<br />

<div class="grid-row">
    <div class="column-two-thirds">
        <form action="/restart/select-restart-list" name="select-pupils-to-restart">
            <div class="form-group">
                <div class="form-buttons">
                    <input type="submit" class="button" value="Select pupils to restart"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <%if (restarts.length > 0) { %>
        <br class="clearfix"/>
        <b class="bold-medium">Restarts recorded</b>
        <form method="post" action="/restart/delete/" autocomplete="off">
        <table id='submitted-restarts' class="spacious">
            <thead>
            <tr>
                <th scope="col">Pupil</th>
                <th scope="col">Reason</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <% restarts.forEach( (restart, index) => { %>
            <tr class="restart-pupil-name">
                <td<% if (highlight && highlight.has(restart.id.toString())) { %> class="highlight-item"<% } %>>
                    <span id="pupil-<%= restart.id %>">
                    <%= restart.fullName %>
                    </span>
                    <% if (restart.showDoB) { %>
                    <div class="font-greyed-out font-xsmall">
                        Date of birth: <%= restart.dateOfBirth %>
                    </div>
                    <% } %>
                </td>
                <td class="restart-reason"><%= restart.reason %></td>
                <% if (restart.status === 'Remove restart') {%>
                    <td class="restart-status">
                            <button class="link-button" name="pupilId" value="<%= restart.pupilId %>" >
                                <span class="font-small"><%= restart.status %></span>
                            </button>
                    </td>
                <% } else { %>
                <td class="restart-status"><%= restart.status %></td>
                <% } %>
            </tr>
            <% }) %>
            </tbody>
        </table>
        </form>
        <% } else { %>
        No pupils selected to restart the check.
        <% } %>
    </div>
</div>
