<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <%- partial('partials/_service_message', { serviceMessages }) %>
        <% if (messages && messages.info) { %>
            <div class="govuk-body govuk-info-message govuk-!-margin-bottom-7">
                <%= messages.info[0] %>
            </div>
        <% } %>
            <h1 class="govuk-heading-xl">Select pupils to restart the check</h1>
            <%- partial('partials/_gds_session_expiry') %>
            <p class="govuk-body">
              If a pupil was interrupted during the check, you can allow them to restart it.
            </p>
            <p class="govuk-body">
              After you have generated a restart below, you will need to navigate to <a class="govuk-link" href="/pupil-pin/generate-live-pins-overview">Generate password and PINs for the official check</a> and generate a new PIN for pupils who are restarting the check, even if they restart the check on the same day as their original attempt.
            </p>
            <p class="govuk-body">
                The pupil will see a different set of questions from their previous attempt. Only the outcome of their final completed attempt will be reported, regardless of which score was higher.
            </p>
            <p class="govuk-body">
              If the pupil has taken the check, but is not showing as complete, you should follow the next steps on the <a class="govuk-link" href="/pupil-status/">see how many pupils have completed the official check page</a> before generating a restart.
            </p>
            <a href="/restart/select-restart-list" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                Generate restart for pupils
            </a>
        <%if (restarts.length > 0) { %>
            <form method="post" action="/restart/delete/" autocomplete="off">
                <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
                <table id='submitted-restarts' class="govuk-table govuk-spacious govuk-!-margin-bottom-9">
                    <caption class="govuk-body govuk-table__caption">Restarts recorded</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Pupil</th>
                            <th scope="col" class="govuk-table__header">Reason</th>
                            <th scope="col" class="govuk-table__header">Status</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <% restarts.forEach( (restart, index) => { %>
                        <tr class="govuk-table__row">
                            <td scope="row" <% if (highlight && highlight.has(restart.urlSlug)) { %> class="govuk-highlight-item"<% } %>>
                                <div class="govuk-highlight-wrapper">
                                    <span class="govuk-body" id="pupil-<%= restart.urlSlug %>">
                                    <%= restart.fullName %>
                                    </span>
                                    <% if (restart.showDoB) { %>
                                        <div class="govuk-font-greyed-out govuk-!-font-size-16">
                                            Date of birth: <%= restart.formattedDateOfBirth %>
                                        </div>
                                    <% } %>
                                </div>
                            </td>
                            <td scope="row" class="restart-reason"><%= restart.reason %></td>
                            <% if (restart.status === 'Remove restart') {%>
                                <td class="restart-status">
                                    <button class="link-button" name="pupil" value="<%= restart.urlSlug %>" >
                                        <span class="govuk-!-font-size-19"><%= restart.status %></span>
                                    </button>
                                </td>
                            <% } else { %>
                                <td class="restart-status"><%= restart.status %></td>
                            <% } %>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </form>
        <% } else { %>
            <div class="govuk-body">No pupils selected to restart the check.</div>
        <% } %>
        </div>
        <div class="govuk-grid-column-one-third" aria-label="sidebar">
            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">
                    Related
                </h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a class="govuk-link" href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Read the guidance and watch videos</a>
                        </li>
                        <% if (pinGenerationEligibilityData.isLivePinGenerationAllowed) { %>
                            <li>
                                <a class="govuk-link" href="/pupil-pin/generate-live-pins-overview" rel="noopener noreferrer">Generate passwords and PINs for the official check</a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>
