<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row" id="select-pupils-restart" aria-describedby="heading-xlarge">
    <form method="post" action="/restart/submit-restart-list" autocomplete="off">
        <div class="column-two-thirds">
            <% if (error.hasError()) { %>
            <div class="error-summary" role="group" aria-labelledby="error-summary-heading-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-1">You need to fix the errors on this page before continuing.</h2>
                <p>See highlighted errors below.</p>
                <ul class="error-summary-list">
                    <% error.getUniqueFields(['didNotCompleteInfo']).map(f => { %>
                    <li><a href="#<%= f %>"><%= error.get(f) %></a></li>
                    <% }); %>
                </ul>
            </div>
            <% } %>

            <h1 class="heading-xlarge" id="heading-xlarge">Select pupils for restart</h1>
            <br />
            <h2>1. Select reason for restart</h2>
            <div class="form-group">
                <ul class="list restart-list">
                    <% reasons.forEach( (reason, index) => { %>
                    <li>
                        <div class="multiple-choice">
                            <% if (error.isError('didNotCompleteInfo') && reason.code === 'DNC') { %>
                            <input id="restart-reason-<%= index %>"
                                   type="radio"
                                   role="radio"
                                   aria-checked="false"
                                   name="restartReason"
                                   value="<%= reason.code %>"
                                   checked
                            >
                            <% } else { %>
                            <input id="restart-reason-<%= index %>"
                                   type="radio"
                                   role="radio"
                                   aria-checked="false"
                                   name="restartReason"
                                   value="<%= reason.code %>"
                            >
                            <% } %>
                            <label for="restart-reason-<%= index %>"><%= reason.description %></label>
                            <% if (reason.code === 'DNC') { %>
                            <div class="hide">
                                <div class="panel panel-border-wide">
                                    <div class="form-group <%= error.isError('didNotCompleteInfo') ? 'form-group-error' : '' %>">
                                        <label class="form-label" for="didNotCompleteInfo">Please specify:</label>
                                        <% if (error.isError('didNotCompleteInfo')) { %>
                                        <span class="error-message"> <%= error.get('didNotCompleteInfo') %></span>
                                        <% } %>
                                        <textarea
                                                class="form-control form-control-3-4 <%= error.isError('didNotCompleteInfo') ? 'form-control-error' : '' %>"
                                                name="didNotCompleteInfo"
                                                id="didNotCompleteInfo"
                                                rows="1"
                                                maxlength="100"></textarea>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </div>

            <div class="form-group">
                <label class="form-label" for="restartFurtherInfo">
                    If necessary, please provide further information:
                </label>
                <textarea class="form-control form-control-3-4" name="restartFurtherInfo" id="restartFurtherInfo" rows="5" maxlength="1000"></textarea>
            </div>

            <div class="master-detail text">
                <details>
                    <summary><span class="summary"> What do these reasons mean? </span></summary>
                    <div class="panel-no-border">
                        <ul class="panel-list">
                            <li>
                                <div><strong>Loss of internet</strong></div>
                                <div>Internet connections failed during the check and the data couldn't be recovered.</div>
                            </li>
                            <li>
                                <div><strong>IT Issues</strong></div>
                                <div>There was an issue with the device the pupil was using. For example faulty equipment or power loss.</div>
                            </li>
                            <li>
                                <div><strong>Classroom disruption</strong></div>
                                <div>Pupil(s) were unable to continue the check due to disruptions. For example, fire alarm, illness during the check or high level behavioural disruption.</div>
                            </li>
                            <li>
                                <div><strong>Did not complete</strong></div>
                                <div>Pupil did not complete the check. For example pupil accidentally closed the check window.</div>
                            </li>
                        </ul>
                    </div>
                </details>
            </div>

            <h2 class="top-padding-30">2. Select pupil(s)</h2>

            <%- partial('partials/_groups_filter', { groups: groups }) %>

            <% if (pupils && pupils.length > 0) { %>
            <table class="spacious reduced-top-margin" id="pupilsRestartList" role="listbox" aria-label="Select pupils.">
                <thead>
                <tr>
                    <th scope="col">
                        <a class="bold-small">Pupil</a>
                    </th>
                    <th scope="col">
                        <div class="tick-all-checkboxes-wrapper">
                            <label class="tick-all-checkboxes" id="selectAll" for="tickAllCheckboxes">Select all</label>
                            <label class="tick-all-checkboxes all-hide" id="deselectAll" for="tickAllCheckboxes">Deselect all</label>
                            <div class="multiple-choice-mtc">
                                <input id="tickAllCheckboxes" name="allPupils" type="checkbox" aria-label="Select all pupils.">
                                <div></div>
                            </div>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <% pupils.forEach( (pupil, index) => { %>
                    <tr<% if (pupil && pupil.group_id) { %> class="group-id-<%= pupil.group_id %>"<% } %>>
                        <td class="font-small">
                            <label for="pupil-<%= pupil.id %>">
                                <%= pupil.lastName %>, <%= pupil.foreName %> <%= pupil.showMiddleNames ? pupil.middleNames : '' %>
                            </label>
                            <% if (pupil.showDoB) { %>
                            <div class="font-greyed-out font-xsmall">
                                Date of birth: <%= pupil.dateOfBirth %>
                            </div>
                            <% } %>
                        </td>
                        <td>
                            <div class="multiple-choice-mtc">
                                <input id="pupil-<%= pupil.id %>"
                                       name="pupil[<%= index %>]"
                                       type="checkbox"
                                       value="<%= pupil.id %>"
                                       aria-label="Tick pupil <%= pupil.foreName %> <%= pupil.lastName %>."
                                       aria-checked="false"
                                       role="checkbox">
                                <div></div>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } else { %>
            <br class="clearfix" />
            <p>No pupils found.</p>
            <% } %>

            <br class="clearfix"/>

            <div class="back-to-top-container">
                <a href="#top">Back to top</a>
            </div>
        </div>
        <%- partial('partials/_sticky_confirmation_banner',
            {
                cancelLabel: 'Cancel',
                cancelLink: '/restart/overview',
                submitLabel: 'Confirm',
                isSubmitDisabled: true
            })
        %>
    </form>
</div>
