<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if (messages && messages.info && messages.info.length) { %>
      <div class="govuk-body govuk-info-message govuk-!-margin-bottom-7">
        <%= messages.info %>
      </div>
      <% } %>
      <h1 class="govuk-heading-xl">Usage Summary for <%= summary.schoolName %></h1>
      <%- partial('partials/_gds_session_expiry') %>
      <table id="check-summary" name="checkSummary" class="govuk-table govuk-spacious">
        <caption class="govuk-body govuk-table__caption">Pupil Register Summary</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
              Total
          </th>
            <th scope="col" class="govuk-table__header">
                Not Started
            </th>
            <th scope="col" class="govuk-table__header">
              Completed
            </th>
            <th scope="col" class="govuk-table__header">
              Not Taking
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <%= summary.register.notStarted %>
            </td>
            <td class="govuk-table__cell">
              <%= summary.register.notStarted %>
            </td>
            <td class="govuk-table__cell">
              <%= summary.register.completed %>
            </td>
            <td class="govuk-table__cell">
              <%= summary.register.notTaking %>
            </td>
          </tr>
        </tbody>
      </table>
      <table id="check-summary" name="checkSummary" class="govuk-table govuk-spacious">
        <caption class="govuk-body govuk-table__caption">Live Checks</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
              Date
            </th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
              Pins Generated
            </th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
              Users Logged In
            </th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
              Started Check
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% summary.LiveCheckSummary.forEach((lcs, index) => { %>
          <tr class="govuk-table__row">
            <td scope="row">
              <%= lcs.Date %>
            </td>
            <td class="govuk-table__cell">
              <%= lcs.PinsGenerated %>
            </td>
            <td class="govuk-table__cell">
              <%= lcs.LoggedIn %>
            </td>
            <td class="govuk-table__cell">
              <%= lcs.StartedCheck %>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <table id="check-summary" name="checkSummary" class="govuk-table govuk-spacious">
        <caption class="govuk-body govuk-table__caption">Try-it-Out Checks</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
              Date
            </th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
              Pins Generated
            </th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
              Users Logged In
            </th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
              Started Check
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% summary.TioCheckSummary.forEach((tcs, index) => { %>
          <tr class="govuk-table__row">
            <td scope="row">
              <%= tcs.Date %>
            </td>
            <td class="govuk-table__cell">
              <%= tcs.PinsGenerated %>
            </td>
            <td class="govuk-table__cell">
              <%= tcs.LoggedIn %>
            </td>
            <td class="govuk-table__cell">
              <%= tcs.StartedCheck %>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <div class="govuk-back-to-top">
        <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
          <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg"
            width="13" height="17" viewBox="0 0 13 17">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>Back to top
        </a>
      </div>
    </div>
    <!-- <div class="govuk-grid-column-one-third" aria-label="sidebar">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Read the
                guidance and watch videos</a>
            </li>
            <li>
              <a class="govuk-link" href="/group/pupils-list" rel="noopener noreferrer">Organise pupils into groups</a>
            </li>
            <li>
              <a class="govuk-link" href="/pupils-not-taking-the-check/pupils-list" rel="noopener noreferrer">Give a
                reason why pupil is not taking the check</a>
            </li>
            <li>
              <a class="govuk-link" href="/access-arrangements/overview" rel="noopener noreferrer">Enable access
                arrangements for pupils who need them</a>
            </li>
          </ul>
        </nav>
      </aside>
    </div> -->
  </div>
</main>
