<%- partial('partials/_breadcrumbs_and_sign_out', { breadcrumbs }) %>

<div class="grid-row">
    <div class="column-two-thirds check-forms">
        <% if (errors.hasError()) { %>
            <div class="error-summary" role="group" aria-labelledby="error-summary-heading-1">
              <h2 class="heading-medium error-summary-heading" id="error-summary-heading-1">You need to fix the errors on this page before continuing.</h2>
              <p>See highlighted errors below.</p>
              <ul class="error-summary-list">
                <% errors.getUniqueFields(['csvFiles', 'checkFormType']).map(f => { %>
                <% const errorMessages = errors.get(f) %>
                <% if (Array.isArray(errorMessages)) { %>
                <%  errorMessages.map(e => { %>
                <li><a href="#<%= f %>"><%= e %></a></li>
                <% }) } else { %>
                <li><a href="#<%= f %>"><%= errorMessages %></a></li>
                <% } %>
                <% }) %>
              </ul>
            </div>
        <% } %>

        <h1 class="heading-xlarge">Upload new form</h1>

        <%- partial('partials/_session_expiry') %>

        <h2 class="heading-medium top-padding-30"><a name="csv-guidance">Download example</a></h2>

        <ol class="numeric-list">
            <li>
                Download the example
                <div class="panel panel-border-wide short">
                    <a href="<%= assetPath %>csv/check-form-sample.csv" class="heading-small icon-download">Check form example (CSV, 4KB)</a>
                </div>
            </li>
            <li>Open file in a programme like Excel, OpenOffice or Google Sheets</li>
            <li>Add check questions using the given format</li>
            <li>Save as a CSV file on your computer</li>
            <li>Select 'Choose file' button and navigate to the file on your computer</li>
            <li>Choose the file(s) to upload</li>
        </ol>

        <h2 class="heading-medium">Upload file(s)</h2>

        <form action="/check-form/upload" method="post" enctype="multipart/form-data" id="check-form-upload-form">
            <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
            <input type="hidden" id="hasExistingFamiliarisationCheckForm" name="hasExistingFamiliarisationCheckForm" value="<%= hasExistingFamiliarisationCheckForm %>" />
            <% const csvErrors = errors.get('csvFiles') %>
            <div class="form-group<% if (csvErrors && csvErrors.length > 0) { %> form-group-error<% } %>">
                <% if (csvErrors) { %>
                  <% csvErrors.map(e => { %>
                <label class="error-message"><%= e %></label>
                  <% }) %>
                <% } %>
                <div class="font-xsmall">
                    <input
                      type="file"
                      name="csvFiles"
                      id="csvFiles"
                      accept=".csv"
                      class="<%= errors.isError('csvFiles') ? 'form-control-error' : '' %>"
                      aria-label="Choose a file to upload"
                      multiple
                    />
                </div>
                <input type="reset" class="link remove-file" id="removeUploadedFile" value="Remove files" aria-label="Remove uploaded files." />
            </div>
            <% const checkFormType = errors.get('checkFormType') %>
            <div class="form-group <%= errors.isError('checkFormType') ? 'form-group-error' : '' %>" id="check-form-type">
              <% if (checkFormType) { %>
              <label class="error-message"><%= checkFormType %></label>
              <% } %>
                <fieldset role="radiogroup">
                    <div class="inline">
                        <div class="multiple-choice">
                            <input id="checkFormType"
                                   type="radio"
                                   role="radio"
                                   aria-checked="false"
                                   name="checkFormType"
                                   value="L"
                                   <% if (formData && formData['checkFormType'] && formData['checkFormType'].toUpperCase() === 'L') { %>checked="checked"
                                    <% } %>
                            />
                            <label for="live-check-form">MTC form</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="checkFormType"
                                   type="radio"
                                   role="radio"
                                   aria-checked="false"
                                   name="checkFormType"
                                   value="F"
                                   <% if (formData && formData['checkFormType'] && formData['checkFormType'].toUpperCase() === 'F') { %>checked="checked"
                                    <% } %>
                            />
                            <label for="familiarisation-check-form">'Try it out' form</label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="form-buttons">
                <input type="submit" class="button" id="upload-form-submit" value="Upload" />
                <a href="/check-form/view-forms" class="button button-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

<%- partial('partials/_modal_box', {
  modalTitle: 'Overwrite form',
  modalText: 'There can only be one \'Try it out\' form. Are you sure you want to overwrite the current form?',
  modalConfirmationLabel: 'Yes',
  modalConfirmationUrl: '#',
  modalCancelLabel: 'No',
  modalCancelUrl: '#'
}) %>

<script>
  $(function () {
    window.GOVUK.checkForms()
  })
</script>
