<div class="grid-row">
  <div class="column-two-thirds">
    <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
  </div>
  <div class="column-one-third">
    <%- partial('partials/_name_and_sign_out') %>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge"><%= pageTitle %></h1>
    <p class="lede" id="lead-paragraph">
      Select forms to assign to each window. Each form can be used for multiple windows.
    </p>
    <% if (Array.isArray(checkWindowData) && checkWindowData.length > 0) { %>
    <span class="bold-small">
            <span>Check Window</span>
    </span>
    <div class="assigned-check-windows">
      <% checkWindowData.forEach(cw => { %>
      <dl>
        <dd>
          <p class="font-small"><%= cw.name %></p>
          <div><span class="bold-small"><a href="/check-form/select-form/familiarisation/<%= cw.urlSlug %>">Pupil familiarisation check period</a></span> (0 forms assigned)</div>
          <p><%= cw.familiarisationCheckStartDate.format('D MMMM') %> to <%= cw.familiarisationCheckEndDate.format('D MMMM YYYY') %></p>
          <div><span class="bold-small"><a href="/check-form/select-form/live/<%= cw.urlSlug %>">Pupil live check period</a></span> (0 forms assigned)</div>
          <p><%= cw.checkStartDate.format('D MMMM') %> to <%= cw.checkEndDate.format('D MMMM YYYY') %></p>
        </dd>
      </dl>
      <% }) %>
    <% } %>
    </div>
  </div>
</div>
