<%- partial('partials/_breadcrumbs_and_sign_out', { breadcrumbs }) %>

<form method="post" action="/check-form/assign-forms/<%= checkFormType %>/<%= checkWindowData.urlSlug %>">
  <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><%= pageTitle %></h1>
      <%- partial('partials/_session_expiry') %>
      <div class="panel panel-border-wide">
          <% if (checkFormData && checkFormData.length) { %>
          <div><%= !checkWindowData.isBeforeCheckType ? 'Assigned' : 'Assign' %> forms to <b><%= pageTitle %></b></div>
          <div><%= checkWindowData.checkFormTypeTitle %> period: <%= checkFormType !== 'live' ?
            `${checkWindowData.familiarisationCheckStartDate} to ${checkWindowData.familiarisationCheckEndDate}` :
            `${checkWindowData.liveCheckStartDate} to ${checkWindowData.liveCheckEndDate}` %>
          </div>
          <% } else if (checkFormData && checkFormData.length === 0) { %>
          No forms have been uploaded yet. Please go to <a href="/check-form/view-forms">upload and view forms</a> before assigning forms to check windows.
          <% } %>
      </div>

      <% if (Array.isArray(checkFormData) && checkFormData.length > 0) { %>
      <table class="spacious" id="assignFormToWindowList" role="group">
        <thead>
        <tr>
          <th scope="col">Form name</th>
          <% if (!checkWindowData.isBeforeCheckType) { %>
          <th scope="col">Assigned to this window</th>
          <% } %>
          <% if (checkWindowData.isBeforeCheckType) { %>
          <th scope="col">
            <div class="tick-all-checkboxes-wrapper">
              <label class="tick-all-checkboxes" id="selectAll" for="tickAllCheckboxes">Select all</label>
              <label class="tick-all-checkboxes all-hide" id="deselectAll" for="tickAllCheckboxes">Deselect all</label>
              <div class="multiple-choice-mtc">
                <input id="tickAllCheckboxes" name="allForms" type="checkbox" aria-label="Select all Forms.">
                <div></div>
              </div>
            </div>
          </th>
          <% } %>
        </tr>
        </thead>
        <tbody>
        <% checkFormData.forEach((checkForm, i) => { %>
        <tr>
          <td>
            <label for="checkForm<%= checkForm.urlSlug %>">
              <%= checkForm.name %>
            </label>
          </td>
          <% if (!checkWindowData.isBeforeCheckType) { %>
          <td><%= checkForm.checked ? 'Yes' : '' %></td>
          <% } %>
          <% if (checkWindowData.isBeforeCheckType) { %>
          <td class="align-right">
            <div class="multiple-choice-mtc">
              <input id="checkForm-<%= i %>"
                     name="checkForms[]"
                     type="checkbox"
                     value="<%= checkForm.urlSlug %>"
                     aria-label="Tick form <%= checkForm.name %>"
                     aria-checked="false"
                     <% if (checkForm.checked) { %>checked="true"<% } %>
                     role="checkbox">
              <div></div>
            </div>
          </td>
        </tr>
        <% } %>
        <% }) %>
        </tbody>
      </table>
      <% } %>
      <% if (checkFormType !== 'live' && checkWindowData.isBeforeCheckType) { %>
      <div class="form-buttons">
        <input type="submit" class="button" value="Save" />
        <a class="button button-secondary" href="/check-form/assign-forms-to-check-windows">Cancel</a>
      </div>
      <% } %>

      <div class="back-to-top-container">
        <a href="#top">Back to top</a>
      </div>

    </div>

    <div class="column-one-third sidebar" aria-label="sidebar">
    </div>
  </div>
  <% if (checkFormType === 'live' && checkWindowData.isBeforeCheckType) { %>
  <%- partial('partials/_sticky_confirmation_banner',
    {
      countingLabel: 'Forms',
      cancelLabel: 'Cancel',
      cancelLink: '/check-form/assign-forms-to-check-windows',
      submitLabel: 'Confirm',
      isSubmitDisabled: true
    }) %>
  <% } %>
</form>
