<div class="grid-row">
  <div class="column-two-thirds">
    <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
  </div>
  <div class="column-one-third">
    <%- partial('partials/_name_and_sign_out') %>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge"><%= pageTitle %></h1>
    <p class="lede" id="lead-paragraph">
      Select forms to assign to each window. Each form can be used for multiple windows.
    </p>
    <% if (Array.isArray(checkWindowData) && checkWindowData.length > 0) { %>
    <span class="bold-small">
            <p>Check Window</p>
    </span>
    <div class="assigned-check-windows">
      <% checkWindowData.forEach(cw => { %>
      <dl>
        <dd>
          <p class="font-small"><%= cw.name %></p>
          <div><span class="bold-small"><a href="/check-form/select-form/familiarisation/<%= cw.urlSlug %>">'Try it out' period</a></span>
            (<%= cw['FamiliarisationCheckFormCount'] === 1 ? `${cw['FamiliarisationCheckFormCount']} form` : `${cw['FamiliarisationCheckFormCount']} forms` %> assigned)</div>
          <p><%= cw.familiarisationCheckStartDate.format('D MMMM') %> to <%= cw.familiarisationCheckEndDate.format('D MMMM YYYY') %></p>
          <div><span class="bold-small"><a href="/check-form/select-form/live/<%= cw.urlSlug %>">Multiplication tables check period</a></span>
            (<%= cw['LiveCheckFormCount'] === 1 ? `${cw['LiveCheckFormCount']} form` : `${cw['LiveCheckFormCount']} forms` %> assigned)</div>
          <p><%= cw.checkStartDate.format('D MMMM') %> to <%= cw.checkEndDate.format('D MMMM YYYY') %></p>
        </dd>
      </dl>
      <% }) %>
    <% } else { %>
      <div class="panel panel-border-wide">
        <p>
          There are currently no available check windows .<br />
          Contact the service manager to get new check windows created.
        </p>
      </div>
    <% } %>
    </div>
  </div>
</div>
