<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl"><%= checkFormData.checkFormName %></h1>
      <%- partial('partials/_gds_session_expiry') %>
      <div class="govuk-inset-text">
        <div>Type: <%= checkFormData.checkFormType %></div>
        <div><% if (checkFormData.checkWindowName) { %>
            Assigned to: <%= checkFormData.checkWindowName %> - <%= checkFormData.checkFormType %> check
            (<%= checkFormData.checkWindowAdminStartDate.format('D MMMM YYYY') %> to <%= checkFormData.checkWindowAdminEndDate.format('D MMMM YYYY') %>)
          <% } else { %>
            This form is unassigned
          <% } %>
        </div>
        <div>Uploaded: <%= checkFormData.createdAt %></div>
      </div>
    <div>
      <dl class="govuk-body inline-definition-list" role="list">
        <% let num = 1 %>
        <% checkFormData.formData.forEach((q, i) => { %>
          <dt class="govuk-body inline-definition-list" role="listitem">Q<%= num++ %></dt>
          <dd class="govuk-body inline-definition-list">
            <span class="first-factor" role="listitem"><%= q.f1 %></span>
            <span class="times-sign" role="listitem">&times;</span>
            <span class="second-factor" role="listitem"><%= q.f2 %></span>
            <span class="equals-sign" role="listitem">=</span>
            <span class="fixed-result" role="listitem"><%= (q.f1 * q.f2) %></span>
          </dd>
        <% }); %>
      </dl>
      <% if (checkFormData.canRemoveCheckForm) { %>
        <br />
        <a class="govuk-link modal-link" id="js-modal-link" href="/check-form/delete/<%= checkFormData.urlSlug %>" class="modal-link" id="js-modal-link">Remove form</a>
      <% } %>
    </div>
    <div class="govuk-back-to-top govuk-!-margin-top-5">
      <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
        <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
          <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>Back to top
      </a>
    </div>
    </div>
    <div class="govuk-grid-column-one-third" aria-label="sidebar">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Guidance</a>
            </li>
            <li>
              <a class="govuk-link" href="/check-form/assign-forms-to-check-windows">Assign forms to check window</a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
</main>
<%- partial('partials/_gds_modal_box', {
  modalTitle: 'Remove form',
  modalText: 'Are you sure you want to remove this?',
  modalConfirmationLabel: 'Yes',
  modalConfirmationUrl: '#',
  modalCancelLabel: 'No',
  modalCancelUrl: '#'
}) %>
