<%- partial('partials/_breadcrumbs_and_sign_out', { breadcrumbs }) %>

<div class="grid-row">
  <div class="column-two-thirds">
    <% if (messages && messages.info) { %>
    <div class="info-message clickable">
      <a href="#<%= highlight.values().next().value %>"><%= messages.info[0] %></a>
    </div>
    <% } %>
    <h1 class="heading-xlarge"><%= pageTitle %></h1>

    <%- partial('partials/_session_expiry') %>

    <p class="lede" id="lead-paragraph">
      Select forms to assign to each window. Each form can be used for multiple windows.
    </p>
    <% if (Array.isArray(checkWindowData) && checkWindowData.length > 0) { %>
    <span class="bold-small">
            <p>Check Window</p>
    </span>
    <div class="assigned-check-windows">
      <% checkWindowData.forEach(cw => { %>
      <dl>
        <dd>
          <p class="font-small"><%= cw.name %></p>
          <div id="<%= `${cw.urlSlug.toString()}-familiarisation` %>" <% if (highlight && highlight.has(`${cw.urlSlug.toString()}-familiarisation`)) { %> class="assigned-forms-highlight highlight-item"<% } %>>
            <span class="bold-small">
              <a href="/check-form/select-form/familiarisation/<%= cw.urlSlug %>">'Try it out' period
              </a>
            </span>
            (<%= cw.familiarisationCheckFormCount === 1 ? `${cw.familiarisationCheckFormCount} form` : `${cw.familiarisationCheckFormCount} forms` %> assigned)
            <div class="check-window-period" id="<%= cw.urlSlug %>-familiarisation-period">
              <%= cw.familiarisationCheckStartDate %> to <%= cw.familiarisationCheckEndDate %>
            </div>
          </div>
          <div class="divider"></div>
          <div id="<%= `${cw.urlSlug.toString()}-live` %>" <% if (highlight && highlight.has(`${cw.urlSlug.toString()}-live`)) { %> class="assigned-forms-highlight highlight-item"<% } %>>
            <span class="bold-small">
              <a href="/check-form/select-form/live/<%= cw.urlSlug %>">
                Multiplication tables check period
              </a>
            </span>
            (<%= cw.liveCheckFormCount === 1 ? `${cw.liveCheckFormCount} form` : `${cw.liveCheckFormCount} forms` %> assigned)
            <div  class="check-window-period" id="<%= cw.urlSlug %>-live-period">
              <%= cw.checkStartDate %> to <%= cw.checkEndDate %>
            </div>
          </div>
          <div class="divider"></div>
        </dd>
      </dl>
      <% }) %>
    <% } else { %>
      <div class="panel panel-border-wide">
        <p>
          There are currently no available check windows .<br />
          Contact the service manager to get new check windows created.
        </p>
      </div>
    <% } %>
    </div>
  </div>
  <div class="column-one-third add-title-margin">
    <aside role="complementary" class="support-column">
      <h3 class="heading-medium">Related</h3>
      <nav role="navigation">
        <ul class="list">
          <li>
            <a href="/check-form/view-forms">Upload and view forms</a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
