<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <% if (messages && messages.info) { %>
      <div class="govuk-info-message clickable govuk-!-margin-bottom-7">
        <a class="govuk-link" href="#<%= highlight.values().next().value %>"><%= messages.info[0] %></a>
      </div>
    <% } %>
      <h1 class="govuk-heading-xl"><%= pageTitle %></h1>
      <%- partial('partials/_gds_session_expiry') %>
      <p class="govuk-body">
        Select forms to assign to each window. Each form can be used for multiple windows.
      </p>
      <% if (Array.isArray(checkWindowData) && checkWindowData.length > 0) { %>
        <span class="govuk-!-font-weight-bold govuk-!-font-size-19">
            <p>Check Window</p>
        </span>
        <div class="assigned-check-windows">
          <% checkWindowData.forEach(cw => { %>
            <dl>
              <dd>
                <p class="govuk-!-font-size-19"><%= cw.name %></p>
                <div id="<%= `${cw.urlSlug.toString()}-familiarisation` %>" <% if (highlight && highlight.has(`${cw.urlSlug.toString()}-familiarisation`)) { %> class="assigned-forms-highlight govuk-highlight-item"<% } %>>
              <span class="govuk-!-font-weight-bold govuk-!-font-size-19">
                <a class="govuk-link" href="/check-form/select-form/familiarisation/<%= cw.urlSlug %>">'Try it out' period
                </a>
              </span>
                  <span class="govuk-body govuk-!-font-size-19">(<%= cw.familiarisationCheckFormCount === 1 ? `${cw.familiarisationCheckFormCount} form` : `${cw.familiarisationCheckFormCount} forms` %> assigned)</span>
                  <div class="check-window-period" id="<%= cw.urlSlug %>-familiarisation-period">
                    <%= cw.familiarisationCheckStartDate %> to <%= cw.familiarisationCheckEndDate %>
                  </div>
                </div>
                <div class="govuk-!-margin-bottom-5"></div>
                <div id="<%= `${cw.urlSlug.toString()}-live` %>" <% if (highlight && highlight.has(`${cw.urlSlug.toString()}-live`)) { %> class="assigned-forms-highlight govuk-highlight-item"<% } %>>
              <span class="govuk-!-font-weight-bold govuk-!-font-size-19">
                <a class="govuk-link" href="/check-form/select-form/live/<%= cw.urlSlug %>">
                  Multiplication tables check period
                </a>
              </span>
                  <span class="govuk-body govuk-!-font-size-19">(<%= cw.liveCheckFormCount === 1 ? `${cw.liveCheckFormCount} form` : `${cw.liveCheckFormCount} forms` %> assigned)</span>
                  <div class="check-window-period" id="<%= cw.urlSlug %>-live-period">
                    <%= cw.checkStartDate %> to <%= cw.checkEndDate %>
                  </div>
                </div>
                <div class="govuk-!-margin-bottom-5"></div>
              </dd>
            </dl>
          <% }) %>
        </div>
      <% } else { %>
        <div class="govuk-inset-text">
            There are currently no available check windows.<br />
            Contact the service manager to get new check windows created.
        </div>
      <% } %>
    </div>
    <div class="govuk-grid-column-one-third" aria-label="sidebar">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="/check-form/view-forms">Upload and view forms</a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
</main>
