<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <%- partial('partials/_service_message', { serviceMessages }) %>
        <% if (messages && messages.info && messages.info.length) { %>
            <div class="govuk-body govuk-info-message govuk-!-margin-bottom-7">
                <a href="#group-<%= messages.groupId %>"><%= messages.info %></a>
            </div>
        <% } %>

        <% if (messages && messages.deleted && messages.deleted.length) { %>
            <div class="govuk-body govuk-info-message govuk-!-margin-bottom-7">
                <%= messages.deleted %>
            </div>
        <% } %>

        <% if (messages && messages.error && messages.error.length) { %>
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    <%= messages.error %>
                </h2>
            </div>
        <% } %>

            <h1 class="govuk-heading-xl">Organise pupils into groups</h1>
            <%- partial('partials/_gds_session_expiry') %>
            <p class="govuk-body">
              You can organise pupils into classes or smaller groups. This will make administering the check easier as you can filter by these groups when generating PINs, recording pupils as not taking the check, or arranging restarts.
            </p>
        <% if (isFeatureEnabled('groupCreate')) { %>
            <a href="/group/pupils-list/add" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                View pupils and create new group
            </a>
        <% } else { %>
            <button type="submit" disabled="disabled" aria-disabled="true" class="govuk-button govuk-button--disabled" data-module="govuk-button">
                View pupils and create new group
            </button>
        <% } %>
        <% if (Array.isArray(groups) && groups.length > 0) { %>
            <table id="groupList" class="govuk-table govuk-spacious govuk-!-margin-bottom-9">
                <caption class="govuk-body govuk-table__caption"></caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-!-width-full">Groups</th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                <% groups.forEach( group => { %>
                    <tr class="govuk-table__row">
                        <td scope="row" <% if (messages.groupId && messages.groupId.toString() === group.id.toString()) { %> class="govuk-highlight-item"<% } %>>
                            <div class="govuk-highlight-wrapper">
                            <% if (isFeatureEnabled('groupEdit')) { %>
                                <a name="group-<%= group.id %>" class="govuk-link govuk-!-font-weight-bold" href="/group/pupils-list/edit/<%= group.id %>" ><%= group.name %></a>
                            <% } else { %>
                                <span class="govuk-body"><%= group.name %></span>
                            <% } %>
                                <span>(<%= group.pupilCount %> pupils)</span>
                            </div>
                        </td>
                        <td>
                            <% if (isFeatureEnabled('groupRemove')) { %>
                                <a href="/group/pupils-list/delete/<%= group.id %>" class="govuk-link modal-link font-small" id="js-modal-link">Remove</a>
                            <% } else { %>
                                <span class="govuk-font-greyed-out govuk-!-font-size-16">Remove</span>
                            <% } %>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
            <% } else { %>
                <div><span class="govuk-body">No groups available.</span></div>
        <% } %>
        </div>
        <div class="govuk-grid-column-one-third" aria-label="sidebar">
            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">
                    Related
                </h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a class="govuk-link" href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Read the guidance and watch videos</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="/pupils-not-taking-the-check/pupils-list" rel="noopener noreferrer">Provide a reason why pupil is not taking the check</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="/access-arrangements/overview" rel="noopener noreferrer">Enable access arrangements for pupils who need them</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>
<%- partial('partials/_gds_modal_box', {
    modalTitle: 'Remove group',
    modalText: 'Are you sure you want to remove this?',
    modalConfirmationLabel: 'Yes',
    modalConfirmationUrl: '/group/pupils-list/delete',
    modalCancelLabel: 'No',
    modalCancelUrl: '#'
}) %>
