<div class="grid-row">
    <div class="column-two-thirds">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-third">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <% if (messages && messages.info && messages.info.length) { %>
        <div class="info-message">
            <a href="#group-<%= messages.groupId %>"><%= messages.info %></a>
        </div>
        <% } %>

        <% if (messages && messages.deleted && messages.deleted.length) { %>
        <div class="info-message">
            <%= messages.deleted %>
        </div>
        <% } %>

        <% if (messages && messages.error && messages.error.length) { %>
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-1">
                <%= messages.error %>
            </h2>
        </div>
        <% } %>

        <h1 class="heading-xlarge">Group pupils</h1>
        <p class="lede" id="lead-paragraph">
            Organise pupils into groups if you are not planning to administer the check to the whole cohort at the same time.
        </p>
        <div class="button-wrapper">
            <a class="button button-primary" href="/school/group-pupils/add">Create new group</a>
        </div>

        <% if (Array.isArray(groups) && groups.length > 0) { %>
        <div class="group">
            <table class="spacious" id="groupList" role="group">
                <thead>
                    <tr>
                        <th scope="col">Groups</th>
                        <td> </td>
                    </tr>
                </thead>
                <tbody>
                    <% groups.forEach( group => { %>
                    <tr>
                        <td<% if (messages.groupId && messages.groupId.toString() === group.id.toString()) { %> class="highlight-item"<% } %>>
                            <a name="group-<%= group.id %>"></a>
                            <strong><a href="/school/group-pupils/edit/<%= group.id %>"><%= group.name %></a></strong> <span class="font-xsmall">(<%= group.pupilCount %> pupils)</span>
                        </td>
                        <td class="align-right">
                            <a href="/school/group-pupils/delete/<%= group.id %>" class="modal-link font-xsmall" id="js-modal-link">Remove</a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <% } else { %>
        <div class="top-padding-30">No groups available.</div>
        <% } %>
    </div>
    <div class="column-one-third sidebar" aria-label="sidebar">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium">Related</h3>
            <nav role="navigation">
                <ul class="list">
                    <li>
                        <a href="/school/download-guidance" target="_blank" rel="noopener noreferrer">Guidance</a>
                    </li>
                    <li>
                        <a href="/school/pupil-register/name/asc">Pupil register</a>
                    </li>
                    <li>
                        <a href="/pupil-pin/generate-pins-overview">Generate pupil PINs</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>
<%- partial('partials/_modal_box', {
    modalTitle: 'Remove group',
    modalText: 'Are you sure you want to remove this?',
    modalConfirmationLabel: 'Yes',
    modalConfirmationUrl: '/school/group-pupils/delete',
    modalCancelLabel: 'No',
    modalCancelUrl: '#'
}) %>
