<%
 let url;
 if (typeof nextQuestion === 'number') {
   url = '/check/question/' + nextQuestion;
 } else {
   url = '/check/complete';
 }
 %>
<script src="/javascripts/app.js"></script>

<div class="hidden" id="js-content-div">
    <form id='js-question-form' action="<%= url %>" method="GET" autocomplete="off">
        <p class="question">
            <%= factor1 %> &times; <%= factor2 %> =
            <input type="text" pattern="[0-9]*" class="form-control answer" size="6" id="js-answer" autofocus />
        </p>

        <input type="submit" class="button" role="button" value="Enter answer" />
    </form>
</div>

<div class="preload" id="js-preload-div">
    <div>
        <p class="font-large">
            Loading question <%= num %> out of <%= total %>
        </p>
    </div>
</div>