<%
let url;
if (typeof nextQuestion === 'number') {
    url = '/warm-up/question/' + nextQuestion;
} else {
    url = '/warm-up/complete';
}
%>
<script src="/javascripts/app.js"></script>

<div class="hidden" id="js-content-div">

    <div class="remaining-time">
        Remaining time: <div id="js-page-timer" class="bold timer">&nbsp;</div>
    </div>

    <br style="clear:both" />

    <form id='js-question-form' action="<%= url %>" method="GET" autocomplete="off">
        <p class="question">
            <%= factor1 %> &times; <%= factor2 %> =
            <input type="text" pattern="[0-9]*" class="form-control answer" size="6" id="js-answer" autofocus />
        </p>

        <input type="submit" class="button" role="button" value="Enter answer" />
    </form>
</div>


<div class="preload" id="js-preload-div">

    <div>
        <p class="font-large">
            Loading question <%= num %> out of <%= total %>
        </p>
    </div>

</div>
