<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <% if (messages && messages.info && messages.info.length) { %>
                <div class="govuk-info-message govuk-!-margin-bottom-7">
                    <%= messages.info %>
                </div>
            <% } %>
            <h1 class="govuk-heading-xl">Create new check window</h1>
            <%- partial('partials/_gds_session_expiry') %>
            <p class="govuk-body">
                Create, edit or remove check windows. Test development is responsible for assigning check forms to the check windows created here.
            </p>
            <div class="govuk-inset-text">
                Check will be available for schools on weekdays from 8am to 3:30pm
            </div>
            <a class="govuk-button" href="/check-window/create-check-window">Create new check window</a>
            <% if (Array.isArray(checkWindows) && checkWindows.length > 0) { %>
                <table class="govuk-spacious" id="checkWindowList" role="listbox" aria-label="Check windows list.">
                    <caption class="govuk-table__caption">List of check windows</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col"><a class="sortingLink">Check window<span class="sort-icon asc"></span></a></th>
                            <th class="govuk-table__header" scope="col"><a class="sortingLink">Status<span class="sort-icon"></span></a></th>
                            <th class="govuk-table__header" scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% checkWindows.forEach((checkWindow) => { %>
                        <tr class="govuk-table__row">
                            <td>
                                <a class="govuk-link govuk-!-font-weight-bold govuk-!-font-size-19" href="/check-window/edit/<%= checkWindow.urlSlug %>"><%= checkWindow.name %></a>
                            </td>
                            <td><%= checkWindow.status %></td>
                            <td>
                                <% if (checkWindow.canRemove) { %>
                                    <a class="govuk-link modal-link" id="js-modal-link" href="/check-window/remove/<%= checkWindow.urlSlug %>" >Remove</a>
                                <% } %>
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            <% } else { %>
            <span class="govuk-body">No check windows created.</span>
            <% } %>
        </div>
        <div class="govuk-grid-column-one-third" aria-label="sidebar">
            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">
                    Related
                </h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a class="govuk-link" href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Guidance</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="/service-manager/check-settings">Settings on pupil check</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="#" class="font-greyed-out disabled-link">Progress reports</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>
<%- partial('partials/_gds_modal_box', {
    modalTitle: 'Remove check window',
    modalText: 'Are you sure you want to remove this?',
    modalConfirmationLabel: 'Confirm',
    modalConfirmationUrl: '#',
    modalCancelLabel: 'Cancel',
    modalCancelUrl: '#'
}) %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    window.MTCAdmin.tableSort.applySorting(window.document, 'checkWindowList', {
      sortNullsLast: false,
      ignoredStrings: []
    })
  })
</script>
