<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <% if (messages && messages.info) { %>
                <div class="govuk-body govuk-info-message govuk-!-margin-bottom-7">
                    <%= messages.info[0] %>
                </div>
            <% } %>
            <%- partial('partials/_service_message', { serviceMessages }) %>
            <h1 class="govuk-heading-xl">Service message</h1>
            <%- partial('partials/_gds_session_expiry') %>
            <p class="govuk-body">
                Add or delete a service message for any area of the site.
            </p>

            <a href="/service-message/service-message-form" role="button" draggable="false" class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
                Create service message
            </a>

            <%if (Array.isArray(rawServiceMessages) && rawServiceMessages.length > 0) { %>
                <table id="submitted-service-message" class="govuk-table govuk-spacious govuk-!-margin-bottom-9">
                    <caption class="govuk-body govuk-table__caption">Service Message</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-!-width-75">Title</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-25"></th>
                        <th scope="col" class="govuk-table__header govuk-!-width-75"></th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <% for (let msg of rawServiceMessages) { %>
                        <tr class="govuk-table__row">
                            <td scope="row">
                                <div>
                                    <span class="govuk-!-font-weight-bold name-text-wrap"
                                       ><%= msg.title %></span>
                                </div>
                            </td>
                            <td>
                                <a href="/service-message/edit/<%= msg.urlSlug.toLowerCase() %>">Edit</a>
                            </td>
                            <td>
                                <form action="/service-message/remove/<%= msg.urlSlug.toLowerCase() %>" id="js-modal-form" method="post" autocomplete="off">
                                    <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
                                    <button class="govuk-button-as-link no-underline govuk-!-font-size-16 modal-link" id="js-modal-link" type="submit">Remove</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } else { %>
                <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-9">There are no current service messages.</p>
            <% } %>
        </div>
    </div>
</main>
<%- partial('partials/_gds_modal_box', {
    modalTitle: 'Remove service message',
    modalText: 'Are you sure you want to remove the current service message?',
    modalConfirmationLabel: 'Yes',
    modalConfirmationUrl: '#',
    modalCancelLabel: 'No',
    modalCancelUrl: '#'
}) %>
