<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <% if (messages && messages.info && messages.info.length) { %>
                <div class="govuk-body govuk-info-message govuk-!-margin-bottom-7">
                    <span><%= messages.info %></span>
                </div>
            <% } %>
            <% if (err.hasError()) { %>
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        You need to fix the errors on this page before continuing.
                    </h2>
                    <div class="govuk-error-summary__body">
                        <p>See highlighted errors below.</p>
                        <ul class="govuk-list govuk-error-summary__list">
                            <% err.getUniqueFields(['serviceMessageTitle', 'serviceMessageContent']).map(f => { %>
                                <% const errors = err.get(f) %>
                                <% if (Array.isArray(errors)) { %>
                                    <%  errors.map(e => { %>
                                        <li><a href="#<%= f %>"><%= e %></a></li>
                                <% }) } else { %>
                                    <li><a href="#<%= f %>"><%= errors %></a></li>
                                <% } %>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            <% } %>
            <h1 class="govuk-heading-xl"><%= pageTitle %></h1>
            <%- partial('partials/_gds_session_expiry') %>


            <p>
                The GDS guidelines for notication banners suggest using bold
                text for the message.  As this message allows user-defined
                formatting, it is up to the user to provide the bold formatting.
            </p>

            <form action="/service-message/submit-service-message" id="serviceMessageForm" method="post" autocomplete="off">
                <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
                <div class="govuk-form-group <%= err.isError('serviceMessageTitle') ? 'govuk-form-group--error' : '' %>">
                    <label class="govuk-label govuk-!-font-weight-bold" for="checkCode">Title</label>
                    <% if (err.isError('serviceMessageTitle')) { %>
                        <span class="govuk-error-message"><%= err.get('serviceMessageTitle') %></span>
                    <% } %>
                    <% if (formData.urlSlug) { %><input type="hidden" name="urlSlug" value="<%= formData.urlSlug %>"><% } %>
                    <input type="text"
                           id="serviceMessageTitle"
                           class="govuk-input govuk-!-width-three-quarters <%= err.isError('serviceMessageTitle') ? 'govuk-input--error' : '' %>"
                           name="serviceMessageTitle"
                           value="<%= formData['serviceMessageTitle'] %>"/>

                    <div class="govuk-form-group govuk-!-margin-top-5">
                            <fieldset class="govuk-fieldset" aria-describedby="service-message-area-hint">
                              <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                  <span class="govuk-details__summary-text">
                                    Target the message to one or more specific areas of the site:
                                  </span>
                                </summary>
                                <div class="govuk-details__text">
                                  <label class="govuk-label govuk-!-font-weight-bold" for="serviceMessageArea">
                                    Area that the message applies to
                                </label>
                              <div id="service-message-area-hint" class="govuk-hint">
                                Select one or more areas for the service message to be shown in, or leave blank to select all areas.
                              </div>

                              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <% if (areaCodes && Array.isArray(areaCodes) && areaCodes.length > 0) { %>
                                  <% areaCodes.forEach(areaCode => { %>
                                    <div class="govuk-checkboxes__item">
                                      <input class="govuk-checkboxes__input" id="<%= `area-${areaCode.code}` %>" name="areaCode" type="checkbox" value="<%= areaCode.code %>"
                                        <% if (Array.isArray(formData.areaCodes) && formData.areaCodes.includes(areaCode.code)) { %> checked <% } else { console.log(`${areaCode.code} is not checked`)} %>>
                                      <label class="govuk-label govuk-checkboxes__label" for="<%= `area-${areaCode.code}` %>">
                                        <%= areaCode.description %>
                                      </label>
                                    </div>
                                  <% }) %>
                                <% } %>
                              </div>

                            </details>
                        </fieldset>
                    </div>


                    <div class="govuk-!-margin-top-5 govuk-form-group <%= err.isError('serviceMessageContent') ? 'govuk-form-group--error' : '' %>">
                        <div class="govuk-label govuk-!-font-weight-bold" for="serviceMessageContent">Message</div>
                        <% if (err.isError('serviceMessageContent')) { %>
                            <span class="govuk-error-message"> <%= err.get('serviceMessageContent') %></span>
                        <% } %>
                        <textarea
                                class="govuk-textarea govuk-!-width-three-quarters <%= err.isError('serviceMessageContent') ? 'govuk-textarea--error' : '' %>"
                                name="serviceMessageContent"
                                id="serviceMessageContent"
                                rows="10"><%= formData['serviceMessageContent'] %></textarea>
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-font-weight-bold" for="borderColourCode">
                          Message border colour
                        </label>
                        <select class="govuk-select" id="borderColourCode" name="borderColourCode">
                          <option value="R" <%= formData['borderColourCode'] === 'R' ? 'selected' : ''  %>>Red</option>
                          <option value="O" <%= formData['borderColourCode'] === 'O' ? 'selected' : '' %>>Orange</option>
                          <option value="G" <%= formData['borderColourCode'] === 'G' ? 'selected' : '' %>>Green</option>
                          <option value="B" <%= formData['borderColourCode'] === 'B' || formData['borderColourCode'] === undefined ? 'selected' : '' %>>Blue</option>
                        </select>
                      </div>
                </div>
                <button class="govuk-button govuk-!-margin-right-2" id="submit-service-message-button" type="submit">Save</button>
                <a href="/service-message" class="govuk-button govuk-button--secondary">Cancel</a>
            </form>
        </div>
    </div>
</main>
<link rel="stylesheet" href='<%= assetPath %>vendor/font-awesome/css/font-awesome.min.css' type='text/css'></link>
<link rel="stylesheet" href='<%= assetPath %>vendor/simplemde/simplemde.min.css' type='text/css'></link>
<script defer src='<%= assetPath %>vendor/simplemde/simplemde.min.js'></script>
<script>
    // init this variable in global scope, so the QA team can use it.
    var simplemde = undefined
    document.addEventListener('DOMContentLoaded', () => {
        simplemde = new SimpleMDE({
            autoDownloadFontAwesome: false,
            spellChecker: false
        });
    })
</script>
