<div class="grid-row">
    <div class="column-two-thirds">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-third">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <% if (messages && messages.info && messages.info.length) { %>
        <div class="info-message">
            <%= messages.info %>
        </div>
        <% } %>

        <% if (messages && messages.error && messages.error.length) { %>
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading-1" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-1">
                <%= messages.error %>
            </h2>
        </div>
        <% } %>

        <h1 class="heading-xlarge">Download pupil check data</h1>

        <p class="lede" id="lead-paragraph">
            Generate a zip file with the most up to date pupil check data. The zip file will contain two csv files. One with the raw pupil check data including timings, responses and keystrokes. Another will contain an anomaly report.
        </p>

        <button class="button button-primary" id="generate-check-data-button" onclick="generatePupilCheckData()">Generate latest files</button>

        <div id="pupilCheckDataContent" class="top-padding-30">
            <% if (psychometricianReport) { %>
                <a href="/test-developer/file-download-pupil-check-data" class="heading-small icon-download">
                    <%= psychometricianReport.fileName %> (Zip)
                </a>
                <p class="text-secondary"> File generated on <%= psychometricianReport.dateGenerated %> </p>
            <% } else { %>
                No file generated
            <% } %>
        </div>
    </div>
</div>

<script type="text/javascript">
    const contentId = "#pupilCheckDataContent";
    const buttonId = "#generate-check-data-button";

    function generatePupilCheckData() {
        $(contentId).html(`<p>
            <img src='/images/loading.gif' alt='loading' width='44' style='vertical-align: middle'/>
            &nbsp; Generating...
        </p>`);
        $(buttonId).prop('disabled', true);

        $.ajax({
            url: '/test-developer/generate-latest-pupil-check-data',
            timeout: 60 * 1000
        })
            .done(function(data) {
                $(contentId).html(`
                    <a
                        href="/test-developer/file-download-pupil-check-data"
                        class="heading-small icon-download"
                    > ${data.fileName} (Zip) </a>
                    <p class="text-secondary"> File generated on ${data.dateGenerated} </p>
                `);
            })
            .fail(function() {
                $(contentId).html('<p>There was an error when generating the latest file.</p>');
            })
            .always(function() {
                $(buttonId).prop('disabled', false);
            });
    }
</script>
