<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <% if (messages && messages.info && messages.info.length) { %>
            <div class="govuk-info-message govuk-!-margin-bottom-7">
                <%= messages.info %>
            </div>
            <% } %>
            <div id="errorPlaceholder">
                <% if (messages && messages.error && messages.error.length) { %>
                    <div class="error-summary" role="group" aria-labelledby="error-summary-heading-1" tabindex="-1">
                        <h2 class="heading-medium error-summary-heading" id="error-summary-heading-1">
                            <%= messages.error %>
                        </h2>
                    </div>
                <% } %>
            </div>
            <h1 class="govuk-heading-xl">Download pupil check data</h1>
            <%- partial('partials/_gds_session_expiry') %>
            <p class="govuk-body">
                Generate and download the raw pupil check data, including timings, responses and keystrokes, and an anomaly report.
            </p>
            <div id="pupilCheckDataContent">
                <% if (psychometricianReport) { %>
                    <a href="/test-developer/file-download-pupil-check-data/<%= psychometricianReport.urlSlug %>" class="govuk-heading-s govuk-link icon-download govuk-!-margin-bottom-0">
                        Pupil check data (Zip)
                    </a>
                    <p class="govuk-caption-m govuk-!-margin-left-6"> File generated on <%= psychometricianReport.dateGenerated %> </p>
                <% } else { %>
                    <label class="govuk-label">No file generated</label>
                <% } %>
            </div>

        </div>
    </div>
</main>
