<div class="grid-row">
    <div class="column-two-thirds">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-third">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <% if (messages && messages.info && messages.info.length) { %>
        <div class="info-message">
            <%= messages.info %>
        </div>
        <% } %>

        <% if (messages && messages.error && messages.error.length) { %>
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-1">
                <%= messages.error %>
            </h2>
        </div>
        <% } %>

        <h1 class="heading-xlarge"><%= checkWindowName %></h1>

        <form method="post" action="/test-developer/unassign-form">
            <% if (Array.isArray(checkFormsList) && checkFormsList.length > 0) { %>
            <table class="spacious" id="assignFormToWindowList" role="group">
                <thead>
                    <tr>
                        <th scope="col">Form name</th>
                        <td> </td>
                    </tr>
                </thead>
                <tbody>
                    <% checkFormsList.forEach(form => { %>
                    <tr>
                        <td>
                            <%= form.name %>
                        </td>
                        <td class="align-right">
                            <button class="link-button" name="checkFormId" value="<%= form.id %>">Remove from window</button>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <input type="hidden" name="checkWindowId" value="<%= checkWindowId %>">
            <% } %>
        </form>

        <a href="/test-developer/assign-form-to-window/<%= checkWindowId %>" class="button button-secondary button-single">Assign form(s) to window</a>

        <div class="back-to-top-container">
            <a href="#top">Back to top</a>
        </div>
    </div>
</div>
