
<div class="grid-row">
    <div class="column-two-thirds">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-third">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <% if (messages && messages.info && messages.info.length) { %>
        <div class="info-message">
            <% messages.info.forEach( info => { %>
                <p><a href="#anchor-<%= info.formName %>"><%= info.message %></a></p>
            <% }) %>
        </div>
        <% } %>

        <% if (messages && messages.error && messages.error.length) { %>
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-1">
                <%= messages.error %>
            </h2>
        </div>
        <% } %>
        
        <% if (messages && messages.errors && messages.errors.length) { %>
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading-1">
            <% messages.errors.forEach( error => { %>
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-1">
                    <%= error.error.message %> - <%= error.formName %>
                </h2>
            <% }) %>
        </div>
        <% } %>

        <h1 class="heading-xlarge">Upload and view forms</h1>

        <%- partial('partials/_session_expiry') %>

        <p class="lede" id="lead-paragraph">
            View, upload or remove check forms. Each form has a check window, which is the period when pupils will take the check.
        </p>
        <div class="button-wrapper">
            <a class="button button-primary" href="/test-developer/upload-new-form">Upload new form</a>
        </div>

        <% if (Array.isArray(forms) && forms.length > 0) { %>
        <div class="group">
            <table class="spacious" id="checkFormsList" role="group">
                <thead>
                    <tr>
                        <th scope="col"><a>Form <span class="sort-icon asc"><span>Sort by check form name </span></span></a></th>
                        <th scope="col"><a>Assigned to<span class="sort-icon"><span>Sort by check window</span></span></a></th>
                        <th scope="col">Uploaded on</th>
                        <td> </td>
                    </tr>
                </thead>
                <tbody>
                    <% forms.forEach( form => { %>
                    <tr>
                        <td<% if (messages.info && messages.info.length && messages.info.find(({ formName }) => formName == form.name)) { %> class="highlight-item"<% } %>>
                            <div class="highlight-wrapper">
                                <a name="anchor-<%= form.name %>"></a>
                                <a href="/test-developer/view-form/<%= form.id %>" class="bold"><%= form.name %></a>
                            </div>
                        </td>
                        <td>
                            <% if (form.checkWindows.length > 0) { %>
                            <%- form.checkWindows %>
                            <% } else { %>
                            Unassigned
                            <% } %>
                        </td>
                        <td><%= formatGdsDate(form.createdAt) %></td>
                        <td class="align-right">
                            <% if (form.removeLink == true) { %>
                            <a href="/test-developer/delete-form/<%= form.id %>" class="modal-link" id="js-modal-link">Remove</a>
                            <% } %>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <% } else {%>
        <br>
        <p>No forms uploaded.</p>
        <% } %>
    </div>
    <div class="column-one-third sidebar" aria-label="sidebar">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium">Related</h3>
            <nav role="navigation">
                <ul class="list">
                    <li>
                        <a href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Guidance</a>
                    </li>
                    <li>
                        <a href="/test-developer/assign-form-to-window">Assign forms to check window</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>
<%- partial('partials/_modal_box', {
    modalTitle: 'Remove form',
    modalText: 'Are you sure you want to remove this?',
    modalConfirmationLabel: 'Yes',
    modalConfirmationUrl: '#',
    modalCancelLabel: 'No',
    modalCancelUrl: '#'
}) %>
<script>
  $(function () {
    window.GOVUK.tableSort.applySorting(window.document, 'checkFormsList', {
      sortNullsLast: false,
      ignoredStrings: []
    })
  })
</script>
