<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Test UPN Generator</h1>
            <%- partial('partials/_gds_session_expiry') %>
            <p class="govuk-body">Generate sample Unique Pupil Numbers (UPNs) for testing purposes.</p>

            <form action="/test-developer/upn-generator" method="get" novalidate>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight-bold" for="count">Number of UPNs to generate (max 20)</label>
                    <input type="number"
                           id="count"
                           class="govuk-input govuk-input--width-4"
                           name="count"
                           min="1"
                           max="20"
                           value="<%= count %>"/>
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Generate
                </button>
            </form>

            <% if (upns.length > 0) { %>
            <h2 class="govuk-heading-m">Generated UPN<%= upns.length > 1 ? 's' : '' %></h2>
            <ol class="govuk-list govuk-list--number">
                <% upns.forEach(function(upn) { %>
                <li class="govuk-body govuk-!-font-weight-bold"><%= upn %></li>
                <% }) %>
            </ol>
            <% } %>

            <a href="/test-developer/" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Back
            </a>
        </div>
    </div>
</main>
