<div class="grid-row">
    <div class="column-two-thirds">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-third">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Form <%= form.name %></h1>

        <div class="panel panel-border-wide">
            <% if (form.checkWindowNames && form.checkWindowNames.length > 0) { %>
            This form is assigned to: <%= form.checkWindowNames %>
            <% } else { %>
            This form is unassigned
            <% } %>
        </div>

        <div class="top-padding-30">
            <dl class="inline-definition-list" role="list">
                <% form.questions.forEach((q) => { %>
                <dt class="inline-definition-list" role="listitem">Q<%= num++ %></dt>
                <dd class="inline-definition-list">
                    <span class="first-factor" role="listitem"><%= q.f1 %></span>
                    <span class="times-sign" role="listitem">&times;</span>
                    <span class="second-factor" role="listitem"><%= q.f2 %></span>
                    <span class="equals-sign" role="listitem">=</span>
                    <span class="fixed-result" role="listitem"><%= (q.f1 * q.f2) %></span>
                </dd>
                <% }); %>
            </dl>
            <% if (form.canDelete === true) { %>
            <br />
            <a href="/test-developer/delete-form/<%= form.id %>" class="modal-link" id="js-modal-link">Remove form</a>
            <% } %>
        </div>
        <div class="back-to-top-container">
            <a href="#top">Back to top</a>
        </div>
    </div>
    <div class="column-one-third sidebar" aria-label="sidebar">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium">Related</h3>
            <nav role="navigation">
                <ul class="list">
                    <li>
                        <a href="<%- guidancePdf %>" rel="noopener noreferrer" target="_blank">Guidance</a>
                    </li>
                    <li>
                        <a href="/test-developer/assign-form-to-window">Assign forms to check window</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>
<%- partial('partials/_modal_box', {
    modalTitle: 'Please confirm',
    modalText: 'Are you sure you want to remove this?',
    modalConfirmationLabel: 'Yes',
    modalConfirmationUrl: '#',
    modalCancelLabel: 'No',
    modalCancelUrl: '#'
}) %>
