<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Edit reason for not taking the check</h1>
            <%- partial('partials/_gds_session_expiry') %>
            <div class="govuk-inset-text govuk-heading-xl">
                <%= pupil.lastName %>, <%= pupil.foreName %>
            </div>
            <form method="post" action="/attendance/submit-edit-reason">
                <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
                <input type="hidden" name="urlSlug" value="<%= pupil.urlSlug %>" />
                <div class="govuk-radios" data-module="govuk-radios">
                    <% if (attendanceCodes && attendanceCodes.length > 0) { %>
                        <h3 class="govuk-heading-m">Select reason</h3>
                        <% attendanceCodes.forEach( (aValues) => { %>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="attendance-code-<%= aValues.code %>" name="attendanceCode" type="radio" value="<%= aValues.code %>" <%= aValues.code ===  pupil.reasonCode ? 'checked' : '' %>>
                                <label class="govuk-label govuk-radios__label" for="attendance-code-<%= aValues.code %>">
                                    <%= aValues.reason %>
                                </label>
                            </div>
                        <% }) %>
                    <% } %>
                </div>
                <br>
                <%- partial('partials/_attendance_code_reasons') %>
                <input type="submit" class="govuk-button govuk-!-margin-right-2" value="Save" />
                <a class="govuk-button govuk-button--secondary" href="/attendance/review-pupil-details">Cancel</a>
            </form>
            <div class="govuk-back-to-top govuk-!-margin-top-5">
                <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                    <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                    </svg>Back to top
                </a>
            </div>
        </div>
    </div>
</main>
