<%- partial('partials/_breadcrumbs_and_sign_out', { breadcrumbs }) %>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Edit reason for not taking the check</h1>

        <%- partial('partials/_session_expiry') %>

        <div class="panel panel-border-wide">
            <p><%= pupil.lastName %>, <%= pupil.foreName %></p>
        </div>

        <br />

        <form method="post" action="/attendance/submit-edit-reason">
            <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
            <input type="hidden" name="urlSlug" value="<%= pupil.urlSlug %>" />

            <div class="form-group">

                <% if (attendanceCodes && attendanceCodes.length > 1) { %>
                <h3>Select reason</h3>

                <ul class="list attendance-code-list">
                <% attendanceCodes.forEach( (aValues) => { %>
                    <li>
                        <div class="multiple-choice">
                            <input id="attendance-code-<%= aValues.code %>"
                                    type="radio"
                                    role="radio"
                                    <% if(aValues.code == pupil.reasonCode) { %>
                                    checked="true"
                                    <% } %>
                                    name="attendanceCode"
                                    value="<%= aValues.code %>">
                            <label for="attendance-code-<%= aValues.code %>"><%= aValues.reason %></label>
                        </div>
                    </li>
                    <% }) %>
                </ul>
                <% } %>

                <%- partial('partials/_attendance_code_reasons') %>
            </div>

            <div class="form-buttons">
                <input type="submit" class="button" value="Save" />
                <a class="button button-secondary" href="/attendance/review-pupil-details">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div class="back-to-top-container">
    <a href="#top">Back to top</a>
</div>
