<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="/attendance/confirm-and-submit">
                <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
                <% if (error.hasError()) { %>
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        You need to fix the errors on this page before continuing.
                    </h2>
                    <div class="govuk-error-summary__body">
                        <p>See highlighted errors below.</p>
                        <ul class="govuk-list govuk-error-summary__list">
                        <% error.getFields().map(f => { %>
                            <% if (typeof error.get(f) !== 'boolean') { %>
                                <li><a href="#<%= f %>"><%= error.get(f) %></a></li>
                            <% } %>
                        <% }); %>
                        </ul>
                    </div>
                </div>
                <% } %>
                <h1 class="govuk-heading-xl">Confirm and submit</h1>
                <p class="govuk-body">You should carefully read the statement below, select the box that applies to you and submit</p>
                <%- partial('partials/_gds_session_expiry') %>
                <a id="noSelection"></a>
                <% if (error.isError('noSelection')) { %>
                  <span class="govuk-error-message"><%= error.get('noSelection') %></span>
              <% } %>
                <div class="govuk-form-group" id="confirm">
                    <div class="multiple-choice">
                        <input class="govuk-radios__input" id="confirmAll" type="radio" role="radio" name="confirm" value="confirmAll" <%= formData['confirm'] === 'confirmAll' ? 'checked' : '' %>>
                        <label for="confirmYes">
                            <p>I <strong>can confirm:</strong></p>
                            <a id="confirmBoxes"></a>
                        </label>
                    </div>
                </div>
                <div class="govuk-form-group inset <%= error.isError('confirmBoxes') ? 'govuk-form-group--error' : '' %>" id="confirm">
                    <% if (error.isError('confirmBoxes')) { %>
                        <span class="govuk-error-message"><%= error.get('confirmBoxes') %></span>
                    <% } %>
                    <div class="multiple-choice smaller">
                        <input type="checkbox" id="pupilDetails" name="pupilDetails" value="checked" <% if (formData['pupilDetails']) {%> checked<% } %>>
                        <label class="govuk-label" for="pupilDetails">all eligible pupils have been included within my pupil register and their details are correct</label>
                    </div>
                    <div class="multiple-choice smaller">
                      <input type="checkbox" id="correctReasons" name="correctReasons" value="checked" <% if (formData['correctReasons']) {%> checked<% } %>>
                      <label class="govuk-label" for="uniquePins">all pupils not taking the check have the correct reason provided</label>
                  </div>
                    <div class="multiple-choice smaller">
                        <input type="checkbox" id="uniquePins" name="uniquePins" value="checked" <% if (formData['uniquePins']) {%> checked<% } %>>
                        <label class="govuk-label" for="uniquePins">all pupils who took the check used their unique PIN generated for them</label>
                    </div>
                    <div class="multiple-choice smaller">
                        <input type="checkbox" id="staffConfirm" name="staffConfirm" value="checked" <% if (formData['staffConfirm']) {%> checked<% } %>>
                        <label class="govuk-label" for="staffConfirm">all staff involved in the administration of the check confirmed that the check was administered in line with the check administration guidance</label>
                    </div>
                    <div class="multiple-choice smaller">
                      <input type="checkbox" id="disruptionConfirm" name="disruptionConfirm" value="checked" <% if (formData['disruptionConfirm']) {%> checked<% } %>>
                      <label class="govuk-label" for="disruptionConfirm">pupils were only allowed to restart the check because of a significant disruption in line with the check administration guidance</label>
                  </div>
                </div>

                <div class="govuk-form-group">
                  <div class="multiple-choice">
                      <input class="govuk-radios__input" id="confirmNone" type="radio" role="radio" name="confirm" value="confirmNone" <%= formData['confirm'] === 'confirmNone' ? 'checked' : '' %>>
                      <label class="govuk-label" for="confirmNone">
                          <p><strong>None of my pupils</strong> took the check, but all eligible pupils have been included within my pupil register, their details are correct and the correct ‘reason for not taking the check’ has been provided.</p>
                      </label>
                  </div>
              </div>

                <div class="govuk-form-group <%= error.isError('noConfirmSection') ? 'govuk-form-group--error' : '' %>">
                    <% if (error.isError('noConfirmSection')) { %>
                        <span class="govuk-error-message"><%= error.get('noConfirmSection') %></span>
                    <% } %>
                    <div class="multiple-choice">
                      <a id="noConfirmSection"></a>
                        <input class="govuk-radios__input" id="confirmNo" type="radio" role="radio" name="confirm" value="confirmNo" <%= formData['confirm'] === 'confirmNo' ? 'checked' : '' %>>
                        <label class="govuk-label" for="confirmNo">
                            <p>I am <strong>unable to confirm</strong> the statements above and have reported this to the Standards and Testing Agency (STA).  Please provide further information in the free text box below:</p>
                            <textarea id="noConfirmInfo" name="noConfirmInfo" class="govuk-textarea govuk-!-width-three-quarters" rows="3" maxlength="1000" aria-required="true"
                            aria-label="Enter further information." spellcheck="false" autocorrect="off"><%= formData['noConfirmInfo'] && formData['noConfirmInfo'].trim() %></textarea>
                        </label>
                        <div class="govuk-inset-text">
                            If you have not reported this to STA, please contact the national curriculum assessments helpline on 0300 303 3013 before submitting this declaration.  Failure to notify STA may result in a maladministration investigation.
                        </div>
                    </div>
                </div>
                <input type="submit" class="govuk-button govuk-!-margin-right-2" value="Submit" />
                <a class="govuk-button govuk-button--secondary" href="/school/school-home">Cancel</a>
            </form>
            <div class="govuk-back-to-top govuk-!-margin-top-5">
                <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                    <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                    </svg>Back to top
                </a>
            </div>
        </div>
    </div>
</main>
