<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <% if (error.hasError()) { %>
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    You need to fix the errors on this page before continuing.
                </h2>
                <div class="govuk-error-summary__body">
                    <p>See highlighted errors below.</p>
                    <ul class="govuk-list govuk-error-summary__list">
                        <% error.getUniqueFields(['firstName', 'lastName', 'jobTitle']).map(f => { %>
                            <% if (typeof error.get(f) !== 'boolean') { %>
                                <li><a href="#<%= f %>"><%= error.get(f) %></a></li>
                            <% } %>
                        <% }); %>
                    </ul>
                </div>
            </div>
        <% } %>
        <h1 class="govuk-heading-xl">Headteacher’s declaration form</h1>
        <%- partial('partials/_gds_session_expiry') %>
        <% if (!hdfEligibility) { %>
            <span class="govuk-heading-m">Currently unavailable</span>
            <p class="govuk-body">
              You cannot complete the HDF until all pupils have completed the check or have a reason recorded for not taking the check.
            <p/>
            <p class="govuk-body">
              You can view the status of your pupils and advise on next steps to take on the <a href="/pupil-status">See how many pupils have completed the official check</a> page.
            </p>
            <p class="govuk-body">
              Headteachers must submit the headteacher's declaration form by no later than 5pm on Friday 24 June.
            </p>
        <% } else { %>
            <p class="govuk-body">
              Headteachers must ensure that their school fully complies with the statutory arrangements for assessing the multiplication tables check.
              This form allows the headteacher to confirm the check administration guidance has been followed or indicate where there have been issues reported regarding administration of the check.

              <p class="govuk-body">
                This form should be submitted by no later than 5pm on Friday 23 June. In the absence of the headteacher, a delegated senior
                member of staff should submit this declaration.
              </p>
            </p>
            <form method="post" action="/attendance/submit-declaration-form" autocomplete="off">
                <input type="hidden" name="_csrf" value="<%= csrftoken %>" />
                <div class="govuk-form-group <%= error.isError('firstName') ? 'govuk-form-group--error' : '' %>">
                    <label class="govuk-label govuk-!-font-weight-bold" for="firstName">Submitter's first name
                        <% if (error.isError('firstName')) { %>
                            <span class="govuk-error-message"><%= error.get('firstName') %></span>
                        <% } %>
                    </label>
                    <input type="text"
                           id="firstName"
                           class="govuk-input govuk-!-width-one-half <%= error.isError('firstName') ? 'govuk-input--error' : '' %>"
                           name="firstName"
                           value="<%= formData['firstName'] %>"
                    />
                </div>
                <div class="govuk-form-group <%= error.isError('lastName') ? 'form-group-error' : '' %>">
                    <label class="govuk-label govuk-!-font-weight-bold" for="lastName">Submitter's last name
                        <% if (error.isError('lastName')) { %>
                            <span class="govuk-error-message"><%= error.get('lastName') %></span>
                        <% } %>
                    </label>
                    <input type="text"
                           id="lastName"
                           class="govuk-input govuk-!-width-one-half <%= error.isError('lastName') ? 'govuk-input--error' : '' %>"
                           name="lastName"
                           value="<%= formData['lastName'] %>"
                    />
                </div>
                <div class="govuk-form-group govuk-!-margin-top-5" id="headteacher">
                    <fieldset class="govuk-fieldset" role="radiogroup">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Are you the headteacher?</legend>
                        <div class="multiple-choice">
                            <input id="isheadteacher-yes"
                                   class="govuk-radios__input"
                                   type="radio"
                                   role="radio"
                                   name="isHeadteacher"
                                   value="Y"
                            <% if (!formData['isHeadteacher'] || formData['isHeadteacher'].toUpperCase() === 'Y') { %>
                                   checked="checked"
                                    <% } %>
                            />
                            <label class="govuk-label" for="isheadteacher-yes">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="isheadteacher-no"
                                   class="govuk-radios__input"
                                   type="radio"
                                   role="radio"
                                   name="isHeadteacher"
                                   value="N"
                            <% if (formData['isHeadteacher'] && formData['isHeadteacher'].toUpperCase() === 'N') { %>
                                   checked="checked"
                                    <% } %>
                            />
                            <label class="govuk-label" for="isheadteacher-no">No</label>
                            <div class="hide">
                                <div class="govuk-inset-text">
                                    <div class="govuk-form-group <%= error.isError('jobTitle') ? 'govuk-form-group--error' : '' %>">
                                        <div class="govuk-label" for="jobTitle">Job title</div>
                                        <span class="govuk-hint">For example, deputy headteacher</span>
                                        <% if (error.isError('jobTitle')) { %>
                                            <span class="govuk-error-message"> <%= error.get('jobTitle') %></span>
                                        <% } %>
                                        <textarea
                                                class="govuk-textarea govuk-!-width-three-quarters <%= error.isError('jobTitle') ? 'govuk-textarea--error' : '' %>"
                                                name="jobTitle"
                                                id="jobTitle"
                                                rows="1"
                                                maxlength="128"><%= formData['jobTitle'] %></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <input class="govuk-button" type="submit" value="Continue">
            </form>
        <% } %>
        </div>
    </div>
</main>
