<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">View submission</h1>
            <%- partial('partials/_gds_session_expiry') %>


            <p class="govuk-body"><strong>Name:</strong> <%= hdf.fullName %></p>
            <% if (hdf.headTeacher) { %>
                <p class="govuk-body"><strong>Role:</strong> Headteacher</p>
            <% } else {%>
                <p class="govuk-body"><strong>Role:</strong> <%= hdf.jobTitle %></p>
            <% } %>
            <p class="govuk-body"><strong>Date of submission:</strong> <%= signedDate %></p>
            <p class="govuk-body"><strong>Declaration:</strong></p>
            <% if (hdf.confirmed) { %>
                <p class="govuk-body">I can <strong>confirm</strong> the following statements about the
                    administration of the multiplication tables check:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>all <a class="govuk-link" href="/pupil-register/pupils-list">pupil details</a> are correct</li>
                    <li>each pupil who took the check used the unique PIN generated for them</li>
                    <li>the check was administered according to
                        the <a href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">check administration guidance</a>.</li>
                </ul>
            <% } else {%>
                <p class="govuk-body">I am <strong>unable to confirm</strong> the statements above</p>
            <% } %>
            <div class="govuk-back-to-top govuk-!-margin-top-9">
                <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                    <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                    </svg>Back to top
                </a>
            </div>
        </div>
    </div>
</main>
