<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">View submission</h1>
            <%- partial('partials/_gds_session_expiry') %>


            <p class="govuk-body"><strong>Name:</strong> <%= hdf.fullName %></p>
            <% if (hdf.headTeacher) { %>
                <p class="govuk-body"><strong>Role:</strong> Headteacher</p>
            <% } else {%>
                <p class="govuk-body"><strong>Role:</strong> <%= hdf.jobTitle %></p>
            <% } %>
            <p class="govuk-body"><strong>Date of submission:</strong> <%= signedDate %></p>
            <p class="govuk-body"><strong>Declaration:</strong></p>
            <% if (hdf.hdfStatusCode === 'YES') { %>
                <p class="govuk-body">I <strong>confirm</strong> that my school administered the multiplication tables check according to the arrangements set out in the guidance, and in particular:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a class="govuk-link" href="/pupil-register/pupils-list">pupil details</a> are correct</li>
                    <li>each pupil who took the check used the unique PIN generated for them</li>
                    <li>all staff involved in the administration of the check have confirmed to me that the check was administered according to the statutory arrangements</li>
                </ul>
            <% } else if (hdf.hdfStatusCode === 'NOC') {%>
                <p class="govuk-body">I am <strong>unable to confirm</strong> the statements above and have reported this to the Standards and Testing Agency (STA)</p>
                <div class="govuk-inset-text">
                    <p>If you have not reported this to the STA, please contact the national curriculum assessments helpline on 0300 303 3013 before submitting this declaration.</p>
                </div>
            <% } else if (hdf.hdfStatusCode === 'NON') {%>
              <p class="govuk-body"><strong>None of my pupils</strong> took the check, but all eligible pupils have been included within my pupil register, their details are correct and the correct ‘reason for not taking the check’ has been provided.</p>
              <div class="govuk-inset-text">
                  <p>If you have not reported this to the STA, please contact the national curriculum assessments helpline on 0300 303 3013 before submitting this declaration.</p>
              </div>
            <% } %>
            <div class="govuk-back-to-top govuk-!-margin-top-9">
                <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                    <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                    </svg>Back to top
                </a>
            </div>
        </div>
    </div>
</main>
