<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge" tabindex="0">Manage check windows</h1>

        <p class="lede">Create, edit or remove check windows. Test development will be responsible for assigning check forms to the check windows created here.</p>

        <p>
            <input class="button" type="submit" value="Create new check window">
        </p>

        <br />
        <div class="panel panel-border-wide">Check will be open for schools on weekdays between 8am to 3:30pm </div>

        <table class="spacious" id="pupilsList" role="listbox" aria-label="List of pupils to take check.">
            <thead>
                <tr>
                    <th scope="col">Check window</th>
                    <th scope="col">Administration start date</th>
                    <th scope="col">Check period</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <% if (checkWindowList.length > 1) { %>
                <% checkWindowList.forEach( (checkWindow, index) => { %>
                <tr>
                    <td><%= checkWindow.checkWindowName %></td>
                    <td><%= checkWindow.adminStartDate %></td>
                    <td><%= checkWindow.checkStartDate + ' - ' + checkWindow.checkEndDate %></td>
                    <td>Remove</td>
                </tr>
                <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>

    <div class="column-one-third sidebar-top-border" tabindex="0" role="group" aria-label="sidebar">
        <h3 class="heading-medium" tabindex="0">Before you start</h3>
        <ul class="list">
            <li>
                <a href="/PDFs/MTC_administration_guidance_June-2017-trial.pdf" target="_blank">Guidance</a>
            </li>
            <li>
                <a href="#">Adjust questions timings</a>
            </li>
        </ul>
        <h3 class="heading-medium" tabindex="0">After check</h3>
        <ul class="list">
            <li>
                <a href="#">Progress report</a>
            </li>
        </ul>
    </div>
</div>
