<h1><%= message %></h1>

<%- partial('partials/_session_expiry') %>

<h2>Error code: <%= errorCode %></h2>
<p>ID: <%= errorId %></p>
<% if (!!userMessage) { %>
<p><%= userMessage %></p>
<% } %>
<pre><%= error.stack %></pre>
