<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl"><%= message %></h1>

        <%- partial('partials/_session_expiry') %>

        <h2 class="govuk-heading-l">Error code: <%= errorCode %></h2>
        <p class="govuk-body">ID: <%= errorId %></p>
        <% if (!!userMessage) { %>
        <p class="govuk-body"><%= userMessage %></p>
        <% } %>
        <pre><%= error.stack %></pre>
    </div>
</main>
