<h1><%= message %></h1>

<%- partial('partials/_session_expiry') %>

<h2>Error code: <%= errorCode %></h2>
<p>ID: <%= errorId %></p>
<% if (typeof mtcInfo !== 'undefined') { %>
<h2>MTC Information</h2>
<p><%- mtcInfo %></p>
<% } %>
<pre><%= error.stack %></pre>
