<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <%- partial('partials/_gds_head') %>

  <body class="govuk-template__body">
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%- partial('partials/_body_start') %>

    <%- partial('partials/_gds_cookie_message') %>

    <%- partial('partials/_gds_body_header') %>

    <%- partial('partials/_gds_content', {body: body}) %>

    <%- partial('partials/_gds_body_footer') %>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/layout.js"></script>

  </body>
</html>
